name:               {{ stack_constraint_attributes.matches[0].constraint.description }}
filename:           {{ maintenance_plan_id }}.yaml
target:             {{ stack_attributes.matches[4].constraint.description }}
maintenance_plan:   {{ maintenance_plan_id }}
version:            1
platform:           "HANA"
InstanceType:       {{ stack_attributes.matches[1].constraint.value }}


product_ids:
{% for component in components %}
{% if component.id.endswith('HA') %}
{{   '  %-30s' | format(component.name | upper | trim+'HA:') }} {{ '%s' | format(component.id | trim) }}
{% else %}
{{   '  %-30s' | format(component.name | upper | trim+':') }} {{ '%s' | format(component.id | trim) }}
{% endif %}
{% endfor %}
{{   '  %-30s' | format('CREATEUSERS' | upper | trim+':') }} {{ '%s' | format('NW_Users_Create:GENERIC.HDB.PD' | trim) }}
{{   '  %-30s' | format('WEBDISPATCHER' | upper | trim+':') }} {{ '%s' | format('NW_Webdispatcher:NW750.IND.PD' | trim) }}

materials:
  media:
{% for item in downloads_dir_files %}
{%   set filename = (item.path | basename) %}
{{'    %-16s' | format('- name:' | trim) }}{{'%s'   | format(filename) }}
{{'      %-13s' | format('archive:' | trim) }}{{' %s' | format(filename) }}
{{'      %-12s' | format('download:' | trim) }}{{'  %s' | format('true') }}
{%     if filename.startswith('SWPM') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('SWPM') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     elif filename.startswith('SUM') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('SUM') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     elif filename.startswith('IMDB_CLIENT') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('CD_HDBCLIENT') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('creates:' | trim) }}{{'  %s' | format('SIGNATURE.SMF') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     elif filename.startswith('IMDB_SERVER') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('CD_HDBSERVER') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('creates:' | trim) }}{{'  %s' | format('SIGNATURE.SMF') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     elif filename.startswith('IMDB_AFL') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('CD_HDBSERVER/COMPONENTS') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('creates:' | trim) }}{{'  %s' | format('COMPONENTS/SAP_HANA_AFL/packages') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     elif filename.startswith('VCH20') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('CD_HDBSERVER/COMPONENTS') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     elif filename.startswith('VCH19') %}
{{'      %-12s' | format('extractDir:' | trim) }}{{'  %s' | format('CD_HDBSERVER/COMPONENTS') }}
{{'      %-12s' | format('extract:' | trim) }}{{'  %s' | format('true') }}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     else %}
{{'      %-12s' | format('path:' | trim) }}{{'  %s' | format('download_basket') }}
{%     endif %}

{% endfor %}
