name:          {{ stack_constraint_attributes.matches[0].constraint.description }}
filename:      {{ maintenance_plan_id }}.yaml
target:        {{ stack_attributes.matches[4].constraint.description }}
version:       1
platform:      "HANA"
InstanceType:  {{ stack_attributes.matches[1].constraint.value }}


product_ids:
{% for component in components %}
{% if component.id.endswith('HA') %}
{{ '%-16s' | format(component.name | trim+'ha:') }} {{ '\"%s\"' | format(component.id | trim) }}
{% else %}
{{ '%-16s' | format(component.name | trim+':') }} {{ '\"%s\"' | format(component.id | trim) }}
{% endif %}
{% endfor %}

materials:
  media:
{% for item in downloads_dir_files %}

{{'    %-16s' | format('- name:' | trim) }}{{'\"%s\"'   | format(item | basename) }}
{{'    %-13s' | format('archive:' | trim) }}{{' \'%s\'' | format(item | basename) }}

{% endfor %}
