{#
Outline:
  1) Loop over all the hosts in the playbook
  2) For each host, loop over all the network interfaces except 'lo' (localhost)
  3) Check for ipv4 configuration the interface
  4) If the interface is eth0
       True : This is the primary NIC and IP for the host
       False: This is a Secondary NIC with primary IP for this NIC
  5) If the NIC has secondary IP adresses assigned loop over them and
     insert comment for unhandled configuration

Examples:
  hosts file (should look similar to this):
      # X01
      10.1.2.42          x01app00l2e7.sap.contoso.com                      x01app00l2e7
      10.1.2.43          x01app01l2e7.sap.contoso.com                      x01app01l2e7
      10.1.2.5           x01dhdb00l02e7.sap.contoso.com                    x01dhdb00l02e7
      10.1.2.68          x01dhdb00l02e7eth1_0.sap.contoso.com              x01dhdb00l02e7eth1_0
      10.1.2.38          x01scs00l2e7.sap.contoso.com                      x01scs00l2e7
      10.1.2.26          x01web00l2e7.sap.contoso.com                      x01web00l2e7

  play_hosts (flat list of host names to loop over):
      x01app00l2e7
      x01app01l2e7
      x01dhdb00l02e7
      x01scs00l2e7
      x01web00l2e7

  ansible_interfaces (a sorted list could look like this):
      eth0
      eth1
      eth2
      eth3
      lo                       <-- we want to omit this entry

  interface (On a grand run this is what all the servers and their associated NICs might look like):
      x01app00l2e7
          eth0
          eth1
      x01app01l2e7
          eth0
          eth1
      x01dhdb00l02e7
          eth0
          eth1
          eth2
          eth3
      x01scs00l2e7
          eth0
      x01web00l2e7
          eth0

Notes:
    1) any blank lines, that are not in the comment sections, will be reflected
       in the hosts file.

0.........1.........2.........3.........4.........5.........6.........7.........8

#}
# {{ sap_sid|upper }}
# {{ ansible_play_hosts|length }} Hosts
{#

Loop through all the hosts that are referenced by the Playbook.
If we do not sort it, then the order can change randomly.
This is not a problem, but it makes it harder to compare the output
Use azure instance metadata to get the IP addresses for the current host.
This standardizes the values across all hosts and is not dependent on the
ansible_facts.

#}

{# This template generates host entries based on the provided data #}
{% for host in ansible_play_hosts|sort %}
{# Set variables for the current host #}
{% set virtual_host_name = hostvars[host]['virtual_host'] %}
{# Determine the IPs for the current host from ipaddr variable. Do not sort it, the order is already correct. #}
{% set host_ips = hostvars[host]['ipadd'] %}

{# Check if there are IPs available for the current host #}
{% if host_ips %}
{# Print the primary host entry #}
{{ '%-19s' | format(host_ips[0]) }}{{ '%-80s ' | format(host + '.' + sap_fqdn) }}{{ '%-21s' | format(host) }}

{# If there's only one IP, also use it for the virtual_host #}
{% if host_ips|length == 1 %}
{{ '%-19s' | format(host_ips[0]) }}{{ '%-80s ' | format(virtual_host_name + '.' + sap_fqdn) }}{{ '%-21s' | format(virtual_host_name) }}
{% else %}
{# Loop through remaining IPs for the virtual host #}
{% for ip in host_ips[1:] %}
{{ '%-19s' | format(ip) }}{{ '%-80s ' | format(virtual_host_name + '.' + sap_fqdn) }}{{ '%-21s' | format(virtual_host_name) }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

