# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---

###########################################################################################
# This file calls the OS specific tasks to configure DB2 specific clustering resources  #8
###########################################################################################


# Clustering commands are based on the Host OS
- name:                                "5.7.3 DB2 Pacemaker - Cluster based on OS in VM"
  ansible.builtin.include_tasks:       "5.7.3.0-cluster-{{ ansible_os_family }}.yml"

...
