################
# Filename......: listener.ora
# Created.......: created by SAP AG, R/3 Rel. >= 6.10
# Name..........:
# Date..........:
# @(#) $Id: //inst/inst_scripts/slinst_d_stream/tpls/ora/LISTENER.ORA#3 $
################
ADMIN_RESTRICTIONS_LISTENER = on
LISTENER =
  (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = IPC)
          (KEY = {{ db_sid  | upper }}.WORLD)
        )
        (ADDRESS=
          (PROTOCOL = IPC)
          (KEY = {{ db_sid  | upper }})
        )
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ansible_hostname }})
          (PORT = 1521)
        )
  )
STARTUP_WAIT_TIME_LISTENER = 0
CONNECT_TIMEOUT_LISTENER = 10
TRACE_LEVEL_LISTENER = OFF
SID_LIST_LISTENER =
  (SID_LIST =
    (SID_DESC =
      (SID_NAME = {{ db_sid | upper }})
      (ORACLE_HOME = /oracle/{{ db_sid | upper }}/{{ ora_release }})
    )
  )
ADR_BASE_LISTENER = /oracle/{{ db_sid  | upper }}/saptrace