################
# Filename......: tnsnames.ora
# Created.......: created by SAP AG, R/3 Rel. >= 6.10
# Name..........:
# Date..........:
# @(#) $Id: //inst/inst_scripts/lmts_006_REL/tpls/ora/TNSNAMES.ORA#2 $
################
{{ db_sid | upper }}.WORLD=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ansible_hostname }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid | upper }})
       (SERVICE_NAME = {{ db_sid | upper }}.WORLD )
    )
  )