- name:                                "4.0.5. SAP HANA Version - Check installation media exists"
  ansible.builtin.stat:
    path:                              "{{ target_media_location }}/CD_HDBSERVER/SAP_HANA_DATABASE/hdblcm"
  register:                            hdblcm_found

- name:                                "ErrorHandling"
  ansible.builtin.fail:
    msg:                               "INSTALL:0001:Unable to find hdblcm, please check that the installation media is mounted"
  when: not hdblcm_found.stat.exists

- name:                                "4.0.5. SAP HANA Version - Check SP version from manifest"
  ansible.builtin.shell: |
                                       set -o pipefail
                                       grep sp-number manifest | cut -d ":" -f 2 | tr -d [:space:]
  args:
    chdir:                             "{{ target_media_location }}/CD_HDBSERVER/SAP_HANA_DATABASE/server"
  register:                            manifest_hana_sp

- name:                                "4.0.5. SAP HANA Version - Show SP level"
  ansible.builtin.debug:
    msg:                               "HANA SP Level: {{ manifest_hana_sp.stdout }}"

- name:                                "4.0.5. SAP HANA Version - Set fact when sps is 08 or higher"
  ansible.builtin.set_fact:
    HANA_version:                      "{{ manifest_hana_sp.stdout }}"
