# Ansible Configuration Files:
# http://docs.ansible.com/ansible/latest/reference_appendices/config.html
# https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
# https://github.com/fdavis/ansible-best-practices/blob/master/ansible.cfg

[defaults]

display_skipped_hosts = False
conditional_bare_variables = False
interpreter_python = auto_silent
callbacks_enabled = profile_tasks
#stdout_callback = json
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
host_key_checking = False
error_on_undefined_vars = True
log_path = /var/log/ansible.log

[connection]
# ServerAliveInternal - Coming from Achmea, keeps the connection alive and
# prevent timeouts.
ssh_args=-C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=300 -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
