[defaults]
conditional_bare_variables = False
interpreter_python = auto_silent
callback_whitelist = profile_tasks
#stdout_callback = json

[ssh_connection]
# https://github.com/fdavis/ansible-best-practices/blob/master/ansible.cfg
# if uncommented, sets the ansible ssh arguments to the following.  Leaving off ControlPersist
# will result in poor performance, so use transport=paramiko on older platforms rather than
# removing it

ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r

