# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                       Prepare for SAP APP Install                          |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---

- hosts:                               localhost
  name:                                Get SAP Password from KeyVault
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults
  tasks:

    - name:                            Create Progress folder
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress"
        state:                         directory
        mode:                          0755 

    - name:                            Remove app-install-done flag
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/app-install-done"
        state:                          absent

    - name:                            Include 0.1 passwords role
      ansible.builtin.include_role:
        name:                          roles-misc/0.1-passwords
        public:                        true
      tags:
        - 0.1-passwords


# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                       Playbook for SAP APP Install                         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- hosts:                               "{{ sap_sid|upper }}_APP"

  name:                                SAP Installation - APP
  serial:                              1                                        # Cause App Servers to install sequentially
  remote_user:                         "{{ orchestration_ansible_user }}"
  become:                              true
  become_user:                         root
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                                               # API Input template with defaults


  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8
    - name:                            Set 'app' tier facts
      ansible.builtin.set_fact:
        tier:                          app                                     # SAP Install phase: APP - Application Server
        main_password:                 "{{ hostvars.localhost.sap_password }}"

    - block:
        - name:                        Include 2.6-sap-mounts role
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.6-sap-mounts
      tags:
        - 2.6-sap-mounts

    - block:
        - name:                        Include 5.3-app-install
          ansible.builtin.include_role:
            name:                      roles-sap/5.3-app-install
          vars:
            instance_number:           "{{ app_instance_number }}"
      always:
        - name:                        Get the error lines
          ansible.builtin.set_fact:
            error_lines:               "{{ error_lines | default([]) + [item] }}"
          with_items:                  "{{ app_installation.stdout_lines }}"
          when:
            - app_installation.stdout_lines is defined
            - '"ERROR" in item'

        - name:                        Include 7.0.0-post-install role
          ansible.builtin.include_role:
            name:                      roles-sap/7.0.0-post-install
          vars:
            suffix:                    "_APP"
            prefix:                    "{{ bom.product_ids.dbl.replace('.','/').replace('/ABAP','').split(':')[1] }}"
            path:                      '/INSTALL/HA/ABAP/APPX'
            tier:                      'app'
          when:                        db_high_availability

        - name:                    Include 7.0.0-post-install role
          ansible.builtin.include_role:
            name:                  roles-sap/7.0.0-post-install
          vars:
            suffix:                "_APP"
            prefix:                "{{ bom.product_ids.dlb.replace('.','/').replace('/ABAP','').split(':')[1] }}"
            path:                  '/INSTALL/DISTRIBUTED/ABAP/APPX'
            tier:                  'app'
          when:                    not db_high_availability


        - name:                    Errors from APP installation
          ansible.builtin.fail:
            msg:                   "{{ error_lines }}"
          when:
            - error_lines is defined
      tags:
        - 5.3-app-install

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                       Playbook for SAP APP Logging                         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- hosts:                               localhost
  name:                                Log results
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:
    - name:                            Remove app-install-done flag
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/app-install-done"
        state:                         touch
        mode:                          0755


...
# /*---------------------------------------------------------------------------8
# |                                    END                                     |
# +------------------------------------4--------------------------------------*/
