# /*----------------------------------------------------------------------------8
# |                                                                            |
# |         Playbook for preparing for SAP specific OS configuration tasks     |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---

- hosts:                               localhost
  name:                                "SAP OS configuration playbook: - Initialization"
  gather_facts:                        false
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:

    - name:                            "SAP OS configuration playbook: - Create Progress folder"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress"
        state:                         directory
        mode:                          0755

    - name:                            "SAP OS configuration playbook: - Remove sap-os-install-done flag"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/sap-os-configuration-done"
        state:                          absent


# /*----------------------------------------------------------------------------8
# |                                                                            |
# |         Playbook for performing SAP specific OS configuration tasks        |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- hosts:                               "{{ sap_sid|upper }}_DB  :
                                        {{ sap_sid|upper }}_SCS :
                                        {{ sap_sid|upper }}_ERS :
                                        {{ sap_sid|upper }}_PAS :
                                        {{ sap_sid|upper }}_APP :
                                        {{ sap_sid|upper }}_WEB :
                                        {{ sap_sid|upper }}_OBSERVER_DB"

  name:                                 OS - SAP specific configuration
  remote_user:                          "{{ orchestration_ansible_user }}"
  become:                               true
  become_user:                          root
  gather_facts:                         true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults


  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8
    - name:                            "SAP OS configuration playbook: - Set sapos fact"
      ansible.builtin.set_fact:
        tier:                          sapos                                     # Actions for HANA DB Serve
      tags:
        - always

    - block:
        - name:                        "SAP OS configuration playbook: - Create hosts file"
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.4-hosts-file
      tags:
        - 2.4-hosts-file

    - block:
        - name:                        "SAP OS configuration playbook: - Ensure the repositories are registered"
          ansible.builtin.include_role:
            name:                      roles-os/1.3-repository
      tags:
        - 1.3-repository

    - block:
        - name:                        "SAP OS configuration playbook: - Configure accounts"
          ansible.builtin.include_role:
            name:                      roles-os/1.11-accounts
      tags:
        - 1.11-accounts

    - block:
        - name:                        "SAP OS configuration playbook: - Ensure the packages are registered"
          ansible.builtin.include_role:
            name:                      roles-os/1.4-packages
      tags:
        - 1.4-packages

    - block:
        - name:                        "SAP OS configuration playbook: - Configure volume groups, logical volumes and file systems"
          ansible.builtin.include_role:
            name:                      roles-os/1.5-disk-setup
          when:       ( node_tier != "oracle-multi-sid" or node_tier != "oracle-asm" )
      tags:
        - 1.5-disk-setup

    - block:
        - name:                        Include 1.5.2-disk-setup-ora-multi-sid role
          ansible.builtin.include_role:
            name:                      roles-os/1.5.2-disk-setup-ora-multi-sid
          when:
            node_tier == "oracle-multi-sid"
      tags:
        - 1.5.2-disk-setup-ora-multi-sid


    - block:
        - name:                        Include 1.9-kernelparameters role
          ansible.builtin.include_role:
            name:                      roles-os/1.9-kernelparameters
      tags:
        - 1.9-kernelparameters

    - block:
        - name:                        "SAP OS configuration playbook: - Create SAP users/groups"
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.5-sap-users
      tags:
        - 2.5-sap-users

    - block:
        - name:                        Include 1.16-services role
          ansible.builtin.include_role:
            name:                      roles-os/1.16-services
      tags:
        - 1.16-services

    - block:
        - name:                        "SAP OS configuration playbook: - directory permissions"
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.2-sapPermissions
      tags:
        - 2.2-sapPermissions

    - block:
        - name:                        "SAP OS configuration playbook: - configure exports"
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.3-sap-exports
      tags:
        - 2.3-sap-exports

    - block:
        - name:                        Include 2.6-sap-mounts role
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.6-sap-mounts
          when:                        node_tier != "oracle-asm"
      tags:
        - 2.6-sap-mounts

    - block:
        - name:                        "SAP OS configuration playbook: - Configurations according to SAP Notes"
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.10-sap-notes
      tags:
        - 2.10-sap-notes

# /*----------------------------------------------------------------------------8
# |                                                                            |
# |     Logging for performing SAP specific OS configuration tasks             |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

    - name:                            "SAP OS configuration playbook: - Create sap-os-install-done flag"
      delegate_to:                     localhost
      become:                          false
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/sap-os-configuration-done"
        state:                         touch
        mode:                          0755

...
# /*----------------------------------------------------------------------------8
# |                                    END                                      |
# +------------------------------------4--------------------------------------*/
