# /*----------------------------------------------------------------------------8
# |                                                                            |
# |                      Playbook for HANA DB HSR                          |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---

- hosts:                               localhost
  name:                                Get SAP Password from KeyVault
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml      # API Input template with defaults
  tasks:

    - name:                            Initialization
      block: 
        - name:                            Initialize facts
          set_fact:
            tier:                          fencing
    
        - name:                            Run the misc/password role
          include_role:
            name:                          roles-misc/0.1-passwords
            public:                        true
          tags:
            - 0.1-passwords
    
        - name:                            Run the keyvault role
          include_role:
            name:                          roles-misc/0.2-kv-secrets
          tags:
            - kv-secrets
    
        - name:                            Ensure step file is removed
          ansible.builtin.file:
            path:                          "{{ _workspace_directory }}/.step401"
            state:                         absent
      when:                            db_high_availability


# Steps:
#   01) Hana DB system replication
#

- hosts:                               "{{ sap_sid|upper }}_DB"

  name:                                HANA HA Configuration
  remote_user:                         "{{ orchestration_ansible_user }}"
  become:                              true
  become_user:                         root
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8

    - name:                            "Install HSR"
      block:
        - name:                        Initialize facts
          set_fact:
            tier:                      hdb                                      # Actions for HANA DB Servers
            primary_instance_name :    "{{ ansible_play_hosts_all[0] }}"        # Setting up Primary Instance Name
            secondary_instance_name:   "{{ ansible_play_hosts_all[1] }}"        # Setting up Secondary Instance Name
            main_password:             "{{ hostvars.localhost.sap_password }}"

        - block:
            - name:                    Include 1.4-packages role
              ansible.builtin.include_role:
                name:                  roles-os/1.4-packages
          tags:
            - 1.4-packages

        - block:
            - name:                    Run the db/hdb-hsr role
              include_role:
                name:                  roles-db/4.0.1-hdb-hsr
          tags:
            - 4.0.1-hdb-hsr
      when:                            db_high_availability

    - name:                            "Install HANA Pacemaker resources"
      block:

        - name:                        Initialize facts
          set_fact:
            tier:                      ha
            password_ha_db_cluster:    "{{ hostvars.localhost.db_cluster_password }}"
            main_password:             "{{ hostvars.localhost.sap_password }}"
            primary_instance_name:     "{{ ansible_play_hosts_all[0] }}"         # Setting up Primary Instance Name
            secondary_instance_name:   "{{ ansible_play_hosts_all[1] }}"         # Setting up Secondary Instance Name
            sap_hana_fencing_spn_client_id:  "{{ hostvars.localhost.sap_fencing_spn_client_id }}"
            sap_hana_fencing_spn_client_pwd: "{{ hostvars.localhost.sap_fencing_spn_pwd }}"
            sap_hana_fencing_spn_tenant_id:  "{{ hostvars.localhost.sap_fencing_spn_tenant_id }}"
          tags:
            - always

        - block:
            - name:                    Run the hana sudoers role
              include_role:
                name:                  roles-os/1.11-accounts
                tasks_from:            setup_hanausers_sudoers.yml
              when:                    1==2
          tags:
            - 1.11-accounts
        - block:
            - name:                    Run the Pacemaker role
              include_role:
                name:                  roles-sap/5.5-hanadb-pacemaker
              when:                    db_high_availability
          tags:
            - 5.5-hanadb-pacemaker

      when:                            db_high_availability

- hosts:                               localhost
  name:                                Log results
  vars_files:
    - vars/ansible-input-api.yaml      # API Input template with defaults
  tasks:
    - name:                            Ensure step file exists
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.step401"
        state:                         touch
        mode:                          0755
      when:                            db_high_availability


...
# /*----------------------------------------------------------------------------8
# |                                    END                                      |
# +------------------------------------4--------------------------------------*/
