# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                      Prepare for SAP DB Load                               |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---

- hosts:                               localhost
  name:                                Get SAP Password from KeyVault
  gather_facts:                        false
  vars_files:
    - vars/ansible-input-api.yaml
    # API Input template with defaults

  tasks:

    - name:                            Create Progress folder
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress"
        state:                          directory
        mode:                          0755

    - name:                            Remove db-load-done flag
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/db-load-done"
        state:                          absent

    - name:                            Initialize tier
      ansible.builtin.set_fact:
        tier:                          dbload

    - name:                            Include 0.1-passwords Role
      ansible.builtin.include_role:
        name:                          roles-misc/0.1-passwords
        public:                        true
      tags:
        - 0.1-passwords

    - name:                            Run the sap-installation-media-storage-details role
      include_role:
        name:                          roles-misc/0.3.sap-installation-media-storage-details
        public:                        true

      tags:
        - kv-sap-installation-media-storage-details

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                      Playbook for SAP DB Load                              |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- hosts:                               "{{ sap_sid|upper }}_DB  :
                                        {{ sap_sid|upper }}_SCS :
                                        {{ sap_sid|upper }}_PAS"

  name:                                DB Installation - HANA
  remote_user:                         "{{ orchestration_ansible_user }}"
  become:                              true
  become_user:                         root
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8
    - name:                            Load the SAP parameters
      include_vars:                    "{{ _workspace_directory }}/sap-parameters.yaml"

    - name:                            Load the SAP parameters
      ansible.builtin.debug:
        var:                           platform


    - name:                            "Perform DB Load on HANA"
      block:
        - name:                        Setting the dbload facts
          ansible.builtin.set_fact:
            tier:                      dbload                                                          # SAP Install phase: DBLOAD
            main_password:             "{{ hostvars.localhost.sap_password }}"
            sapbits_location_base_path: "{{ hostvars.localhost.sapbits_location_base_path }}"
            sapbits_sas_token:         "{{ hostvars.localhost.sapbits_sas_token }}"
            bom_processing:            true
          tags:
            - always

        - block:
            - name:                    Include 5.1-dbload role
              ansible.builtin.include_role:
                name:                  roles-sap/5.1-dbload
          always:

            - name:                    Include 7.0.0-post-install role
              ansible.builtin.include_role:
                name:                  roles-sap/7.0.0-post-install
              vars:
                suffix:                '_DBLOAD'
                prefix:                "{{ bom.product_ids.dbl.replace('.','/').replace('/ABAP','').split(':')[1] }}"
                path:                  '/INSTALL/DISTRIBUTED/ABAP/DB'
                tier:                  'dbload'

            - name:                    Get the error lines
              ansible.builtin.set_fact:
                error_lines:           "{{ error_lines | default([]) + [item] }}"
              with_items:              "{{ dbload.stdout_lines }}"
              when:
                - dbload is defined
                - dbload.stdout_lines is defined
                - '"ERROR" in item'

            - name:                    Errors from SAPInst
              ansible.builtin.debug:
                msg:                   "{{ error_lines }}"
              when:
                - error_lines is defined
          tags:
            - 5.1-dbload

      when:
        - platform == 'HANA'
        - "'pas' in supported_tiers"

# /*----------------------------------------------------------------------------8
# |                                                                            |
# |                      Playbook for Oracle DB Load                           |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- hosts:                               "{{ sap_sid|upper }}_DB"

  name:                                DB Installation - ORACLE
  remote_user:                         "{{ orchestration_ansible_user }}"
  become:                              true
  become_user:                         root
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8
    - name:                            "Perform DB Load on Oracle"
      block:
        - name:                        Setting the dbload facts
          ansible.builtin.set_fact:
            tier:                      dbload                                                          # SAP Install phase: DBLOAD
            main_password:             "{{ hostvars.localhost.sap_password }}"
            sapbits_location_base_path: "{{ hostvars.localhost.sapbits_location_base_path }}"
            sapbits_sas_token:         "{{ hostvars.localhost.sapbits_sas_token }}"
          tags:
            - always

        - name:                        Include 5.1-dbload role
          ansible.builtin.include_role:
            name:                      roles-sap/5.1-dbload
      when:                            platform == 'ORACLE'

# /*----------------------------------------------------------------------------8
# |                                                                            |
# |                         DB LOAD LOGGING                                    |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- hosts:                               localhost
  name:                                Log results
  gather_facts:                        false
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:
    - name:                           Create db-load-done flag
      ansible.builtin.file:
        path:                         "{{ _workspace_directory }}/.progress/db-load-done"
        state:                        touch
        mode:                         0755

...
# /*----------------------------------------------------------------------------8
# |                                    END                                      |
# +------------------------------------4--------------------------------------*/
