# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                 Playbook for SAP Web Dispatcher Install                    |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

# -------------------------------------+---------------------------------------8
# Role: 5.4 Web Dispatcher Installation
#
# Description:
#
# -------------------------------------+---------------------------------------8

---

- hosts:                               localhost
  name:                                "WEB Installation Playbook: - Initialization"
  gather_facts:                        false
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:

    - name:                            "WEB Installation Playbook: - Create Progress folder"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress"
        state:                         directory
        mode:                          0755

    - name:                            "WEB Installation Playbook: - Remove web-install-done flag"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/web-install-done"
        state:                          absent

    - name:                            "WEB Installation Playbook: - Set pas fact"
      ansible.builtin.set_fact:
        tier:                          pas

    - name:                            "WEB Installation Playbook: - Read/Create passwords"
      ansible.builtin.include_role:
        name:                          roles-misc/0.1-passwords
        public:                        true
      tags:
        - 0.1-passwords

    - name:                            "WEB Installation Playbook: - Read storage account details"
      ansible.builtin.include_role:
        name:                          roles-misc/0.3.sap-installation-media-storage-details
        public:                        true
      vars:
        tier:                          web
      tags:
        - kv-sap-installation-media-storage-details

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                 Playbook for SAP Web Dispatcher Install                    |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- hosts:                               "{{ sap_sid|upper }}_WEB"

  name:                                SAP Installation - WebDispatcher
  become:                              true
  remote_user:                         "{{ orchestration_ansible_user }}"
  serial:                              1                                       # "{{ target_media_location }} is an NFS and we share SID/instance number
  become_user:                         root
  gather_facts:                        true

  vars_files:
    - vars/ansible-input-api.yaml                                               # API Input template with defaults

  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8
    - name:                            "WEB Installation Playbook: - Set 'web' tier facts"
      ansible.builtin.set_fact:
        tier:                          web
        main_password:                 "{{ hostvars.localhost.sap_password }}"
        sapbits_location_base_path:    "{{ hostvars.localhost.sapbits_location_base_path }}"
        sapbits_sas_token:             "{{ hostvars.localhost.sapbits_sas_token }}"
        always_upload_jinja_templates: false

      tags:
        - always

    - block:
        - name:                        "WEB Installation Playbook: - run SAPInst"
          ansible.builtin.include_role:
            name:                      roles-sap/5.4-web-install
      always:
        - name:                        "WEB Installation Playbook: - Get the Error lines from installation output"
          ansible.builtin.set_fact:
            error_lines:               "{{ error_lines | default([]) + [item] }}"
          with_items:                  "{{ web_installation.stdout_lines }}"
          when:
            - web_installation.stdout_lines is defined
            - '"ERROR" in item'

        - name:                        "WEB Installation Playbook: - Show from WEB installation"
          ansible.builtin.debug:
            msg:                       "{{ error_lines }}"
          when:
            - error_lines is defined


    - name:                            "WEB Installation Playbook: - Create web-install-done flag"
      delegate_to:                     localhost
      become:                          false
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/web-install-done"
        state:                         touch
        mode:                          0755

      tags:
        - 5.4-web-install


...
# /*---------------------------------------------------------------------------8
# |                                    END                                     |
# +------------------------------------4--------------------------------------*/
