# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                 Playbook for SAP Functional Tests (sap-automation-qa)      |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---

- hosts:                               localhost
  name:                                "SAP Functional Tests: - setup deployer"
  gather_facts:                        true
  vars_files:                          vars/ansible-input-api.yaml
  tasks:
    - name:                            "SAP Functional Tests: - Create Progress folder"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress"
        state:                         directory
        mode:                          0755

    - name:                            "SAP Functional Tests: - Remove sap-funtional-test flag"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/sap-functional-tests-done"
        state:                          absent

    - name:                            "SAP Functional Tests: - setup prerequisites"
      ansible.builtin.include_role:
        name:                          "roles-misc/0.10-sap-functional-tests"
        tasks_from:                    setup.yaml


- name:                                "SAP Functional DB: Tests run checks"
  ansible.builtin.import_playbook:     "/opt/microsoft/sap_functional_tests/src/playbook/playbook_00_ha_db_functional_tests.yml"
  when:
    - sap_functional_test_type == "DatabaseHighAvailability"

- name:                                "SAP Functional: Tests run checks"
  ansible.builtin.import_playbook:     "/opt/microsoft/sap_functional_tests/src/playbook/playbook_00_ha_scs_functional_tests.yml"
  when:
    - sap_functional_test_type == "CentralServicesHighAvailability"

- hosts:                               localhost
  name:                                "SAP Functional Tests: - Done"
  gather_facts:                        true
  vars_files:                          vars/ansible-input-api.yaml
  tasks:
    - name:                            "SAP Functional Tests: - Create sap-functional-tests-done flag"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/sap-functional-tests-done"
        state:                         touch
        mode:                          0755
...
# /*---------------------------------------------------------------------------8
# |                                    END                                     |
# +------------------------------------4--------------------------------------*/
