# /*----------------------------------------------------------------------------8
# |                                                                            |
# |                      Prepare for DB Install                           |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---

- hosts:                               localhost
  name:                                "Database Installation Playbook: - Initialization"
  gather_facts:                        false
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults

  tasks:

    - name:                            "Database Installation Playbook: - Create Progress folder"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress"
        state:                         directory
        mode:                          0755

    - name:                            "Database Installation Playbook: - Remove db-install-done flag"
      ansible.builtin.file:
        path:                          "{{ _workspace_directory }}/.progress/db-install-done"
        state:                          absent


    - name:                            "Database Installation Playbook: - Set hdb fact"
      ansible.builtin.set_fact:
        tier:                          hdb

    - name:                            "Database Installation Playbook: - Read/Create passwords"
      ansible.builtin.include_role:
        name:                          roles-misc/0.1-passwords
        public:                        true

      tags:
        - 0.1-passwords

    - name:                            "Database Installation Playbook: - Read/Create key vault secrets"
      ansible.builtin.include_role:
        name:                          roles-misc/0.2-kv-secrets
        public:                        true
      vars:
        tier:                          fencing
      tags:
        - 0.2-kv-secrets

    - name:                            "Database Installation Playbook: - Read storage account details"
      include_role:
        name:                          roles-misc/0.3.sap-installation-media-storage-details
        public:                        true
      tags:
        - kv-sap-installation-media-storage-details

# /*----------------------------------------------------------------------------8
# |                                                                            |
# |                      Playbook for HANA DB Install                           |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- hosts:                               "{{ sap_sid|upper }}_DB"

  name:                                DB Installation - HANA
  remote_user:                         "{{ orchestration_ansible_user }}"
  become:                              true
  become_user:                         root
  gather_facts:                        true
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults


  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8

    - name:                            "Database Installation Playbook: - Install HANA"
      block:
        - name:                        "Database Installation Playbook: - Setting the DB facts"
          ansible.builtin.set_fact:
            tier:                      hdb                                     # Actions for HANA DB Serve
            main_password:             "{{ hostvars.localhost.sap_password }}"
            sapbits_location_base_path: "{{ hostvars.localhost.sapbits_location_base_path }}"
            sapbits_sas_token:          "{{ hostvars.localhost.sapbits_sas_token }}"
          tags:
            - always

        - name:                        "Database Installation Playbook: - Show SAP password"
          ansible.builtin.debug:
            msg:                       "{{ hostvars.localhost.sap_password }}"
            verbosity:                 4

        - block:
            - name:                    "Database Installation Playbook: - run HANA installation"
              ansible.builtin.include_role:
                name:                  roles-db/4.0.0-hdb-install
            - name:                    "Database Installation Playbook: - Create db-install-done flag"
              delegate_to:             localhost
              ansible.builtin.file:
                path:                  "{{ _workspace_directory }}/.progress/db-install-done"
                state:                 touch
                mode:                  0755
          always:
            - name:                    "Database Installation Playbook: - Get the Error lines from installation output"
              ansible.builtin.set_fact:
                error_lines:           "{{ error_lines | default([]) + [item] }}"
              with_items:              "{{ hana_installation.stdout_lines }}"
              when:
                - hana_installation is defined
                - hana_installation.stdout_lines is defined
                - '"ERROR" in item'

            - name:                    "Database Installation Playbook: - Run post installation routines"
              ansible.builtin.include_role:
                name:                  roles-sap/7.0.0-post-install
              vars:
                suffix:                "_DB"
                tier:                  'hana'

            - name:                    "Database Installation Playbook: - Show errors from HANA installation"
              ansible.builtin.debug:
                msg:                   "{{ error_lines }}"
              when:
                - error_lines is defined

          tags:
            - 4.0.0-hdb-install

      when: node_tier == 'hana'

    - name:                            "Database Installation Playbook: - Install Pacemaker (base)"
      block:

        - name:                        "Database Installation Playbook: - Setting the facts"
          ansible.builtin.set_fact:
            tier:                      ha
            main_password:             "{{ hostvars.localhost.sap_password }}"
            password_ha_db_cluster:    "{{ hostvars.localhost.db_cluster_password }}"
            primary_instance_name:           "{{ ansible_play_hosts_all[0] }}"         # Setting up Primary Instance Name
            secondary_instance_name:         "{{ ansible_play_hosts_all[1] }}"         # Setting up Secondary Instance Name
            sap_hana_fencing_spn_client_id:  "{{ hostvars.localhost.sap_fencing_spn_client_id }}"
            sap_hana_fencing_spn_client_pwd: "{{ hostvars.localhost.sap_fencing_spn_pwd }}"
            sap_hana_fencing_spn_tenant_id:  "{{ hostvars.localhost.sap_fencing_spn_tenant_id }}"

        - block:
            - name:                    "Database Installation Playbook: - Ensure the correct repositories are set"
              ansible.builtin.include_role:
                name:                  roles-os/1.3-repository
              when:                    db_high_availability
          tags:
            - 1.3-repository

        - block:
            - name:                    "Database Installation Playbook: - Ensure the correct packages are installed"
              ansible.builtin.include_role:
                name:                  roles-os/1.4-packages
              when:                    db_high_availability
          tags:
            - 1.4-packages

        - block:
          # Setup the kernel parameters required for pacemaker cluster VMs
            - name:                    "Database Installation Playbook: - Ensure the correct kernel parameters are set"
              ansible.builtin.include_role:
                name:                  roles-os/1.9-kernelparameters
              when:                    db_high_availability
          tags:
            - 1.9-kernelparameters

        - block:
            - name:                    "Database Installation Playbook: - Ensure the needed services are enabled/disabled"
              ansible.builtin.include_role:
                name:                  roles-os/1.16-services
              when:                    db_high_availability
          tags:
            - 1.16-services

        - block:
            - name:                    "Database Installation Playbook: - Ensure the accounts are present"
              ansible.builtin.include_role:
                name:                  roles-os/1.11-accounts
              when:                    db_high_availability
          tags:
            - 1.11-accounts

        - block:
            - name:                    "Database Installation Playbook: - Install Pacemaker"
              ansible.builtin.include_role:
                name:                  roles-os/1.17-generic-pacemaker                         # Configures the Pacemaker cluster with Azure fence agent
          tags:
            - 1.17-generic-pacemaker

        - name:                        "Database Installation Playbook: - Create db-install-done flag"
          delegate_to:                 localhost
          ansible.builtin.file:
            path:                      "{{ _workspace_directory }}/.progress/db-install-done"
            state:                     touch
            mode:                      0755

      when:
        - db_high_availability
        - node_tier == 'hana'


# /*----------------------------------------------------------------------------8
# |                                                                            |
# |                      Playbook for Oracle DB Install                           |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- hosts:                               "{{ sap_sid|upper }}_DB"
  name:                                DB Installation - Oracle
  remote_user:                         "{{ orchestration_ansible_user }}"
  become:                              true
  become_user:                         "oracle"
  gather_facts:                        false
  vars_files:
    - vars/ansible-input-api.yaml                               # API Input template with defaults


  tasks:
# -------------------------------------+---------------------------------------8
#
# Build the list of tasks to be executed in order here.
#
# -------------------------------------+---------------------------------------8

    - name:                            "Database Installation Playbook: - Install Oracle"
      block:

        - name:                        "Database Installation Playbook: - Setting the DB facts"
          ansible.builtin.set_fact:
            tier:                      ora                                    # Actions for Oracle DB Servers
            main_password:             "{{ hostvars.localhost.sap_password }}"
          tags:
            - always

        - name:                        "Database Installation Playbook: - Check for file system mounts"
          ansible.builtin.include_role:
            name:                      roles-sap-os/2.6-sap-mounts
          when:                        platform == 'ORACLE'

        - name:                        "Database Installation Playbook: - run Oracle installer"
          ansible.builtin.include_role:
            name:                      roles-db/4.1.0-ora-install
          when:                        platform == 'ORACLE'

        - name:                        "Database Installation Playbook: - Create db-install-done flag"
          delegate_to:                 localhost
          ansible.builtin.file:
            path:                      "{{ _workspace_directory }}/.progress/db-install-done"
            state:                     touch
            mode:                      0755

      when:                            platform == 'ORACLE'

...
# /*----------------------------------------------------------------------------8
# |                                    END                                      |
# +------------------------------------4--------------------------------------*/
