---

# Validate that the SCS cluster is working as expected
- name:                                "0.5.1 acss registration: - Set Python version {{ distribution_id }}"
  ansible.builtin.set_fact:
    python_version: "python3"

- name:                                "0.0 Validations: - Set Python version {{ distribution_id }}"
  ansible.builtin.set_fact:
    python_version: "python2"
  when: (ansible_distribution | lower ~ ansible_distribution_major_version) in ['sles_sap12']

- name:                                "0.5.1 acss registration: - Determine if SCS is running on {{ ansible_hostname }}"
  become_user:                         "{{ sap_sid | lower }}adm"
  become:                              true
  when:
    - "'scs' in supported_tiers"
  block:
    - name:                            "0.5.1 acss registration: - Get sapcontrol path"
      ansible.builtin.find:
        paths:                         "/usr/sap/{{ sap_sid | upper }}"
        file_type:                     file
        patterns:                      'sapcontrol'
        recurse:                       true
        follow:                        true
      register:                        sapcontrol_file

    - name:                            "0.5.1 acss registration: - Set sapcontrol path"
      ansible.builtin.set_fact:
        sapcontrol_path:               "{{ sapcontrol_file.files[0].path }}"
      when:
        - sapcontrol_file | length > 0

    # {{ sapcontrol_path }} -nr {{ scs_instance_number }} -function GetProcessList | grep MessageServer | awk '{split($0,result,", "); print result[1],result[3] }'
    - name:                            "0.5.1 acss registration: - Determine if SCS is running on {{ ansible_hostname }}"
      ansible.builtin.command:         "{{ sapcontrol_path }} -nr {{ scs_instance_number }} -function GetProcessList"
      changed_when:                    false
      failed_when:                     false
      register:                        is_running
      vars:
        allow_world_readable_tmpfiles: true
        ansible_python_interpreter:    "{{ python_version }}"
      args:
        chdir:                         "{{ sapcontrol_path | dirname }}"
      environment:
        ANSIBLE_REMOTE_TEMP:           "{{ tmp_directory }}/{{ sap_sid | upper }}"
        TEMPDIR:                       "{{ tmp_directory }}/{{ sap_sid | upper }}"
        PATH:                          /usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/usr/sap/{{ sap_sid | upper }}/SYS/exe/uc/linuxx86_64:/usr/sap/{{ sap_sid | upper }}/SYS/exe/run:/home/{{ sap_sid | lower }}adm
        DIR_LIBRARY:                   /usr/sap/{{ sap_sid | upper }}/SYS/exe/run
        LD_LIBRARY_PATH:               /usr/sap/{{ sap_sid | upper }}/SYS/exe/run:/usr/sap/{ sap_sid | upper }}/SYS/exe/uc/linuxx86_64
        SAPSYSTEMNAME:                 "{{ sap_sid | upper }}"
      tags:
        - skip_ansible_lint

    - name:                            "0.5.1 acss registration: - Show if SCS is running on {{ ansible_hostname }}"
      ansible.builtin.debug:
        var: is_running

    - name:                            "0.5.1 acss registration: - Validate that SCS is running on {{ ansible_hostname }}"
      ansible.builtin.set_fact:
        scs_running_on:                "{{ ansible_hostname }}"
      when:
        - is_running.rc == 3
        - is_running.stdout | regex_search('MessageServer')

- name:                                "0.5.1 acss registration: - Check cluster Group and get the metadata"
  become:                              true
  become_user:                         root
  when:
    - hostvars[ansible_hostname]['scs_running_on'] is defined
  block:
    - name:                            "0.5.1 acss registration: - Check where the cluster group g-{{ sap_sid | upper }}_{{ instance_type | upper }} is running"
      ansible.builtin.shell: >-
        set -o pipefail;
        crm_resource --resource g-{{ sap_sid | upper }}_{{ instance_type | upper }} --locate | cut -d ':' -f 2| cut -d " " -f 2
      when:
        - scs_high_availability
        - ansible_os_family | upper == 'SUSE'
      register:                        cluster_group_location_suse
      failed_when:                     cluster_group_location_suse.stdout != hostvars[ansible_hostname]['scs_running_on']
      tags:
        - skip_ansible_lint

    - name:                            "0.5.1 acss registration: - Check where the cluster group g-{{ sap_sid | upper }}_{{ instance_type | upper }} is running"
      ansible.builtin.shell: >-
        set -o pipefail;
        pcs constraint location show resources g-{{ sap_sid | upper }}_{{ instance_type | upper }} | grep "Node" | awk '{print $2}'
      when:
        - scs_high_availability
        - ansible_os_family | upper == 'REDHAT'
      register:                        cluster_group_location_redhat
      tags:
        - skip_ansible_lint

    - name:                            "0.5.1 acss registration: - Set cluster group location"
      ansible.builtin.set_fact:
        cluster_group_location:        "{{ cluster_group_location_suse.stdout | default(cluster_group_location_redhat.stdout) }}"
      tags:
        - skip_ansible_lint

    - name:                            "0.5.1 acss registration: - Get Azure instance metadata"
      ansible.builtin.uri:
        url:                           http://169.254.169.254/metadata/instance?api-version=2021-02-01
        use_proxy:                     false
        headers:
          Metadata:                    true
      register:                        azure_metadata
      when:
        - hostvars[ansible_hostname]['scs_running_on'] is defined
        - ansible_hostname == hostvars[ansible_hostname]['scs_running_on']

    - name:                            "0.5.1 acss registration: - Set variables from Azure IMDS"
      delegate_facts:                  true
      delegate_to:                     localhost
      ansible.builtin.command:
        chdir:                         "/usr/bin"
        cmd:                           "az extension add --name workloads --yes"
      tags:
        - skip_ansible_lint

    - name:                            "Create [ACSS] virtual instance"
      delegate_facts:                  true
      delegate_to:                     localhost
      ansible.builtin.command:
        chdir:                         "/usr/bin"
        cmd:                           "az workloads sap-virtual-instance create --sap-virtual-instance-name {{ acss_sid }} --resource-group {{ acss_resource_group }} --location {{ acss_location }} --environment {{ acss_environment }} --sap-product {{ acss_sap_product }} --configuration {{ acss_configuration }}"
      when:
        - cluster_group_location != ansible_hostname
      tags:
        - skip_ansible_lint

...
