extends: default

rules:
  comments:
    min-spaces-from-content: 1

  comments-indentation: false

  document-start: disable

  line-length:
    max: 160

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  empty-lines:
    max: 3
