# BOM Template File
#
# Downloaded on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}

name:                 {{ new_bom_name }}

filename:             {% if new_bom_file_name is defined %}{{ new_bom_file_name }}{% endif %}

target:               {{ root_bom.target }}

version:              {{ root_bom.version }}

platform:             {% if root_bom.platform is defined %}{{ root_bom.platform }}{% endif %}

InstanceType:         {% if root_bom.InstanceType is defined %}{{ root_bom.InstanceType }}{% else %}ABAP{% endif %}

supportedPlatforms:   {% if root_bom.supportedPlatforms is defined %}{{ root_bom.supportedPlatforms }}{% endif %}

supportedDBVersions:  {% if root_bom.supportedDBVersions is defined %}{{ root_bom.supportedDBVersions }}{% endif %}

supportedKernels:     {% if root_bom.supportedKernels is defined %}{{ root_bom.supportedKernels }}{% endif %}

minimumRedHatVersion: {% if minimumRedHatVersion is defined %}{{ minimumRedHatVersion }}{% endif %}

minimumSLESVersion:   {% if minimumSLESVersion is defined %}{{ minimumSLESVersion }}{% endif %}



product_ids:

{% if root_bom.product_ids is defined %}
{%   for pKey,pValue in root_bom.product_ids.items() %}
{{'  %-10s' | format(pKey | trim +':') }}{{' \"%s\"' | format(pValue | trim) }}
{%   endfor %}
{% endif %}

{% if root_bom.patch_information is defined %}

patch_information:

{%   for pKey,pValue in root_bom.patch_information.items() %}
{{'  %-20s' | format(pKey | trim +':') }}{{' \"%s\"' | format(pValue | trim) }}
{%   endfor %}
{% endif %}


materials:
  media:
{% for media in root_media_list %}

{{'    %-16s' | format('- name:' | trim) }}{{'\"%s\"' | format(media.name | trim) }}
{%   for key,value in media.items() %}
{%     if key != 'name' %}
{%       if key == 'permissions' %}
{{'      %-13s' | format(key + ':' | trim) }}{{' \'%s\'' | format(value | trim) }}
{%       else %}
{{'      %-13s' | format(key + ':' | trim) }}{{' %s'     | format(value | trim) }}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}
