name:      {{ root_bom.name }}
filename:      {% if root_bom.filename is defined %}{{ root_bom.filename }}{% endif %}

target:        {{ root_bom.target }}

version:       {{ root_bom.version }}

platform:      {% if root_bom.platform is defined %}{{ root_bom.platform }}{% endif %}

InstanceType:  {% if root_bom.InstanceType is defined %}{{ root_bom.InstanceType }}{% else %}ABAP{% endif %}


product_ids:

{% if root_bom.product_ids is defined %}
{%   for pKey,pValue in root_bom.product_ids.items() %}
{{'  %-10s' | format(pKey | trim +':') }}{{' \"%s\"' | format(pValue | trim) }}
{%   endfor %}
{% endif %}


materials:
  media:
{% for media in root_media_list %}

{{'    %-16s' | format('- name:' | trim) }}{{'\"%s\"' | format(media.name | trim) }}
{%   for key,value in media.items() %}
{%     if key != 'name' %}
{%       if key == 'permissions' %}
{{'      %-13s' | format(key + ':' | trim) }}{{' \'%s\'' | format(value | trim) }}
{%       else %}
{{'      %-13s' | format(key + ':' | trim) }}{{' %s'     | format(value | trim) }}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}
