- name:                                "WIN: Calculating the domain value from {{ domain_name }}"
  ansible.builtin.set_fact:
    domain:                            "{{ domain_name | split('.') | first }}"
    cacheable:                         true
  when:
    - domain_name is defined
    - domain_name | type_debug != 'NoneType'
    - domain_name | trim | length > 1
    - domain is not defined

- name:                                "WIN: Joining the domain {{ domain }}"
  ansible.builtin.debug:
    msg:
      - "Domain:                       {{ domain_name }}"
      - "domain_svc_account:           {{ domain_service_account }}"
      - "hostname:                     {{ ansible_hostname }}"
    verbosity:                         2

# domain_ou_path needs to be defined in the ansible-input-api.yaml file
# in the format as an example: 'OU=Windows,OU=Servers,DC=ansible,DC=local'
- name:                                "WIN: Joining the domain {{ domain }}"
  microsoft.ad.membership:
    dns_domain_name:                   "{{ domain_name }}"
    domain_admin_user:                 "{{ domain_service_account }}@{{ domain_name }}"
    domain_admin_password:             "{{ domain_service_password }}"
    domain_ou_path:                    "{{ domain_ou_path }}"
    hostname:                          "{{ ansible_hostname }}"
    state:                             domain
  register:                            domain_state
  when:
    - domain_ou_path is defined
    - domain_ou_path | type_debug != 'NoneType'
    - domain_ou_path | trim | length > 1

- name:                                "WIN: Joining the domain {{ domain }}"
  microsoft.ad.membership:
    dns_domain_name:                   "{{ domain_name }}"
    domain_admin_user:                 "{{ domain_service_account }}@{{ domain_name }}"
    domain_admin_password:             "{{ domain_service_password }}"
    hostname:                          "{{ ansible_hostname }}"
    state:                             domain
  register:                            domain_state
  when:
    - domain_ou_path is not defined or domain_ou_path | type_debug == 'NoneType' or domain_ou_path | trim | length == 0

- name:                                "WIN: Joining the domain {{ domain }} - reboot"
  ansible.windows.win_reboot:
    post_reboot_delay:                 60
  when:                                domain_state.reboot_required
