# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                         OS Base Disk Configuration                         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---
# -------------------------------------+---------------------------------------8
#
# Task: 1.4     packages
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#
# <Comment Header>
#
# -------------------------------------+---------------------------------------8

# ----------------------------------------
# BEGIN

- name:                                 "Run Flag Directory is Existing"
  ansible.windows.win_file:
    path:                               '{{ sap_deployment_automation }}\{{ sap_sid | upper }}'
    state:                              directory

- name:                                 "Check if Nuget is already installed"
  ansible.windows.win_stat:
    path:                               '{{ sap_deployment_automation }}\{{ sap_sid | upper }}\nuget.txt'
  register:                             nuget_installed

- name:                                "Install Nuget on {{ ansible_hostname }}"
  ansible.windows.win_shell: |
                                       [Net.ServicePointManager]::SecurityProtocol = [Net.ServicePointManager]::SecurityProtocol -bor [Net.SecurityProtocolType]::Tls12
                                       Install-PackageProvider -Name NuGet -Force
  when:
    - not nuget_installed.stat.exists

- name:                                "Nuget || Flag File"
  ansible.windows.win_file:
    path:                              '{{ sap_deployment_automation }}\{{ sap_sid | upper }}\nuget.txt'
    state:                             touch

- name:                                 "Check if PowerShellGet is already installed"
  ansible.windows.win_stat:
    path:                               '{{ sap_deployment_automation }}\{{ sap_sid | upper }}\PowerShellGet.txt'
  register:                             powershell_get_installed

- name:                                "Install PowerShellGet on {{ ansible_hostname }}"
  ansible.windows.win_shell:           Install-Module PowerShellGet -AllowClobber -Force
  when:
    - not powershell_get_installed.stat.exists
    - tier == 'os'

- name:                                "PowerShellGet || Flag File"
  ansible.windows.win_file:
    path:                              '{{ sap_deployment_automation }}\{{ sap_sid | upper }}\PowerShellGet.txt'
    state:                             touch


# Install the DSC modules
- name:                                "Ensure DSC modules are installed"
  community.windows.win_psmodule:
    name:                              "{{ item }}"
    state:                             present
    accept_license:                    true
  loop:
    - StorageDsc
    - NetworkingDsc
    - ComputerManagementDsc
    - PSDesiredStateConfiguration
    - WindowsDefender
    - ServerManager
    - SecurityPolicyDsc
  when:
    - tier == 'os'

- name:                                "Disable UAC for admin accounts"
  ansible.windows.win_dsc:
    resource_name:                     UserAccountControl
    IsSingleInstance:                  "Yes"
    NotificationLevel:                 "NeverNotify"
  notify:                              reboot

- name:                                "Component Install"
  when:
    - node_tier in ['scs','ers','app','pas']
    - tier == 'app_tier'
  block:

#   2x) Install vcredist package then reboot.
    - name:                            "Install Visual C++ 2013 Redistributable package"
      ansible.windows.win_package:
        path:                          '{{ download_directory_windows }}\SWPM\NTPATCH\VCREDIST2013\vcredist_x64.exe'
        product_id:                    '{CF2BEA3C-26EA-32F8-AA9B-331F7E34BA97}'
        state:                         present
        arguments:                     '/norestart /log vcredist_x64.log /quiet'
      vars:
        ansible_become:                true
        ansible_become_method:         runas
        ansible_become_user:           '{{ sap_sid }}adm@{{ domain_name }}'
        ansible_become_password:       "{{ domain_user_password }}"
      register:                        vcredist2013_output

    - name:                            "Install Visual C++ 2017 Redistributable package"
      ansible.windows.win_package:
        path:                          '{{ download_directory_windows }}\SWPM\NTPATCH\VCREDIST2017\VC_redist.x64.exe'
        product_id:                    '{CF2BEA3C-26EA-32F8-AA9B-331F7E34BA97}'
        state:                         present
        arguments:                     '/norestart /log vcredist_x64.log /quiet'
      vars:
        ansible_become:                true
        ansible_become_method:         runas
        ansible_become_user:           '{{ sap_sid }}adm@{{ domain_name }}'
        ansible_become_password:       "{{ domain_user_password }}"
      register:                        vcredist2017_output

    - name:                            "Reboot after package installation"
      ansible.windows.win_reboot:
        reboot_timeout:                600
        post_reboot_delay:             120
      when: vcredist2013_output.reboot_required or vcredist2017_output.reboot_required

    #   3x) download SQL server ODBC 17 on windows.
    - name:                            "Download SQL Server ODBC Driver 17"
      ansible.windows.win_get_url:
        url:                           https://download.microsoft.com/download/6/f/f/6ffefc73-39ab-4cc0-bb7c-4093d64c2669/en-US/17.10.1.1/x64/msodbcsql.msi
        dest:                          "{{ tmp_directory_windows }}"
        validate_certs:                true

    - name:                            "Install SQL Server ODBC Driver 17"
      ansible.windows.win_shell: |
                                       MsiExec.exe /i {{ tmp_directory_windows }}\msodbcsql.msi IACCEPTMSODBCSQLLICENSETERMS=YES /qn
      vars:
        ansible_become:                true
        ansible_become_method:         runas
        ansible_become_user:           '{{ sap_sid }}adm@{{ domain_name }}'
        ansible_become_password:       "{{ domain_user_password }}"

- name:                                 "Force all notified handlers to run now"
  ansible.builtin.meta:                 flush_handlers
