---

cluster_totem:
  token: 30000
  retransmits: 10
  join: 60
  consensus: 36000
  max_messages: 20

cluster_quorum:
  expected_votes: 2
  two_node: 1

# These are the default timeouts used for the SAP HANA OS clustering. Depending on the
# SAP DB2 System, these may need to be adjusted if the operation takes longer than expected.
cluster_sap_db2_timeouts:
  start: 130
  stop: 120
  monitor_master: 60
  monitor: 60
  promote: 120
  demote: 120

cluster_status_cmd:
  RedHat: "pcs status --full"
  Suse: "crm status full"

cluster_status_report_wait_in_s: 60
hsr_status_report_wait_in_s: 60
rescue_hsr_status_report_wait_in_s: 120


# The following values should be same as iSCSI configuration
# run 'sudo targetcli ls' on iSCSI target virtual machines to get all iSCSI configuration
cluster_name: db{{ sid | lower }}
# storage_object: sbd{{ cluster_name }}
# target: "{{ iscsi_object }}.{{ cluster_name }}.local:{{ cluster_name }}"

# HANA utility commands
sapcontrol_command: "sapcontrol -nr {{ db_instance_number }}"
storage_object: sbd{{ cluster_name }}
target: "{{ iscsi_object }}.{{ cluster_name }}.local:{{ cluster_name }}"


hana_stop_start_timeout_in_seconds: 600
hana_stop_start_delay_in_seconds: 10
...
