---

# @TODO- Check if any modification is required from ASCS/SCS resources perspective


- name:                                "Pause to give cluster time to stabilize"
  ansible.builtin.pause:
    seconds:                           "{{ cluster_status_report_wait_in_s }}"

- name:                                Check the post-provisioning cluster status
  ansible.builtin.command:             "{{ cluster_status_cmd[ansible_os_family] }}"
  register:                            cluster_status_report
  changed_when:                        false
  failed_when:                         false


- name:                                Output cluster status
  ansible.builtin.debug:
    msg:                               "{{ cluster_status_report.stdout }}"

...
