---

# @TODO- Check if any modification is required from ASCS/SCS resources perspective

- name:                                "5.6 SCSERS - SUSE - Cleanup resources"
  ansible.builtin.command:             crm resource cleanup
  when:
    - ansible_os_family | upper == 'SUSE'
    - inventory_hostname == primary_instance_name

- name:                                "5.6 SCSERS - SUSE - Cleanup stonith"
  ansible.builtin.command:             stonith_admin --cleanup --history={{ primary_instance_name }}
  when:
    - ansible_os_family | upper == 'SUSE'
    - inventory_hostname == primary_instance_name

- name:                                "5.6 SCSERS - Pause to give cluster time to stabilize"
  ansible.builtin.pause:
    seconds:                           "{{ cluster_status_report_wait_in_s }}"

- name:                                "5.6 SCSERS - Check the post-provisioning cluster status"
  ansible.builtin.command:             "{{ cluster_status_cmd[ansible_os_family] }}"
  register:                            cluster_status_report
  changed_when:                        false
  failed_when:                         false

- name:                                "5.6 SCSERS - Output cluster status"
  ansible.builtin.debug:
    msg:                               "{{ cluster_status_report.stdout_lines }}"
    verbosity:                         2

...
