# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
- name:                                "5.6 SCS/ERS Pacemaker - Gather and set facts"
  ansible.builtin.include_tasks:
    file:                              5.6.1-set_runtime_facts.yml
    apply:
      tags:
        - 5.6.1-set_runtime_facts
      become:                          true
      become_user:                     root

- name:                                "5.6 SCS/ERS Pacemaker - Run Pre Checks"
  ansible.builtin.include_tasks:
    file:                              5.6.2-pre_checks.yml
    apply:
      tags:
        - 5.6.2-pre_checks
      become:                          true
      become_user:                     root

- name:                                "5.6 SCS/ERS Pacemaker - Prepare the Installation"
  ansible.builtin.include_tasks:
    file:                              5.6.3-prep_steps.yml
    apply:
      tags:
        - 5.6.3-prep_steps
      become:                          true
      become_user:                     root

- name:                                "5.6 SCS/ERS Pacemaker -  Check if SCS is installed"
  become:                              true
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_scs.txt"
  register:                            pre_scs_install
  when:                                ansible_hostname == primary_instance_name

- name:                                "5.6 SCS/ERS Pacemaker - Set fact if SCS installed"
  ansible.builtin.set_fact:
    scs_installed:                     "{{ pre_scs_install.stat.exists | default(false) }}"
  when:                                ansible_hostname == primary_instance_name

- name:                                "5.6 SCS/ERS Pacemaker - Check if SAP resources are installed"
  become:                              true
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_resources_deployment.txt"
  register:                            pre_sap_install

- name:                                "5.6 SCS/ERS Pacemaker - Set fact if SAP resources are installed"
  ansible.builtin.set_fact:
    sap_resources_installed:           "{{ pre_sap_install.stat.exists | default(false) }}"
  when:                                ansible_hostname == primary_instance_name

- name:                                "5.6 SCS/ERS Pacemaker - Check if ERS is installed"
  become:                              true
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_ers.txt"
  register:                            pre_ers_install
  when:                                ansible_hostname == secondary_instance_name

- name:                                "5.6 SCS/ERS Pacemaker - Set fact if ERS is installed"
  ansible.builtin.set_fact:
    ers_installed:                     "{{ pre_ers_install.stat.exists | default(false) }}"
  when:                                ansible_hostname == secondary_instance_name

- name:                                "5.6 SCS/ERS Pacemaker - Check if all SAP components are installed"
  ansible.builtin.set_fact:
    SAP_installed:                     "{{ hostvars[primary_instance_name]['scs_installed'] | default(false) and hostvars[secondary_instance_name]['ers_installed'] | default(false) and hostvars[primary_instance_name]['sap_resources_installed'] | default(false) }}"

- name:                                "5.6 SCS/ERS Pacemaker - Show if SAP components are installed"
  ansible.builtin.debug:
    msg:
      - "SAP components installed on the cluster: {{ SAP_installed }}"
      - "SCS installed on the cluster: {{ hostvars[primary_instance_name]['scs_installed'] | default(false) }}"
      - "ERS installed on the cluster: {{ hostvars[secondary_instance_name]['ers_installed'] | default(false) }}"
      - "SAP resources installed on the cluster: {{ hostvars[primary_instance_name]['sap_resources_installed'] | default(false) }}"

- name:                                "5.6 SCS/ERS Pacemaker - provision"
  ansible.builtin.include_tasks:
    file:                              5.6.4-provision.yml
    apply:
      tags:
        - 5.6.4-provision
      become:                          true
      become_user:                     root
  when:
    - not SAP_installed

- name:                                "5.6 SCS/ERS Pacemaker - Check if SCS is installed"
  become:                              true
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_scs.txt"
  register:                            post_scs_install
  failed_when:                         not post_scs_install.stat.exists
  when:                                ansible_hostname == primary_instance_name

- name:                                "5.6 SCS/ERS Pacemaker - Check if ERS is installed"
  become:                              true
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_ers.txt"
  register:                            post_ers_install
  failed_when:                         not post_ers_install.stat.exists
  when:                                ansible_hostname == secondary_instance_name

- name:                                "5.6 SCSERS Pacemaker - Run Post Provision Report"
  ansible.builtin.include_tasks:
    file:                              5.6.5-post_provision_report.yml
    apply:
      tags:
        - 5.6.5-post_provision_report
      become:                          true
      become_user:                     root
...
