# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

parameters:
  azureClientId: ''
  azureClientSecret: ''
  azureTenantId: ''
  azureSubscriptionId: ''
  USE_MSI: ''
  displayName: ''
  ansibleFilePath: ''
  ansibleConfigPath: ''
  sidHosts:  ''
  secretName: ''
  vaultName: ''
  parametersFolder: ''
  extraParams: ''
  sapParams: ''
  passwordSecretName: ''
  userNameSecretName: ''
  terraformStateStorageAccount: ''
  controlPlaneSubscriptionId: ''

steps:
- task:                             Bash@3
  name:                             ${{ parameters.name }}
  displayName:                      ${{ parameters.displayName }}
  inputs:
    targetType:                     'filePath'
    filePath:                       "$(System.DefaultWorkingDirectory)/sap-automation/deploy/scripts/pipeline_scripts/05-run-ansible.sh"
    failOnStderr:                   false
    workingDirectory:               "$(System.DefaultWorkingDirectory)"
  env:
    AZURE_CLIENT_ID:                ${{ parameters.azureClientId }}
    AZURE_CLIENT_SECRET:            ${{ parameters.azureClientSecret }}
    AZURE_TENANT_ID:                ${{ parameters.azureTenantId }}
    AZURE_SUBSCRIPTION_ID:          ${{ parameters.azureSubscriptionId }}
    USE_MSI:                        ${{ parameters.USE_MSI }}
    ANSIBLE_COLLECTIONS_PATH:       ~/.ansible/collections:/opt/ansible/collections
    ANSIBLE_PYTHON_INTERPRETER:     auto_silent
    ANSIBLE_DISPLAY_SKIPPED_HOSTS:  false
    ANSIBLE_HOST_KEY_CHECKING:      false
    ANSIBLE_FILE_PATH:              ${{ parameters.ansibleFilePath }}
    ANSIBLE_CONFIG:                 ${{ parameters.ansibleConfigPath }}
    PARAMETERS_FOLDER:              ${{ parameters.parametersFolder }}
    EXTRA_PARAMS:                   ${{ parameters.extraParams }}
    SAP_PARAMS:                     ${{ parameters.sapParams }}
    INVENTORY:                      ${{ parameters.parametersFolder }}/${{ parameters.sidHosts }}
    SSH_KEY_NAME:                   ${{ parameters.secretName }}
    VAULT_NAME:                     ${{ parameters.vaultName }}
    PASSWORD_KEY_NAME:              ${{ parameters.passwordSecretName }}
    USERNAME_KEY_NAME:              ${{ parameters.userNameSecretName }}
    TERRAFORM_STATE_STORAGE_ACCOUNT: ${{ parameters.terraformStateStorageAccount }}
    CONTROL_PLANE_SUBSCRIPTION_ID:   ${{ parameters.controlPlaneSubscriptionId }}
