**Control Plane Deployment**

The Workload Zone has been deployed to resource group **${resource_group_name}** in subscription **${subscription_id}**.

You can access the resource group directly in the Azure Portal using the following link: [${resource_group_name}](${url})


**Resources**


| Role                           | Names                                                 |
| :----------------------------- | :---------------------------------------------------- |
| Key Vault                      | [${key_vault_name}](${key_vault_url})                 |






