#!/bin/bash
export                 ARM_SUBSCRIPTION_ID="${subscription_id}"

unset SDAF_APPLICATION_CONFIGURATION_NAME
%{~ if length(app_configuration_name) != 0 }
# This is the name of the application configuration to be used for this workload zone. 
export SDAF_APPLICATION_CONFIGURATION_NAME="${app_configuration_name}"
%{~ endif }

export SDAF_TERRAFORM_STORAGE_ACCOUNT_NAME="${terraform_storage_account_name}"
unset SDAF_WORKLOAD_ZONE_KEYVAULT_NAME
%{~ if length(keyvault_name) != 0 }
# This is the name of the key vault to be used for this workload zone. 
export                  SDAF_WORKLOAD_ZONE_KEYVAULT_NAME="${keyvault_name}"
%{~ endif }
export             SDAF_CONTROL_PLANE_NAME="${control_plane_name}"
export             SDAF_WORKLOAD_ZONE_NAME="${workload_zone_name}"
