---
# /*----------------------------------------------------------------------------8
# |                                                                            |
# |         BOM Validation role                                                |
# |                                                                            |
# | Assumptions                                                                |
# |   target_media_location exists on disk                                     |
# |                                                                            |
# | Inputs:                                                                    |
# |   target_media_location             Default     /usr/sap/install           |
# | download_directory                                                         |
# | bom_name                                                                   |
# | sapbits_location_base_path                                                 |
# | sapbits_bom_files                                                          |
# | sapbits_sas_token                                                          |
# | sapbits_access_key                                                         |
# | S_user                                                                     |
# | S_password:                                                                |
# | download_directory:               Default /mnt/downloads                   |
# |                                                                            |
# |Locals:                                                                     |
# | _bom                                                                       |
# | item                                                                       |
# | result                                                                     |
# |                                                                            |
# | BOM Fields:                                                                |
# | download                                                                   |
# | archive                                                                    |
# | permissions                                                                |
# |                                                                            |
# |                                                                            |
# | Steps:                                                                     |
#   01) Register BOM                                                           |
#   02) Download media                                                         |
# +------------------------------------4--------------------------------------*/

- name:                                Run the bom-register
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    inventory_dir:                     "{{ download_directory }}/bom"

- name:                                "BoM Initial file"
  ansible.builtin.copy:
    dest:                              "{{ download_directory }}/readme.md"
    content:                           "This is the container with the SAP media"
  register:                            readme_file
  become:                              true
  become_user:                         root

- name:                                "BOM: Check storage account container"
  ansible.builtin.command: >-
                                       az storage blob upload
                                         --account-name {{ account }}
                                         --account-key {{ sapbits_access_key }}
                                         --container-name {{ container }}
                                         --name readme.md
                                         --file {{ readme_file.dest }}
                                         --if-none-match "*"
                                         --no-progress
  delegate_to:                     localhost
  register:                        azresult
  ignore_errors:                   true
  failed_when:
    - azresult.rc != 0
    - azresult.stderr is defined
    - azresult.stderr.find("BlobAlreadyExists") == -1

# ------------------<DEBUGGING>-------------------
# - name:                                "Show BOM Info"
#   ansible.builtin.debug:
#     msg:
#       - "BOM: {{ item.archive }} Url: {{ item.url }} Dest: {{ download_directory }}/{{ item.archive }}"
#       - "URL: {{ item.url }} Destination: {{ download_directory }}/files/{{ item.archive }}"
#     verbosity:                         2
#   loop:                                "{{ bom.materials.media|flatten(levels=1) }}"
#   when:                                item.url is defined

# - name:                                "BOM: {{ bom_name }} Files without URLS"
#   ansible.builtin.debug:
#     msg:                               "Archive: {{ item.archive }} Dest: {{ download_directory }}/{{ item.archive }}"
#     verbosity:                         2
#   loop:                                "{{ bom.materials.media|flatten(levels=1) }}"
#   when:                                item.url is not defined

# ------------------</DEBUGGING>------------------


#   02) Validate media from SAP
#   Loop through BOM media URLs

#- name:                                "BOM: {{ bom_name }} Check and Download Files"
#  include_tasks:                       bom_download.yaml

#  loop:                                "{{ bom.materials.media|flatten(levels=1) }}"
#  no_log:                              false

- name:                                "BOM: {{ bom_name }} Upload Folder"
  vars:
     bom_container_name:               "{{ sapbits_location_base_path.rpartition('//')[2].split('/')[1] }}/{{ sapbits_bom_files }}/boms"
  ansible.builtin.command: >-
                                       az storage blob upload-batch
                                         --account-name {{ account }}
                                         --account-key {{ sapbits_access_key }}
                                         --destination {{ bom_container_name }}/{{ bom_name }}
                                         --source {{ playbook_dir }}/{{ bom_file.rpartition('/')[0] }}
                                         --if-none-match "*"
                                         --no-progress 
  delegate_to:                         localhost
  register:                            bomazresult
  ignore_errors:                       true
  failed_when:
    - bomazresult.rc != 0
    - bomazresult.stderr is defined
    - bomazresult.stderr.find("BlobAlreadyExists") == -1

# ------------------<DEBUGGING>-------------------
# - name: "List error codes"
#   debug:
#     var: azresult
# ------------------</DEBUGGING>------------------

# -------------------------------------+---------------------------------------8

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
