#   2482103 - Installation with SWPM in unattended mode using parameter input file fails
#   2393060 - SAPinst Framework 749 Central Note

########################################################################################################################################################################################################
#                                                                                                                                                                                                      #
# Installation service 'SAP S/4HANA Server 1909 > SAP HANA Database > Installation > Application Server ABAP
#                       > Distributed System > ASCS Instance', product id 'NW_ABAP_ASCS:S4HANA1909.CORE.HDB.ABAP' #
#                       > Distributed System > Database Instance', product id 'NW_ABAP_DB:S4HANA1909.CORE.HDB.ABAP' #
#                                                                                                                                                                                                      #
########################################################################################################################################################################################################

# Location of Export CD
SAPINST.CD.PACKAGE.HDBCLIENT                                         = {{ sap_cd_package_hdbclient }}
SAPINST.CD.PACKAGE.CD1                                               = {{ sap_cd_package_cd1 }}
SAPINST.CD.PACKAGE.CD2                                               = {{ sap_cd_package_cd2 }}
SAPINST.CD.PACKAGE.CD3                                               = {{ sap_cd_package_cd3 }}
SAPINST.CD.PACKAGE.CD4                                               = {{ sap_cd_package_cd4 }}
SAPINST.CD.PACKAGE.CD5                                               = {{ sap_cd_package_cd5 }}


archives.downloadBasket                                              = /usr/sap/install/download_basket

nwUsers.sapadmUID                                                    = {{ sapadm_uid }}
nwUsers.sapsysGID                                                    = {{ sapsys_gid }}
nwUsers.sidAdmUID                                                    = {{ sidadm_uid }}

NW_Delete_Sapinst_Users.removeUsers                                  = true
NW_GetMasterPassword.masterPwd                                       = {{ main_password }}
NW_GetSidNoProfiles.sid                                              = {{ sap_sid | upper }}

NW_SCS_Instance.ascsInstallGateway                                   = true
NW_SCS_Instance.ascsInstallWebDispatcher                             = false
NW_SCS_Instance.instanceNumber                                       = {{ scs_instance_number }}
NW_SCS_Instance.scsVirtualHostname                                   = {{ sap_scs_hostname }}

NW_adaptProfile.skipSecurityProfileSettings                          = true
NW_getFQDN.FQDN                                                      = {{ sap_fqdn }}




HDB_Schema_Check_Dialogs.schemaName                                   = SAPHANADB
HDB_Schema_Check_Dialogs.schemaPassword                               = {{ main_password }}
HDB_Schema_Check_Dialogs.dropSchema                                   = true

# Specify if Software Provisioning Manager is to drop the schema if it exists.
# HDB_Schema_Check_Dialogs.dropSchema                                   = true

NW_HDB_DB.abapSchemaName                                              = SAPHANADB
NW_HDB_DB.abapSchemaPassword                                          = {{ main_password }}
NW_HDB_DBClient.clientPathStrategy                                    = SAPCPE
NW_HDB_getDBInfo.dbhost                                               = {{ sap_db_hostname }}
NW_HDB_getDBInfo.dbsid                                                = {{ db_sid | upper }}
NW_HDB_getDBInfo.instanceNumber                                       = {{ db_instance_number }}
NW_HDB_getDBInfo.systemDbPassword                                     = {{ main_password }}
NW_HDB_getDBInfo.systemPassword                                       = {{ main_password }}
NW_HDB_getDBInfo.systemid                                             = {{ db_sid | upper }}
NW_HDB_getDBInfo.usingSSL                                             = true

NW_Recovery_Install_HDB.extractLocation                               = /hana/backup/{{ db_sid | upper }}/HDB{{ db_instance_number }}/backup/data/DB_{{ db_sid | upper }}{{ db_instance_number }}

NW_Recovery_Install_HDB.extractParallelJobs                           = 24
NW_Recovery_Install_HDB.sidAdmName                                    = {{ db_sid | lower }}adm
NW_Recovery_Install_HDB.sidAdmPassword                                = {{ main_password }}

NW_checkMsgServer.abapMSPort                                          = 36{{ scs_instance_number }}
NW_getLoadType.loadType                                               = SAP
NW_readProfileDir.profileDir                                          = {{ sap_profile_dir }}
