---
# /*---------------------------------------------------------------------------8
# |                                                                            |
# |          Retrieve or create the SAP cluster password from keyvault         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- name:                                "0.1 HA Cluster Password: - Construct SAP db cluster password secret name"
  ansible.builtin.set_fact:
    cluster_password_id:               "{{ secret_prefix }}-{{ sap_sid }}-sap-db-cluster-password"

- name:                                "0.1 HA Cluster Password: - SAP db cluster password secret name"
  ansible.builtin.debug:
    var:                               cluster_password_id
    verbosity:                         2

- name:                                "0.1 HA Cluster Password: - Get SAP password from key vault"
  ansible.builtin.command: >-
    az keyvault secret list
      --vault-name {{ kv_name }}
      --query [].name
      --output yaml
  changed_when:                        false
  register:                            keyvault_secret_sap_password_exists

- name:                                "0.1 HA Cluster Password: - Check for secret availability"
  ansible.builtin.set_fact:
    secret_exists:                     "{{ (cluster_password_id in keyvault_secret_sap_password_exists.stdout) | bool }}"

- name:                                "0.1 HA Cluster Password: - Retrieve SAP db cluster password"
  block:
    - name:                            "0.1 HA Cluster Password: - Get SAP db cluster password from keyvault"
      ansible.builtin.command: >-
                                       az keyvault secret show
                                         --vault-name {{ kv_name }}
                                         --name {{ cluster_password_id }} --query value -o tsv
      changed_when:                    false
      register:                        db_cluster_password_value

    - name:                            "0.1 HA Cluster Password: - Extract SAP db clusterpassword"
      ansible.builtin.set_fact:
        db_cluster_password:           "{{ db_cluster_password_value.stdout }}"
        cacheable:                     true
  when:                                secret_exists

- name:                                "0.1 HA Cluster Password: - Set SAP db cluster password"
  block:

    - name:                            "0.1 HA Cluster Password: - Remove tmp file"
      ansible.builtin.file:
        path:                          /tmp/sappasswordfile
        state:                         absent

    - name:                            "0.1 HA Cluster Password: - Construct SAP system password"
      ansible.builtin.set_fact:
        db_cluster_password_pre:       "{{ db_cluster_password_pre | default([]) +
                                            [lookup('password',
                                              '/dev/null
                                              length=1
                                              chars=' ~item)]
                                        }}"
      loop:
        - ascii_lowercase
        - ascii_uppercase
        - digits

    - name:                            "0.1 HA Cluster Password: - Construct SAP system password"
      ansible.builtin.set_fact:
        db_cluster_password:           "{{ db_cluster_password_pre | join('')
                                          + lookup('password',
                                          '/tmp/sappasswordfile
                                          length=9
                                          chars=ascii_lowercase,ascii_uppercase,digits')
                                        }}"

#    - name:                            "0.1 HA Cluster Password: - Construct SAP system password"
#      ansible.builtin.set_fact:
#        db_cluster_password:           "S2{{ lookup('password', '/tmp/sappasswordfile length=10 chars=ascii_lowercase,ascii_uppercase,digits') }}"

    - name:                            "0.1 HA Cluster Password: - Set SAP db cluster Password secret"
      ansible.builtin.command: >-
                                       az keyvault secret set
                                        --vault-name {{ kv_name }}
                                        --name {{ cluster_password_id }}
                                        --value "{{ db_cluster_password }}"
  when:                                not secret_exists

- name:                                "0.1 HA Cluster Password: - Show SAP cluster Password"
  ansible.builtin.debug:
    msg:                               "CLUSTER PWD: {{ db_cluster_password }}"
    verbosity: 4
