---
# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Retrieve or create the SAP password from keyvault           |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- name:                                Construct SAP system password secret name
  ansible.builtin.set_fact:
    sap_password_id:                   "{{ secret_prefix }}-{{ sap_sid }}-sap-password"

- name:                                "Create Password secret"
  ansible.builtin.command:             az keyvault secret set --vault-name {{ kv_name }} --name {{ sap_password_id }} --value "{{ main_password }}"
  when:
    - main_password is defined
    - "main_password | trim | length != 0"

- name:                                "Debug: SAP system password secret name"
  ansible.builtin.debug:
    var:                               sap_password_id
    verbosity:                         2

- name:                                "Get SAP password from key vault"
  ansible.builtin.command: >-
    az keyvault secret list
      --vault-name {{ kv_name }}
      --query [].name 
      --output yaml
  changed_when:                        false
  register:                            keyvault_secret_sap_password_exists

- name:                                "Check for secret availability"
  ansible.builtin.set_fact:
    secret_exists:                     "{{ (sap_password_id in keyvault_secret_sap_password_exists.stdout) | bool }}"

- name:                                "Retrieve SAP system password"
  block:
    - name:                            "Get SAP password from key vault"
      ansible.builtin.command: >-
        az keyvault secret show
          --vault-name {{ kv_name }}
          --name {{ sap_password_id }}
      changed_when:                    false
      register:                        keyvault_secret_show_sap_password_id
      no_log:                          true
    
    - name:                            "Extract SAP password"
      ansible.builtin.set_fact:
        sap_password: >-
                                       {{ (keyvault_secret_show_sap_password_id.stdout | from_json).value }}
  when:                                secret_exists
    
- name:                                "Set SAP system password"
  block:

    - name:                            Remove tmp file
      ansible.builtin.file:
        path:                          /tmp/sappasswordfile
        state:                         absent

    - name:                            Construct SAP system password
      ansible.builtin.set_fact:
        sap_password:                  "S3{{ lookup('password', '/tmp/sappasswordfile length=10 chars=ascii_letters,digits') }}"

    - name:                            "Debug: SAP Password"
      ansible.builtin.debug:
        var:                           sap_password

    - name:                            "Create Password secret"
      ansible.builtin.command:         az keyvault secret set --vault-name {{ kv_name }} --name {{ sap_password_id }} --value "{{ sap_password }}"

  when:                                not secret_exists

- name:                                "Debug: SAP Password"
  ansible.builtin.debug:
    var:                               sap_password
    verbosity:                         4

- name:                                Get Cluster passwords
  include_tasks:                       0.1.1-ha_clusterpasswords.yaml
  when:                                db_high_availability or scs_high_availability
...
