# User rules for {{ hanasudoers_file }} with role {{ hanasudoers_role }}

{{ db_sid | lower }}adm ALL=(ALL) NOPASSWD: /usr/sbin/crm_attribute -n hana_{{ db_sid | lower }}_site_srHook_*
{{ db_sid | lower }}adm ALL=(ALL) NOPASSWD: /usr/sbin/SAPHanaSR-hookHelper --sid={{ db_sid | upper }} --case=fenceMe
