<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/dcb2713e-5dc8-4139-a9af-9768287bbb8d/resourceGroups/ADO-WEEU-DEP00-INFRASTRUCTURE/providers/Microsoft.Web/sites/ado-weeu-sapdeploymente2e</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ado-weeu-sapdeploymente2e.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bb09d45e-2643-4548-9b09-f8718e98dab2</ProjectGuid>
    <publishUrl>ftp://waws-prod-am2-613.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>ado-weeu-sapdeploymente2e\$ado-weeu-sapdeploymente2e</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>