---
# DGMGRL Config on Primary

# Set Primary and Secondary node names.
- name:                        Setting the primary and Secondary DB names
  ansible.builtin.set_fact:
    ora_primary:                "{{ ansible_play_hosts_all[0] }}"         # Oracle Primary Host
    ora_secondary:              "{{ ansible_play_hosts_all[1] }}"         # Oracle Secondary Host
    current_host:               "{{ ansible_hostname }}"

# Restart the LSNRCTL START
- name:                               "RESTART LSNRCTL ON PRIMARY"
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.shell:               lsnrctl reload
  register:                            lsnrctl_start_primary_results
  failed_when:                         lsnrctl_start_primary_results.rc > 0
  args:
    creates:                           /etc/sap_deployment_automation/dgscripts/lsnrctl_started_primary.txt
    chdir:                             /etc/sap_deployment_automation/dgscripts
    executable:                        /bin/csh
  when:                                current_host == ora_primary

- name:                                Create lsnrctl_started_sec.txt
  become:                              true
  become_user:                         "oracle" 
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/dgscripts/lsnrctl_started_primary.txt
    state:                             touch
    mode:                              0755
  when:                                current_host == ora_primary


- name:                                " DGMGRL CONFIG ON PRIMARY " 
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.shell:               dgmgrl / as sysdba @dgconfig.dgmgrl  | tee /etc/sap_deployment_automation/dgscripts/dgcreate.log
  register:                            dgconfig_results
  failed_when:                         dgconfig_results.rc > 0
  args:
    creates:                           /etc/sap_deployment_automation/dgscripts/dgconfig.txt
    chdir:                             /etc/sap_deployment_automation/dgscripts
    executable:                        /bin/csh
  when:                                current_host == ora_primary

- name:                                Create dgconfig.txt
  become:                              true
  become_user:                         "oracle" 
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/dgscripts/dgconfig.txt
    state:                             touch
    mode:                              0755
  when:                                current_host == ora_primary




...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/