---

# /*---------------------------------------------------------------------------8
# |Execute the SQL scripts  for  data guard initial configuration.             |
# |                                                                            |
# |                                                                            |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


# Set Primary and Secondary node names.
- name:                        Setting the primary and Secondary DB names
  ansible.builtin.set_fact:
    ora_primary:                "{{ ansible_play_hosts_all[0] }}"         # Oracle Primary Host
    ora_secondary:              "{{ ansible_play_hosts_all[1] }}"         # Oracle Secondary Host
    current_host:               "{{ ansible_hostname }}"

# Steps to be run on Primary DB

- name:                                "Check if archiveenabledonprimary.txt exists"
  ansible.builtin.stat:
    path:                              /etc/sap_deployment_automation/dgscripts/archiveenabledonprimary.txt
  register:                            archive_primary_stat
  when:  current_host == ora_primary

- name:                                "Enable Archive log on Primary"  #In a typical SWPM installation archive log is always enabled.
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.shell:               sqlplus / as sysdba @enablearchivelog.sql |tee /etc/sap_deployment_automation/dgscripts/enablearchive.log
  register:                            enablearchivelog_results
  failed_when:                         enablearchivelog_results.rc >= 2
  args:
    creates:                           /etc/sap_deployment_automation/dgscripts/archiveenabledonprimary.txt
    chdir:                             /etc/sap_deployment_automation/dgscripts
    executable:                        /bin/csh
  when:
  #  - not archive_primary_stat.stat.exists
    - current_host == ora_primary

- name:                                Create archiveenabledonprimary.txt
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/dgscripts/archiveenabledonprimary.txt
    state:                             touch
    mode:                              0755
  when:  current_host == ora_primary

- name:                                Check if "enableforcelogin.txt" exists
  ansible.builtin.stat:
    path:                              /etc/sap_deployment_automation/dgscripts/enableforcelogin.txt
  register:                            forcelogin_stat
  when:  current_host == ora_primary

- name:                                "Enable enableforcelogin on Primary"
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.shell:               sqlplus / as sysdba @enableforcelogging.sql |tee /etc/sap_deployment_automation/dgscripts/switcharchive.log
  register:                            enableforcelogging_results
  failed_when:                         enableforcelogging_results.rc >= 2
  args:
    creates:                           /etc/sap_deployment_automation/dgscripts/enableforcelogin.txt
    chdir:                             /etc/sap_deployment_automation/dgscripts
    executable:                        /bin/csh
  when:
  #  - not forcelogin_stat.stat.exists
    - current_host == ora_primary

- name:                                Create enableforcelogin.txt
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/dgscripts/enableforcelogin.txt
    state:                             touch
    mode:                              0755
  when:  current_host == ora_primary

- name:                                "ORACLE: Create oracle standbylog directory"
  ansible.builtin.file:
    path:                              /oracle/{{ db_sid|upper }}/oraarch/standbylog
    mode:                              0755
    state:                             directory
    owner:                             oracle
    group:                             oinstall
  when:  current_host == ora_primary

- name:                                "Create standby logs for Oracle DG"
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.shell:               sqlplus / as sysdba @standbyredologs.sql |tee /etc/sap_deployment_automation/dgscripts/standbylogs.log
  register:                            standbyredolog_results
  failed_when:                         standbyredolog_results.rc >= 2
  args:
    creates:                           /etc/sap_deployment_automation/dgscripts/standbyredologs.txt
    chdir:                             /etc/sap_deployment_automation/dgscripts
    executable:                        /bin/csh
  when:  current_host == ora_primary

- name:                                Create standbyredologs.txt
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/dgscripts/standbyredologs.txt
    state:                             touch
    mode:                              0755
  when:  current_host == ora_primary

- name:                                "Enable Flashback on Oracle Primary DB"
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.shell:               sqlplus / as sysdba @turnonflashback.sql |tee /etc/sap_deployment_automation/dgscripts/turnonflashback.log
  register:                            turnonflashback_results
  failed_when:                         turnonflashback_results.rc > 0
  args:
    creates:                           /etc/sap_deployment_automation/dgscripts/turnonflashback.txt
    chdir:                             /etc/sap_deployment_automation/dgscripts
    executable:                        /bin/csh
  when:  current_host == ora_primary

- name:                                Create turnonflashback.txt
  become:                              true
  become_user:                         "oracle"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/dgscripts/turnonflashback.txt
    state:                             touch
    mode:                              0755
  when:  current_host == ora_primary



#STEP3 DGMGRL Config on Primary

# Restart the LSNRCTL START
# - name:                               "RESTART LSNRCTL ON PRIMARY"
#   become:                              true
#   become_user:                         "oracle"
#   ansible.builtin.shell:               lsnrctl reload
#   register:                            lsnrctl_start_primary_results
#   failed_when:                         lsnrctl_start_primary_results.rc > 0
#   args:
#     creates:                           /etc/sap_deployment_automation/dgscripts/lsnrctl_started_primary.txt
#     chdir:                             /etc/sap_deployment_automation/dgscripts
#     executable:                        /bin/csh
#   when:                                current_host == ora_primary

# - name:                                Create lsnrctl_started_sec.txt
#   become:                              true
#   become_user:                         "oracle"
#   ansible.builtin.file:
#     path:                              /etc/sap_deployment_automation/dgscripts/lsnrctl_started_primary.txt
#     state:                             touch
#     mode:                              0755
#   when:                                current_host == ora_primary


# - name:                                " DGMGRL CONFIG ON PRIMARY "
#   become:                              true
#   become_user:                         "oracle"
#   ansible.builtin.shell:               dgmgrl / as sysdba @dgconfig.dgmgrl  | tee /etc/sap_deployment_automation/dgscripts/dgcreate.log
#   register:                            dgconfig_results
#   failed_when:                         dgconfig_results.rc > 0
#   args:
#     creates:                           /etc/sap_deployment_automation/dgscripts/dgconfig.txt
#     chdir:                             /etc/sap_deployment_automation/dgscripts
#     executable:                        /bin/csh
#   when:                                current_host == ora_primary

# - name:                                Create dgconfig.txt
#   become:                              true
#   become_user:                         "oracle"
#   ansible.builtin.file:
#     path:                              /etc/sap_deployment_automation/dgscripts/dgconfig.txt
#     state:                             touch
#     mode:                              0755
#   when:                                current_host == ora_primary




...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/