# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |         Prepare for the mounts                                             |
# |         Create temporary directory structure                               |
# |         Mount the share, create the directory structure on share           |
# |         Unmount and clean up temporary directory structure                 |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- name:                                "2.6.1 1 ANF Mount - Show loop variable"
  ansible.builtin.debug:
    var:                               item
    verbosity:                         2

- name:                                "2.6.1 1 ANF Mount - HANA {{ item.type }}"
  block:
    - name:                            "2.6.1 1 ANF Mount - Create temporary directory /{{ item.temppath }}"
      ansible.builtin.file:
        path:                          "/{{ item.temppath }}"
        mode:                          "{{ item.permissions }}"
        state:                         directory
        group:                         sapsys

    - name:                            "2.6.1 1 ANF Mount - ({{ item.type }})"
      block:
        - name:                        "2.6.1 1 ANF Mount - Filesystems on ANF ({{ item.temppath }}) (temporary)"
          ansible.posix.mount:
            src:                       "{{ item.mount }}"
            path:                      "/{{ item.temppath }}"
            fstype:                    "nfs4"
            opts:                      "{{ item.opts }}"
            state:                      mounted
      rescue:
        - name:                        "2.6.1 1 ANF Mount - Clear the cache of the nfsidmap daemon (ANF)"
          ansible.builtin.shell: |
            nfsidmap -c

        - name:                        "2.6.1 1 ANF Mount - Ensure the rpcbind service is restarted"
          ansible.builtin.systemd:
            name:                      rpcbind
            state:                     restarted

        - name:                        "2.6.1 1 ANF Mount - Filesystems on ANF ({{ item.temppath }}) (temporary)"
          ansible.posix.mount:
            src:                       "{{ item.mount }}"
            path:                      "/{{ item.temppath }}"
            fstype:                    "nfs4"
            opts:                      "{{ item.opts }}"
            state:                      mounted

    - name:                            "2.6.1 1 ANF Mount - Create Directories ({{ item.temppath }}) on temporary mount"
      ansible.builtin.file:
        path:                          "/{{ item.temppath }}/{{ item.folder }}"
        state:                         directory
        mode:                          0755

    - name:                            "2.6.1 1 ANF Mount - Unmount file systems ({{ item.temppath }}) from temporary mount"
      ansible.posix.mount:
        src:                           "{{ item.mount }}"
        path:                          "/{{ item.temppath }}"
        state:                         unmounted

    - name:                            "2.6.1 1 ANF Mount - Delete locally created SAP Directories ({{ item.temppath }})"
      ansible.builtin.file:
        path:                          "/{{ item.temppath }}"
        state:                         absent

    - name:                            "2.6.1 1 ANF Mount - Cleanup fstab and directory ({{ item.temppath }})"
      ansible.posix.mount:
        src:                           "{{ item.mount }}"
        path:                          "/{{ item.temppath }}"
        fstype:                        "nfs4"
        opts:                          "{{ item.opts }}"
        state:                         absent

  when:
    - item.mount is defined
    - ansible_hostname == primary_host
    - item.create_temp_folders


# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Perform the mounts                                          |
# |                Create directories and make them immutable                  |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

- name:                                "2.6.1 1 ANF Mount - Create SAP Directories ({{ item.path }})"
  ansible.builtin.file:
    owner:                             "{% if (item.target_nodes is search('hana')) %}{{ hdbadm_uid }}{% else %}{{ sidadm_uid }}{% endif %}"
    group:                             sapsys
    mode:                              0755
    path:                              "{{ item.path }}"
    state:                             directory
    recurse:                           true
  register:                            is_created_now
  when:
    - node_tier in item.target_nodes or item.target_nodes == ['all']

- name:                                "2.6.1 1 ANF Mount - Create SAP Directories ({{ item.path }})"
  ansible.builtin.debug:
    var:                               is_created_now
    verbosity:                         2

- name:                                "2.6.1 1 ANF Mount - Change attribute only when we create SAP Directories ({{ item.temppath }})"
  become:                              true
  become_user:                         "root"
  ansible.builtin.file:
    path:                              "{{ is_created_now.path }}"
    state:                             directory
    mode:                              0755
    attr:                              i+
  when:
    - node_tier in item.target_nodes or item.target_nodes == "all"
    - is_created_now.changed
    - item.set_chattr_on_dir

- name:                                "2.6.1 1 ANF Mount - ({{ item.path }} "
  block:
    - name:                            "2.6.1 1 ANF Mount - ({{ item.path }} on {% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %})"
      ansible.posix.mount:
        src:                           "{% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %}"
        path:                          "{{ item.path }}"
        fstype:                        "nfs4"
        opts:                          "{{ item.opts }}"
        state:                         mounted
      when:
        - node_tier in item.target_nodes or item.target_nodes == ['all']
  rescue:
    - name:                            "2.6.1 1 ANF Mount - Sleep for 10 seconds and continue with play"
      ansible.builtin.wait_for:
        timeout:                       10

    - name:                            "2.6.1 1 ANF Mount - ({{ item.path }} on {% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %})"
      ansible.posix.mount:
        src:                           "{% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %}"
        path:                          "{{ item.path }}"
        fstype:                        "nfs4"
        opts:                          "{{ item.opts }}"
        state:                         mounted
      when:
        - node_tier in item.target_nodes or item.target_nodes == ['all']

# Remove entries from fstab
- name:                                "2.6.1 1 ANF Mount - RHEL DB high availability configuration"
  when:                                ansible_os_family | upper == "REDHAT" and database_high_availability
  block:
    - name:                            "2.6.1 1 ANF Mount - remove entry in fstab for {{ item.path }} when DB high availability"
      ansible.posix.mount:
        src:                           "{% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %}"
        path:                          "{{ item.path }}"
        fstype:                        "nfs4"
        opts:                          "{{ item.opts }}"
        state:                         absent_from_fstab
      when:
        - item.target_nodes == ['hana']
        - item.type in ['data','log','shared']
        - database_high_availability
        - not database_scale_out

    - name:                            "2.6.1 1 ANF Mount - make mount for {{ item.path }} ephemeral when DB high availability"
      ansible.posix.mount:
        src:                           "{% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %}"
        path:                          "{{ item.path }}"
        fstype:                        "nfs4"
        opts:                          "{{ item.opts }}"
        state:                         ephemeral
      when:
        - item.target_nodes == ['hana']
        - item.type in ['data','log','shared']
        - database_high_availability
        - not database_scale_out

# https://www.suse.com/support/kb/doc/?id=000019904
# - name:                                "2.6.1 1 ANF Mount - SUSE DB high availability configuration"
#   when:                                ansible_os_family | upper == "SUSE" and db_high_availability
#   block:
#     - name:                            "2.6.1 1 ANF Mount - remove entry in fstab for {{ item.path }} when DB high availability"
#       ansible.posix.mount:
#         src:                           "{% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %}"
#         path:                          "{{ item.path }}"
#         fstype:                        "nfs4"
#         opts:                          "{{ item.opts }}"
#         state:                         absent_from_fstab
#       when:
#         - item.target_nodes == ['hana']
#         - item.type in ['data','log']
#         - db_high_availability

#     - name:                            "2.6.1 1 ANF Mount - make mount for {{ item.path }} ephemeral when DB high availability"
#       ansible.posix.mount:
#         src:                           "{% if item.create_temp_folders %}{{ item.mount }}/{{ item.folder }}{% else %}{{ item.mount }}{% endif %}"
#         path:                          "{{ item.path }}"
#         fstype:                        "nfs4"
#         opts:                          "{{ item.opts }}"
#         state:                         ephemeral
#       when:
#         - item.target_nodes == ['hana']
#         - item.type in ['data','log']
#         - db_high_availability
