---

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |     Provision HANA HSR                                                     |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- name:                                "HANA HSR: - Ensure HANA 1.0 is configured for System Replication"
  become_user:                         "{{ db_sid_admin_user }}"
  become:                              true
  block:

    # https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-hana-high-availability#configure-sap-hana-10-system-replication
    - name:                            "HANA HSR: - Ensure replication user exists"
      ansible.builtin.shell: |
        {{ hdbsql_systemdb_command }} 'CREATE USER {{ hana_1_hsr_user }} PASSWORD "{{ hana_1_hsr_password }}"'
        {{ hdbsql_systemdb_command }} 'GRANT DATA ADMIN TO {{ hana_1_hsr_user }}'
        {{ hdbsql_systemdb_command }} 'ALTER USER {{ hana_1_hsr_user }} DISABLE PASSWORD LIFETIME'
      changed_when:                    false

    - name:                            "HANA HSR: - Ensure keystore entry exists"
      ansible.builtin.shell: |
                                       hdbuserstore SET hdbhaloc localhost:3{{ db_instance_number }}15 {{ hana_1_hsr_user }} {{ hana_1_hsr_password }}
      changed_when:                    false
  vars:
    ansible_python_interpreter:        python3
  environment:
    HOME:                              "/usr/sap/{{ db_sid | upper }}/home"
    PYTHONHOME:                        "/usr/sap/{{ DB }}/exe/Python3"
    DIR_EXECUTABLE:                    "/usr/sap/{{ DB }}/exe"
    SAP_RETRIEVAL_PATH:                "/usr/sap/{{ DB }}/{{ virtual_host }}"
    DIR_SYSEXE:                        "/usr/sap/{{ db_sid | upper }}/SYS/exe/hdb"
    SAPSYSTEMNAME:                     "{{ db_sid | upper }}"
    SECUDIR:                           "/usr/sap/{{ DB }}/{{ virtual_host }}/sec"
    DAT_BIN_DIR:                       "/usr/sap/{{ DB }}/exe/dat_bin_dir"
    DIR_INSTANCE:                      "/usr/sap/{{ DB }}"
    PYTHONPATH:                        "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
    PATH:                              "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
    LD_LIBRARY_PATH:                   "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"
  when:
    - ansible_hostname == primary_instance_name
    - hdb_version[0:2] == "1."  # https://www.blue.works/en/hana-version-numbering-explained/
    - hana_system_replication_needed

- name:                                "HANA HSR: - Perform pre-flight backup checks"
  become_user:                         "{{ db_sid_admin_user }}"
  become:                              true
  block:
    - name:                            "HANA HSR: - Check backup file exists for SYSTEMDB database for System Identifier {{ db_sid }}"
      ansible.builtin.stat:
        path:                          "{{ db_sid_backup_dir }}/INITIAL_SYSTEMDB_BACKUP_databackup_0_1"
      register:                        systemdb_backup_file
#      failed_when:                     not systemdb_backup_file.stat.exists
      changed_when:                    false

    - name:                            "HANA HSR: - Check backup file exists for tenant {{ hana_tenant_database_name }} database for System Identifier {{ db_sid }}"
      ansible.builtin.stat:
        path:                          "{{ db_sid_backup_dir }}/INITIAL_{{ hana_tenant_database_name }}_BACKUP_databackup_0_1"
      register:                        tenant_backup_file
#      failed_when:                     not tenant_backup_file.stat.exists
      changed_when:                    false
      when:
        - hana_has_tenant_db is defined
        - hana_has_tenant_db

  when:                                ansible_hostname == primary_instance_name

- name:                                "HANA HSR: - Ensure HANA is configured for System Replication"
  block:

    - name:                            "HANA HSR: - Check whether replication has already been set up"
      become_user:                     "{{ db_sid_admin_user }}"
      become:                          true
      ansible.builtin.shell: |
                                       {{ hdbnsutil_command }} -sr_state
      register:                        hana_replication_status
      changed_when:                    false
      failed_when:                     hana_replication_status.rc != 0
      args:
        executable:                    /bin/sh
      environment:
        TEMPDIR:                       "{{ tmp_directory }}/{{ db_sid | upper }}"
        ANSIBLE_TEMP_DIR:              "{{ tmp_directory }}/{{ db_sid | upper }}"

    - name:                            "HANA HSR: - Debug replication status"
      ansible.builtin.debug:
        var:                           hana_replication_status
        verbosity:                     0

    - name:                            "HANA HSR: - Ensure Primary node is configured for System Replication"
      become_user:                     "{{ db_sid_admin_user }}"
      become:                          true
      ansible.builtin.shell: |
                                       {{ hdbnsutil_command }} -sr_enable --name=SITEA
      register:                        hana_status
      # rc == 102 means nameserver is already active
      failed_when:                     hana_status.rc != 0 and hana_status.rc != 102
      changed_when:                    "'successfully enabled system as system replication source site' in hana_status.stdout"

    - name:                            "HANA HSR: - Check replication state on primary"
      ansible.builtin.set_fact:
        primary_replication_enabled:   "{{ ('mode: primary' in hana_replication_status.stdout_lines) | bool }}"
  vars:
    ansible_python_interpreter:        python3
  environment:
    HOME:                              "/usr/sap/{{ db_sid | upper }}/home"
    PYTHONHOME:                        "/usr/sap/{{ DB }}/exe/Python3"
    DIR_EXECUTABLE:                    "/usr/sap/{{ DB }}/exe"
    SAP_RETRIEVAL_PATH:                "/usr/sap/{{ DB }}/{{ virtual_host }}"
    DIR_SYSEXE:                        "/usr/sap/{{ db_sid | upper }}/SYS/exe/hdb"
    SAPSYSTEMNAME:                     "{{ db_sid | upper }}"
    SECUDIR:                           "/usr/sap/{{ DB }}/{{ virtual_host }}/sec"
    DAT_BIN_DIR:                       "/usr/sap/{{ DB }}/exe/dat_bin_dir"
    DIR_INSTANCE:                      "/usr/sap/{{ DB }}"
    PYTHONPATH:                        "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
    PATH:                              "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
    LD_LIBRARY_PATH:                   "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"
  when:                                ansible_hostname == primary_instance_name

- name:                                "HANA HSR: - Set INI File values"
  ansible.builtin.import_tasks:        4.0.1.5.0-set_global_ini_values.yml

- name:                                "HANA HSR: - Restart HANA"
  become_user:                         "{{ db_sid_admin_user }}"
  become:                              true
  block:
    - name:                            "HANA HSR: - Stop HANA on {{ virtual_host }}"
      ansible.builtin.import_tasks:    ../../../roles-misc/0.4-helpers/tasks/04.02-stop_hana.yml

    - name:                            "HANA HSR: - Start HANA on {{ virtual_host }}"
      ansible.builtin.import_tasks:    ../../../roles-misc/0.4-helpers/tasks/04.01-start_hana.yml
  vars:
    ansible_python_interpreter:        python3
  environment:
    HOME:                              "/usr/sap/{{ db_sid | upper }}/home"
    PYTHONHOME:                        "/usr/sap/{{ DB }}/exe/Python3"
    DIR_EXECUTABLE:                    "/usr/sap/{{ DB }}/exe"
    SAP_RETRIEVAL_PATH:                "/usr/sap/{{ DB }}/{{ virtual_host }}"
    DIR_SYSEXE:                        "/usr/sap/{{ db_sid | upper }}/SYS/exe/hdb"
    SAPSYSTEMNAME:                     "{{ db_sid | upper }}"
    SECUDIR:                           "/usr/sap/{{ DB }}/{{ virtual_host }}/sec"
    DAT_BIN_DIR:                       "/usr/sap/{{ DB }}/exe/dat_bin_dir"
    DIR_INSTANCE:                      "/usr/sap/{{ DB }}"
    PYTHONPATH:                        "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
    PATH:                              "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
    LD_LIBRARY_PATH:                   "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"
  when:                                ansible_hostname == primary_instance_name

- name:                                "HANA HSR: - Ensure System Replication is configured command on secondary"
  ansible.builtin.debug:
    msg:                               "{{ hdbnsutil_command }} -sr_register --remoteHost={{ hostvars[primary_instance_name]['virtual_host'] }} --remoteInstance={{ db_instance_number }}
                                        --replicationMode={{ hana_replication_mode }} --operationMode={{ hana_operation_mode }} --name=SITEB"
    verbosity:                         4

- name:                                "HANA HSR: - Ensure System Replication is configured on secondary"
  block:

    - name:                            "HANA HSR: - Stop HANA on {{ virtual_host }}"
      ansible.builtin.import_tasks:    ../../../roles-misc/0.4-helpers/tasks/04.02-stop_hana.yml

    - name:                            "HANA HSR: - Ensure Secondary node is registered as secondary in replication"
      become_user:                     "{{ db_sid_admin_user }}"
      become:                          true
      ansible.builtin.shell: >
        {{ hdbnsutil_command }} -sr_register --remoteHost={{ hostvars[primary_instance_name]['virtual_host'] }}
        --remoteInstance={{ db_instance_number }} --replicationMode={{ hana_replication_mode }}
        --operationMode={{ hana_operation_mode }} --name=SITEB
      register:                        hsr_secondary_registration
      changed_when:                    "'adding site' in hsr_secondary_registration.stdout"
      args:
        executable: /bin/bash

    - name:                            "HANA HSR: - Start HANA on {{ virtual_host }}"
      ansible.builtin.import_tasks:    ../../../roles-misc/0.4-helpers/tasks/04.01-start_hana.yml
  vars:
    ansible_python_interpreter:        python3
  environment:
    HOME:                              "/usr/sap/{{ db_sid | upper }}/home"
    PYTHONHOME:                        "/usr/sap/{{ DB }}/exe/Python3"
    DIR_EXECUTABLE:                    "/usr/sap/{{ DB }}/exe"
    SAP_RETRIEVAL_PATH:                "/usr/sap/{{ DB }}/{{ virtual_host }}"
    DIR_SYSEXE:                        "/usr/sap/{{ db_sid | upper }}/SYS/exe/hdb"
    SAPSYSTEMNAME:                     "{{ db_sid | upper }}"
    SECUDIR:                           "/usr/sap/{{ DB }}/{{ virtual_host }}/sec"
    DAT_BIN_DIR:                       "/usr/sap/{{ DB }}/exe/dat_bin_dir"
    DIR_INSTANCE:                      "/usr/sap/{{ DB }}"
    PYTHONPATH:                        "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
    PATH:                              "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ virtual_host }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
    LD_LIBRARY_PATH:                   "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"
  when:
    - ansible_hostname == secondary_instance_name
    - hana_system_replication_needed
