---

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |     Create HANA backup                                                     |
# |                                                                            |
# +------------------------------------4--------------------------------------*/


- name:                                "HANA HSR: - Ensure backup directory exists for HANA database with System Identifier {{ db_sid }}"
  ansible.builtin.file:
    path:                              "{{ db_sid_backup_dir }}"
    state:                             directory
    owner:                             "{{ db_sid_admin_user }}"
    mode:                              0755

# /*---------------------------------------------------------------------------8
# |                                                                            |
# | If HSR is already enabled, we don't need to do this                        |
# |                                                                            |
# /*---------------------------------------------------------------------------8

- name:                                "HANA HSR: - Ensure backup is taken on primary node"
  become_user:                         "{{ db_sid_admin_user }}"
  become:                              true
  block:
    - name:                            "HANA HSR: - Check whether backup exists for SYSTEMDB database for System Identifier: {{ db_sid }}"
      ansible.builtin.shell: >
        {{ hdbsql_systemdb_command }} "{{ backup_exists_cmd_for_systemdb }}"
      register:                        backup_exists_cmd_for_systemdb_result
      changed_when:                    false

    - name:                            "HANA HSR: - Ensure backup exists for SYSTEMDB database for System Identifier {{ db_sid }}"
      ansible.builtin.set_fact:
        backup_systemdb:               "{{ (backup_cmd_no_rows_found in backup_exists_cmd_for_systemdb_result.stdout) | bool }}"

    - name:                            "HANA HSR: - Results for backup check for SYSTEMDB database for System Identifier: {{ db_sid }}"
      ansible.builtin.debug:
        msg:
          - "Backup needed:             {{ backup_systemdb }}"
          - "Backup query results:      {{ backup_exists_cmd_for_systemdb_result.stdout }}"

    - name:                            "HANA HSR: - Backup SYSTEMDB database for System Identifier {{ db_sid }}"
      ansible.builtin.shell: >
                                       {{ hdbsql_systemdb_command }} "{{ backup_cmd_for_systemdb }}"
      when:                            backup_systemdb

    - name:                            "HANA HSR: - Check if there is a tenant db needing backup"
      block:
        - name:                        "HANA HSR: - Check whether backup exists for tenant {{ hana_tenant_database_name }} database for System Identifier {{ db_sid }}"
          ansible.builtin.shell: >
                                       {{ hdbsql_tenant_command }} "{{ backup_exists_cmd_for_tenant }}"
          register:                    backup_exists_cmd_for_tenant_result
          changed_when:                false

        - name:                        "HANA HSR: - Ensure backup exists for tenant {{ hana_tenant_database_name }} database for System Identifier {{ db_sid }}"
          ansible.builtin.set_fact:
            backup_tenantdb:           "{{ (backup_cmd_no_rows_found in backup_exists_cmd_for_tenant_result.stdout) | bool }}"

        - name:                            "HANA HSR: - Results for backup check for {{ hana_tenant_database_name }} database for System Identifier: {{ db_sid }}"
          ansible.builtin.debug:
            msg:
              - "Backup needed:         {{ backup_tenantdb }}"
              - "Backup query results:  {{ backup_exists_cmd_for_tenant_result.stdout }}"

        - name:                        "HANA HSR: - Backup {{ hana_tenant_database_name }} database for System Identifier {{ db_sid }}"
          ansible.builtin.shell: >
                                       {{ hdbsql_tenant_command }} "{{ backup_cmd_for_tenant }}"
          when:                        backup_tenantdb
      when:
        - hana_has_tenant_db is defined
        - hana_has_tenant_db

  when:
    - ansible_hostname == primary_instance_name
    - hana_system_replication_needed
