---
# +------------------------------------4--------------------------------------*/
# +                                                                           */
# +                                                                           */
# +            Set the environment variable as sourcing breaks                */
# +            when running from Azure DevOps                                 */
# +                                                                           */
# +------------------------------------4--------------------------------------*/

- name:                                "HSR Create helper variables"
  ansible.builtin.set_fact:
    DB:                               "{{ db_sid | upper }}/HDB{{ hdb_instance_number }}"

- name:                                HSR pre-checks
  block:
    - name:                            HSR pre-checks
      import_tasks:                    4.0.1.0-pre_checks.yml
  vars:
    ansible_python_interpreter:        'python3'
  environment:
    HOME:                              "/usr/sap/{{ db_sid | upper }}/home"
    PYTHONHOME:                        "/usr/sap/{{ DB }}/exe/Python3"
    DIR_EXECUTABLE:                    "/usr/sap/{{ DB }}/exe"
    SAP_RETRIEVAL_PATH:                "/usr/sap/{{ DB }}/{{ ansible_hostname }}"
    SAPSYSTEMNAME:                     "{{ db_sid | upper }}"
    SECUDIR:                           "/usr/sap/{{ DB }}/{{ ansible_hostname }}/sec"
    DAT_BIN_DIR:                       "/usr/sap/{{ DB }}/exe/dat_bin_dir"
    DIR_INSTANCE:                      "/usr/sap/{{ DB }}"
    PYTHONPATH:                        "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ ansible_hostname }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
    PATH:                              "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ ansible_hostname }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
    LD_LIBRARY_PATH:                   "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"

- name:                                HSR Replication
  block:

    - name:                            HSR Set Runtime facts
      import_tasks:                    4.0.1.1-set_runtime_path_facts.yml

    - name:                            Run HSR Set Trust
      import_tasks:                    4.0.1.2-set_trust_relationship.yml

    - name:                            Run HSR Copy Keys
      import_tasks:                    4.0.1.3-copy_ssfs_keys.yml

    - name:                            Run HSR Create HANA backup
      import_tasks:                    4.0.1.4-create_hana_backup.yml

  vars:
    ansible_python_interpreter:        'python3'
  environment:
    HOME:                              "/usr/sap/{{ db_sid | upper }}/home"
    PYTHONHOME:                        "/usr/sap/{{ DB }}/exe/Python3"
    DIR_EXECUTABLE:                    "/usr/sap/{{ DB }}/exe"
    SAP_RETRIEVAL_PATH:                "/usr/sap/{{ DB }}/{{ ansible_hostname }}"
    SAPSYSTEMNAME:                     "{{ db_sid | upper }}"
    SECUDIR:                           "/usr/sap/{{ DB }}/{{ ansible_hostname }}/sec"
    DAT_BIN_DIR:                       "/usr/sap/{{ DB }}/exe/dat_bin_dir"
    DIR_INSTANCE:                      "/usr/sap/{{ DB }}"
    PYTHONPATH:                        "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ ansible_hostname }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
    PATH:                              "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ ansible_hostname }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
    LD_LIBRARY_PATH:                   "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"

- name:                                HSR - Provision replication
  import_tasks:                        4.0.1.5-provision_hana_replication.yml
  when:                                hana_system_replication_needed

- name:                                Perform the HSR tasks
  block:
    - import_tasks:                    4.0.1.6-post_checks.yml
      vars:
        ansible_python_interpreter:    'python3'
      environment:
        HOME:                          "/usr/sap/{{ db_sid | upper }}/home"
        PYTHONHOME:                    "/usr/sap/{{ DB }}/exe/Python3"
        DIR_EXECUTABLE:                "/usr/sap/{{ DB }}/exe"
        SAP_RETRIEVAL_PATH:            "/usr/sap/{{ DB }}/{{ ansible_hostname }}"
        DIR_SYSEXE:                    "/usr/sap/{{ db_sid | upper }}/SYS/exe/hdb"
        SAPSYSTEMNAME:                 "{{ db_sid | upper }}"
        SECUDIR:                       "/usr/sap/{{ DB }}/{{ ansible_hostname }}/sec"
        DAT_BIN_DIR:                   "/usr/sap/{{ DB }}/exe/dat_bin_dir"
        DIR_INSTANCE:                  "/usr/sap/{{ DB }}"
        PYTHONPATH:                    "/usr/sap/{{ DB }}/exe/Py3:/usr/sap/HDB/SYS/global/hdb/custom/python_support:/usr/sap/{{ DB }}/exe/python_support:/usr/sap/{{ DB }}/{{ ansible_hostname }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/testscripts:/usr/sap/{{ DB }}/exe/Python3/lib/python3.7"
        PATH:                          "/usr/sap/{{ DB }}/exe/krb5/bin:/usr/sap/{{ DB }}/exe/krb5/sbin:/usr/sap/{{ DB }}/{{ ansible_hostname }}:/usr/sap/{{ DB }}:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/mdc:/usr/sap/{{ DB }}/exe/Python3/bin:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/HDB/home:/usr/sap/HDB/home/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin"
        LD_LIBRARY_PATH:               "/usr/sap/{{ DB }}/exe/krb5/lib/krb5/plugins/preauth:/usr/sap/{{ DB }}/exe/krb5/lib:/usr/sap/{{ DB }}/exe:/usr/sap/{{ DB }}/exe/Python3/lib:/usr/sap/{{ DB }}/exe/Py3:/usr/sap/{{ DB }}/exe/filter:/usr/sap/{{ DB }}/exe/dat_bin_dir:/usr/sap/{{ DB }}/exe/plugins/afl:/usr/sap/{{ DB }}/exe/plugins/lcapps:/usr/sap/{{ DB }}/exe/plugins/repository:/usr/sap/{{ DB }}/exe/plugins/epmmds:/usr/sap/HDB/SYS/global/hdb/federation:/usr/sap/HDB/SYS/global/hdb/plugins/3rd_party_libs:/usr/sap/HDB/SYS/global/hdb/plugins/1st_party_libs"
  when:                                
    - hana_system_replication_needed
