${sid}_DB:
  hosts:
%{~ for idx,ips_dbnode in ips_dbnodes }
    ${dbnodes[idx]}:
      ansible_host        : ${ips_dbnode}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${db_connection}
      connection_type     : ${db_connectiontype}
      virtual_host        : ${virt_dbnodes[idx]}
      become_user         : ${db_become_user}
      os_type             : ${db_os_type}
      vm_name             : ${db_vmnodes[idx]}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : ${platform}
    supported_tiers       : [${db_supported_tiers}]

${sid}_SCS:
  hosts:
%{~ for idx,ip_scs in ips_scs }
    ${scs_servers[idx]}:
      ansible_host        : ${ip_scs}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${scs_connection}
      connection_type     : ${scs_connectiontype}
      virtual_host        : ${virt_scs_servers[idx]}
      become_user         : ${scs_become_user}
      os_type             : ${scs_os_type}
      vm_name             : ${scs_vmnodes[idx]}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : scs
    supported_tiers       : [${scs_supported_tiers}]

${sid}_ERS:
  hosts:
%{~ for idx,ip_ers in ips_ers }
    ${ers_servers[idx]}:
      ansible_host        : ${ip_ers}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${ers_connection}
      connection_type     : ${ers_connectiontype}
      virtual_host        : ${virt_ers_servers[idx]}
      become_user         : ${scs_become_user}
      os_type             : ${scs_os_type}
      vm_name             : ${ers_vmnodes[idx]}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : ers
    supported_tiers       : [ers]


${sid}_PAS:
  hosts:
%{~ for idx,ip_pas in ips_pas }
    ${pas_servers[idx]}:
      ansible_host        : ${ip_pas}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${scs_connection}
      connection_type     : ${scs_connectiontype}
      virtual_host        : ${virt_pas_servers[idx]}
      become_user         : ${app_become_user}
      os_type             : ${app_os_type}
      vm_name             : ${pas_vmnodes[idx]}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : pas
    supported_tiers       : [pas]

${sid}_APP:
  hosts:
%{~ for idx,ip_app in ips_app }
    ${app_servers[idx]}:
      ansible_host        : ${ip_app}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${app_connection}
      connection_type     : ${app_connectiontype}
      virtual_host        : ${virt_app_servers[idx]}
      become_user         : ${app_become_user}
      os_type             : ${app_os_type}
      vm_name             : ${app_vmnodes[idx]}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : app
    supported_tiers       : [app]

${sid}_WEB:
  hosts:
%{~ for idx,ip_web in ips_web }
    ${web_servers[idx]}:
      ansible_host        : ${ip_web}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${web_connection}
      connection_type     : ${web_connectiontype}
      virtual_host        : ${virt_web_servers[idx]}
      become_user         : ${web_become_user}
      os_type             : ${web_os_type}
      vm_name             : ${web_vmnodes[idx]}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : web
    supported_tiers       : [web]

${sid}_OBSERVER_DB:
  hosts:
%{~ for idx,ip_observer in ips_observers }
    ${observers[idx]}:
      ansible_host        : ${ip_observer}
      ansible_user        : ${ansible_user}
      ansible_connection  : ${db_connection}
      connection_type     : ${db_connectiontype}
      virtual_host        : ${observers[idx]}
      become_user         : ${db_become_user}
      os_type             : ${db_os_type}
      ${winrm_cert_valid}
      ${winrm_timeout_sec}
      ${winrm_read_timeout}
      ${winrm_transport}

%{~ endfor }
  vars:
    node_tier             : observer
    supported_tiers       : [observer]

${sid}_ISCSI:
  hosts:
%{~ for idx,ip_iscsi in ips_ip_iscsi }
    ${iscsi_servers[idx]}:
      ansible_host        : ${ip_iscsi}
      ansible_user        : ${ansible_user}
      ansible_connection  : ssh
      connection_type     : key
      virtual_host        : ${iscsi_servers[idx]}
      become_user         : root
      os_type             : linux

%{~ endfor }
  vars:
    node_tier             : iscsi
    supported_tiers       : [iscsi]
