{
    "SID": ${sid},
    "DB SID": ${db_sid},
    "Database": ${platform},
    "Servers": {
        "CentralServicesVirtualMachines": [${scs_server_vms}],
        "DatabaseVirtualMachines": [${database_server_vms}],
        "ApplicationServerVirtualMachines": [${application_server_vms}],
        "WebDispatcherVirtualMachines": [${webdisp_server_vms}]
    }
}