---

#############################################################################
#                                                                           #
#                            Infrastructure                                 #
#                                                                           #
#############################################################################

# sap_fqdn defines the fully qualified domain name for the systems
sap_fqdn:                      ${dns}

#############################################################################
#                                                                           #
#                           Application tier                                #
#                                                                           #
#############################################################################

# bom_base_name is the name of the SAP Application Bill of Materials file
bom_base_name:                 ${bom}

# sap_sid is the application SID
sap_sid:                       ${sid}

# web_sid is the Web Dispatcher SID (if applicable)
web_sid:                       ${web_sid}

wd_instance_number:           "${web_instance_number}"

# scs_high_availability is a boolean flag indicating
# if the SAP Central Services are deployed using high availability
scs_high_availability:          ${scs_high_availability}                      # {scs_high_availability}
scs_cluster_type:               ${scs_cluster_type}

# SCS Instance Number
scs_instance_number:           "${scs_instance_number}"

# scs_lb_ip is the Virtual IP address of the load balancer for
# the SAP Central Services virtual machines
scs_lb_ip:                     ${scs_server_loadbalancer_ip}

# ERS Instance Number
ers_instance_number:           "${ers_instance_number}"

# ecs_lb_ip is the ERS IP address of the load balancer for
# the SAP Central Services virtual machines
ers_lb_ip:                     ${ers_server_loadbalancer_ip}

# IP address of CNO in Windows and takes the form IPAddress/CIDR
scs_clst_lb_ip:                 ${scs_cluster_loadbalancer_ip}


# PAS Instance Number
pas_instance_number:           "${pas_instance_number}"

# APP Instance Number
app_instance_number:           "${app_instance_number}"


#############################################################################
#                                                                           #
#                              Database tier                                #
#                                                                           #
#############################################################################

# sap_sid is the database SID
db_sid:                        ${db_sid}
db_instance_number:            "${db_instance_number}"

# platform defines the database platform
# valid values are:
# ASE
# DB2
# HANA
# ORACLE
# SQLSERVER

platform:                       ${platform}

# Scale out defines if the database is to be deployed in a scale out configuration
db_scale_out:                   ${scale_out}

# db_high_availability is a boolean flag indicating if the
# SAP database servers are deployed using high availability
db_high_availability:           ${database_high_availability}
database_high_availability:     ${database_high_availability}
database_cluster_type:          ${database_cluster_type}
# database_loadbalancer_ip is the IP address of the load balancer for the database virtual machines
database_loadbalancer_ip:       ${database_loadbalancer_ip}

# Backwards copmpatibility
db_lb_ip:                       ${database_loadbalancer_ip}

# database_cluster_ip is the IP address of the load balancer for the database cluster in Windows
database_cluster_ip:                 ${database_cluster_ip}

# use_simple_mount defines if simple mount is to be used
use_simple_mount:              ${is_use_simple_mount}

# use_fence_kdump defines if optional kdump stonith device needs to be added for RHEL clusters.
use_fence_kdump:              ${is_use_fence_kdump}
#############################################################################
#                                                                           #
#                                 NFS                                       #
#                                                                           #
#############################################################################

NFS_provider:                  ${NFS_provider}
${sap_mnt}
${sap_transport}
${install_path}
${hana_data}
${hana_log}
${hana_shared}
${usr_sap}

#############################################################################
#                                                                           #
#                           Miscellaneous                                   #
#                                                                           #
#############################################################################

# kv_name is the name of the key vault containing the system credentials
kv_name:                       ${kv_name}

# secret_prefix is the prefix for the name of the secret stored in key vault
secret_prefix:                 ${secret_prefix}

# Set to true to instruct Ansible to update all the packages on the virtual machines
upgrade_packages:              ${upgrade_packages}

# Set to true to instruct Ansible to configure Pacemaker clusters using an managed identity
use_msi_for_clusters:          ${use_msi_for_clusters}

${settings}

#############################################################################
#                                                                           #
#                                Disks                                      #
#                                                                           #
#############################################################################

# This dictionary lists the deployed disks and their types
# Each "type" will create a volume group
# If there are multiple disks of the same type they will be placed in an LVM

disks:
%{~ for disk in disks }
  - ${disk}
%{~ endfor }

%{~ if length(asd_disks) != 0 }

#############################################################################
#                                                                           #
# SBD Devices                                                               #
#   ASD = Azure Shared Disks                                                #
#                                                                           #
#############################################################################

sbdDevices:
%{~   for line in asd_disks }
  - ${line}
%{~   endfor }
%{~ endif }

%{~ if length(iscsi_server_list) != 0 }

#############################################################################
#                                                                           #
#                                iSCSI                                      #
#                                                                           #
#############################################################################

# This dictionary lists the deployed iSCSI servers and their IPs

iscsi_servers:
%{~ for server in iscsi_server_list }
  - ${server}
%{~ endfor }
%{~ endif }

#############################################################################
#                                                                           #
#                                AMS                                        #
#                                                                           #
#############################################################################
# ams_resource_id is the AMS resource ID
ams_resource_id:                      ${ams_resource_id}
enable_os_monitoring:                 ${enable_os_monitoring}
enable_ha_monitoring:                 ${enable_ha_monitoring}

...
