{
    "SID": "${tostring(sid)}",
    "DB SID": "${tostring(db_sid)}",
    "Database": "${tostring(platform)}",
    "Servers": {
        "CentralServicesVirtualMachines": "${tostring(scs_server_vms)}",
        "DatabaseVirtualMachines": "${tostring(database_server_vms)}",
        "ApplicationServerVirtualMachines": "${tostring(application_server_vms)}",
        "WebDispatcherVirtualMachines": "${tostring(webdisp_server_vms)}"
    }
}