# SAP System Deployment

| Setting          | Value                           |
| ---------------- | ------------------------------- |
| SID              | ${sid}                          |
| Database         | ${platform}                     |
| DB SID           | ${db_sid}                       |
| SCS Server IP    | ${scs_server_loadbalancer_ip}   |

## Access credentials

| Setting          | Value                           |
| ---------------- | ------------------------------- |
| Keyvault         | ${kv_name}                      |
| Secret           | ${kv_pwd_secret}                |
