---
- name: Determine list of dict keys
  ansible.builtin.set_fact:
    dict_keys: "{{
      dict |
      dict2items |
      flatten(levels=1) |
      selectattr('key', 'defined') |
      map(attribute='key') |
      list
      }}"
    dict_name: "{{ ' (Check name: ' + dict.name + ')' if dict.name is defined }}"

- name: Check required keys
  ansible.builtin.assert:
    that: "required_key in dict_keys"
    fail_msg: "Expected to find key '{{ required_key }}' in '{{ reference }}'{{ dict_name }}"
  loop: "{{ required }}"
  loop_control:
    loop_var: required_key
  ignore_errors: true

- name: Check optional keys
  ansible.builtin.assert:
    that: "key in required + optional"
    fail_msg: "Unexpected key '{{ key }} in '{{ reference }}'{{ dict_name }}"
  loop: "{{ dict_keys | flatten }}"
  loop_control:
    loop_var: key
  ignore_errors: true
