---

- name:                                "4.1.3 Oracle Data Guard - Setup Primary: - Test network connectivity to peer"
  ansible.builtin.wait_for:
    host:                              "{{ hostvars[item]['ansible_host'] }}"
    port:                              "{{ listener_port }}"
    timeout:                           10
  loop:                                 "{{ ansible_play_hosts_all }}"
  when:                                item != inventory_hostname
  delegate_to:                         localhost

- name:                                "4.1.3 Oracle Data Guard - Check ASM status"
  become_user:                         "{{ grid_user_name }}"
  when:                                node_tier == "oracle-asm"
  become:                              true
  ansible.builtin.shell: |
                                       sqlplus / as sysasm <<EOF
                                       SET PAGESIZE 0 FEEDBACK OFF
                                       SELECT name || ':' || state FROM v\$asm_diskgroup;
                                       EXIT;
                                       EOF

  register:                            asm_status
  environment:                         "{{ grid_env }}"
  changed_when:                        false
  args:
    chdir:                             "/etc/sap_deployment_automation/dataguard_scripts/"

- name:                                "4.1.3 Oracle Data Guard - Show ASM mounted disk groups"
  ansible.builtin.debug:
    msg:                               "ASM Disk group Status: {{ asm_status.stdout }}"
  when:
    - node_tier == "oracle-asm"
    - asm_status is defined

- name:                                "4.1.3 Oracle Data Guard - Setup Primary: -Validate ASM mounted disk groups"
  ansible.builtin.assert:
    that:                              "'MOUNTED' in asm_status.stdout"
    fail_msg:                          "ASM disk groups not mounted"
  when:
    - node_tier == "oracle-asm"
    - asm_status is defined
- name:                                "4.1.3 Oracle Data Guard - Check Database status on Secondary {{ ansible_hostname }}"
  become_user:                         "{{ oracle_user_name }}"
  become:                              true
  ansible.builtin.shell: |
                                       sqlplus -S / as sysdba <<EOF
                                       SET PAGESIZE 0 FEEDBACK OFF HEADING OFF;
                                       SELECT database_role || ',' || open_mode || ',' || db_unique_name FROM v\$database;
                                       EXIT;
                                       EOF
  environment:                         "{{ oracle_env }}"
  args:
    chdir:                             "/etc/sap_deployment_automation/dataguard_scripts/"
  register:                            rman_performed
  changed_when:                        false
  failed_when:                         false

- name:                                "4.1.3 Oracle Data Guard - Display Data Guard status"
  ansible.builtin.debug:
    msg:                               "Database role: {{ rman_performed.stdout | default('UNKNOWN') }}"

- name:                                "4.1.3 Oracle Data Guard - Set Data Guard configuration status"
  ansible.builtin.set_fact:
    secondary_duplicated:              "{{ (rman_performed.stdout | default('UNKNOWN')) is search('PHYSICAL STANDBY')  }}"

- name:                                "4.1.3 Oracle Data Guard - Display Data Guard status"
  ansible.builtin.debug:
    msg:
      - "Database instance:           {{ ansible_hostname }}"
      - "Data duplicated:              {{ secondary_duplicated }}"

...
