---

- name:                                "4.1.3 Oracle Data Guard - Post deployment on Primary - Check if database is open on Primary"
  become:                              true
  become_user:                         "{{ oracle_user_name }}"
  ansible.builtin.shell: |
                                       setenv ORACLE_SID {{ db_sid | upper }}
                                       setenv ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
                                       sqlplus -s / as sysdba << EOF
                                       SET HEADING OFF
                                       SET FEEDBACK OFF
                                       SELECT open_mode FROM v\$database;
                                       EXIT;
                                       EOF
  environment:
    ORACLE_SID:                        "{{ db_sid | upper }}"
    ORACLE_HOME:                       "/oracle/{{ db_sid | upper }}/{{ ora_version }}"
  args:
    executable:                        /bin/csh
  register:                            primary_open_mode
  failed_when:                         false
  changed_when:                        false

- name:                                "4.1.3 Oracle Data Guard - Post deployment on Primary - Ensure database is open on Primary"
  when:                                "'READ WRITE' not in primary_open_mode.stdout"
  become:                              true
  become_user:                         "{{ oracle_user_name }}"
  ansible.builtin.shell: |
                                       setenv ORACLE_SID {{ db_sid | upper }}
                                       setenv ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
                                       sqlplus -s / as sysdba << EOF
                                       WHENEVER SQLERROR CONTINUE
                                       ALTER DATABASE OPEN;
                                       WHENEVER SQLERROR EXIT SQL.SQLCODE
                                       EXIT;
                                       EOF
  environment:
    ORACLE_SID:                        "{{ db_sid | upper }}"
    ORACLE_HOME:                       "/oracle/{{ db_sid | upper }}/{{ ora_version }}"
  args:
    executable:                        /bin/csh

  register:                            open_primary
  failed_when:
    - open_primary.rc != 0
    - "'ORA-01531' not in open_primary.stdout"

- name:                                "4.1.3 Oracle Data Guard - Post deployment on Primary - Configure Data Guard parameters on primary for Oracle ASM"
  when:                                node_tier == "oracle-asm"
  become_user:                         "{{ oracle_user_name }}"
  become:                              true
  ansible.builtin.shell: |
                                       setenv ORACLE_SID {{ db_sid | upper }}
                                       setenv ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
                                       $ORACLE_HOME/bin/sqlplus -s / as sysdba <<EOF
                                       ALTER SYSTEM SET DB_RECOVERY_FILE_DEST_SIZE='{{ db_recovery_file_dest_size }}';
                                       ALTER SYSTEM SET LOG_ARCHIVE_DEST_STATE_2='ENABLE' SCOPE=BOTH;
                                       ALTER SYSTEM SWITCH LOGFILE;
                                       WHENEVER SQLERROR CONTINUE
                                       ALTER SYSTEM SET DG_BROKER_START = false
                                       ALTER DATABASE FORCE LOGGING;
                                       WHENEVER SQLERROR EXIT SQL.SQLCODE

                                       ALTER SYSTEM SET DG_BROKER_CONFIG_FILE1 = '+DATA/{{ db_sid | upper }}/DG_CONFIG/dg_broker1.dat' SCOPE=BOTH;
                                       ALTER SYSTEM SET DG_BROKER_CONFIG_FILE2 = '+DATA/{{ db_sid | upper }}/DG_CONFIG/dg_broker2.dat' SCOPE=BOTH;
                                       WHENEVER SQLERROR CONTINUE

                                       ALTER SYSTEM SET DG_BROKER_START = true;

                                       EXIT;
                                       EOF
  register:                            enable_shipping
  failed_when:
    - enable_shipping.rc != 0
    - "'ORA-12920' not in enable_shipping.stdout"
  args:
    chdir:                             "/etc/sap_deployment_automation/dataguard_scripts/"
    executable:                        /bin/csh

- name:                                "4.1.3 Oracle Data Guard - Post deployment on Primary - Start Data Guard Broker on Primary"
  become_user:                         "{{ oracle_user_name }}"
  become:                              true
  ansible.builtin.shell: |
                                       setenv ORACLE_SID {{ db_sid | upper }}
                                       setenv ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
                                       $ORACLE_HOME/bin/sqlplus -s / as sysdba <<EOF
                                       ALTER SYSTEM SET DG_BROKER_START = true;
                                       EXIT;
                                       EOF
  register:                            dg_standby_config
  failed_when:                         dg_standby_config.rc != 0
  args:
      chdir:                           "/etc/sap_deployment_automation/dataguard_scripts/"
      executable:                      /bin/csh

- name:                                "4.1.3 Oracle Data Guard - Post deployment on Primary - Show enable log shipping on primary"
  ansible.builtin.debug:
    var:                               enable_shipping.stdout_lines
    verbosity:                         2

- name:                                "4.1.3 Oracle Data Guard - Post deployment on Primary - Save enable log shipping on primary results"
  ansible.builtin.copy:
    dest:                              /etc/sap_deployment_automation/dataguard_scripts/enable_shipping_{{ ansible_date_time.epoch }}.log
    content:                           "{{ enable_shipping.stdout }}"
    mode:                              '0777'
  when:                                enable_shipping.stdout is defined
...
