# /*---------------------------------------------------------------------------8
# |                                                                            |
# |             SAP: Register BOM                                              |
# |         SAP SCS: deploy SCS Parameter file install template                |
# |         SAP SCS: Install                                                   |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

- name:                                "SCS Install: Set the SCS Server name list"
  ansible.builtin.set_fact:
    scs_server_temp:                   "{{ scs_server_temp | default([]) + [item] }}"
  with_items:
    - "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_SCS') }}"
    - "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_DB') }}"

- name:                                "SCS Install: Set the SCS Server name"
  ansible.builtin.set_fact:
    scs_server:                        "{{ scs_server_temp | first }}"

- name:                                "SCS Install: Set BOM facts"
  ansible.builtin.set_fact:
    sap_inifile:                       "{{ bom_base_name }}-scs-{{ sap_sid | lower }}-{{ ansible_hostname }}.params"
    sap_inifile_template:              "{{ bom_base_name }}-scs-inifile-param.j2"
    dir_params:                        "{{ tmp_directory }}/.{{ sap_sid | lower }}-params"

- name:                                "SCS Install: Create run flag directory"
  ansible.builtin.file:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}"
    state:                             directory
    mode:                              0755

- name:                                "SCS Install: reset"
  ansible.builtin.file:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_scs.txt"
    state:                             absent
  when:                                reinstall

- name:                                "SCS Install: check if installed"
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_scs.txt"
  register:                            scs_installed
  when:                                "'scs' in supported_tiers"

- name:                                "SCS Install: check if installed"
  ansible.builtin.debug:
    var:                               scs_installed
    verbosity:                         2


#   0x) Create hidden directory for parameter files
- name:                                "SCS Install: Create hidden directory"
  ansible.builtin.file:
    path:                              "{{ dir_params }}"
    state:                             directory
    mode:                              '0755'

- name:                                "SCS Install: Include 3.3.1-bom-utility role"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    tier:                              "{{ tier }}"
    task_prefix:                       "SCS Install: "

- name:                                "SCS Install: Include roles-sap/3.3.1-bom-utility role"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-template
  vars:
    task_prefix:                       "SCS Install: "
    always_upload_jinja_templates:     false
    bom_name:                          "{{ bom_base_name }}"
    sap_cd_package_cd1:
    sap_cd_package_cd2:
    sap_cd_package_cd3:
    sap_cd_package_cd4:
    sap_cd_package_cd5:
    sap_cd_package_hdbclient:
    sap_ciInstanceNumber:
    app_instance_number:
    sap_ciDialogWPNumber:
    sap_ciBtcWPNumber:
    sap_installSAPHostAgent:
    sap_profile_dir:
    sap_scs_hostname:                  "{{ scs_server }}"
    sap_db_hostname:
    sap_ciVirtualHostname:
    sap_appVirtualHostname:
    tier:                              "{{ tier }}"
    param_directory:                   "{{ dir_params }}"
  tags:
    - skip_ansible_lint

- name:                                "SCS Install: install variables"
  ansible.builtin.debug:
    msg:
      - "INSTALLED:  {{ scs_installed.stat.exists }}"
      - "INIFILE:    {{ sap_inifile }}"
      - "PRODUCT ID: {{ bom.product_ids.scs }}"
      - "INSTANCE:   {{ scs_instance_number }}"
      - "MEDIA:      {{ target_media_location }}"

- name:                                "SCS Install"
  block:

# *====================================4=======================================8
# |  SAP SCS: Install                                                          |
# | 2230669 - System Provisioning Using a Parameter Input File                 |
# *====================================4=======================================8
    - name:                            "SCS Install: Progress"
      ansible.builtin.debug:
        msg:                           "Start SCS Installation"

    - name:                            "SCS Install: SAP SCS Install on {{ ansible_hostname }}"
      ansible.builtin.shell: |
                                       export SAPSYSTEMNAME={{ sap_sid | upper }};
                                       ./sapinst SAPINST_INPUT_PARAMETERS_URL={{ dir_params }}/{{ sap_inifile }}     \
                                                 SAPINST_EXECUTE_PRODUCT_ID={{ bom.product_ids.scs }}                \
                                                 SAPINST_SKIP_DIALOGS=true                                           \
                                                 SAPINST_START_GUISERVER=false
      args:
        chdir:                         "{{ target_media_location }}/SWPM"
        creates:                       "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_scs.txt"
      environment:
        SAPSYSTEMNAME:                 "{{ sap_sid | upper }}"
        TMPDIR:                        "{{ tmp_directory }}"
      register:                        scs_installation
      failed_when:                     scs_installation.rc > 0
      tags:
        - skip_ansible_lint

    - name:                            "SCS Install: Cleanup ini file {{ ansible_hostname }}"
      ansible.builtin.file:
        path:                          "{{ dir_params }}/{{ sap_inifile }}"
        state:                         absent

    - name:                            "SCS Install: Installation results"
      ansible.builtin.debug:
        var:                           scs_installation
      when:                            scs_installation.rc > 0

    - name:                            "SCS Install: Installation results"
      ansible.builtin.debug:
        msg:                           "SCS Installation succeeded"
      when:                            scs_installation.rc == 0

    - name:                            Find the installationSuccesfullyFinished.dat (SAPINST)
      ansible.builtin.find:
        paths:                         "{{ tmp_directory }}/sapinst_instdir/{{ bom.product_ids.scs.replace('.','/').replace('/ABAP','').split(':')[1] }}/INSTALL/DISTRIBUTED/ABAP/ASCS"
        file_type:                     file
        patterns:                      'installationSuccesfullyFinished.dat'
        recurse:                       true
      register:                        scs_installed_according_to_sapinst

    - name:                            "SCS Install: show"
      ansible.builtin.debug:
        var:                           scs_installed_according_to_sapinst

    - name:                            "SCS Install: flag"
      ansible.builtin.file:
        path:                          "/etc/sap_deployment_automation/{{ sap_sid | upper }}/sap_deployment_scs.txt"
        state:                         touch
        mode:                          0755
      when:
        - scs_installation.rc == 0
        - scs_installed_according_to_sapinst is defined
        - scs_installed_according_to_sapinst | length > 0


  when:
    - "'scs' in supported_tiers"
    - not scs_installed.stat.exists

- name:                                "SCS Install status"
  block:

    - name:                            "SCS Install status"
      ansible.builtin.debug:
        msg:                           "SCS is already installed"

    - name:                            "SCS: - return value"
      ansible.builtin.set_fact:
        scs_already_installed:         true
  when:
    - scs_installed.stat.exists

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
