# /*---------------------------------------------------------------------------8
# |                                                                            |
# |             SAP: Register BOM                                              |
# |         SAP SCS: deploy SCS Parameter file install template                |
# |         SAP SCS: Install                                                   |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

- name:                                "SCS Install: Set the SCS Server name list"
  ansible.builtin.set_fact:
    scs_server_temp:                   "{{ scs_server_temp | default([]) + [item] }}"
  with_items:
    - "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_SCS') }}"
    - "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_DB') }}"

- name:                                "SCS Install: Set the SCS Server name"
  ansible.builtin.set_fact:
    scs_server:                        "{{ scs_server_temp | first }}"

- name:                                "SCS Install: Create run flag directory"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation
    state:                             directory
    mode:                              0755

- name:                                "SCS Install: reset"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/sap_deployment_scs.txt
    state:                             absent
  when:                                reinstall

- name:                                "SCS Install: check if installed"
  ansible.builtin.stat:
    path:                              /etc/sap_deployment_automation/sap_deployment_scs.txt
  register:                            scs_installed
  when:                                "'scs' in supported_tiers"

- name:                                "SCS Install: check if installed"
  ansible.builtin.debug:
    var:                               scs_installed
    verbosity:                         2

- name:                                "SCS Install: Set BOM facts"
  ansible.builtin.set_fact:
    sap_inifile:                       "{{ bom_base_name }}-scs-{{ ansible_hostname }}.params"
    sap_inifile_template:              "{{ bom_base_name }}-scs-inifile-param.j2"
# Returns bom object

- name:                                "SCS Install: Include 3.3.1-bom-utility role"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    tier:                              "{{ tier }}"
    task_prefix:                       "SCS Install: "

- name:                                "SCS Install: Include roles-sap/3.3.1-bom-utility role"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-template
  vars:
    task_prefix:                       "SCS Install: "
    bom_name:                          "{{ bom_base_name }}"
    sap_cd_package_cd1:
    sap_cd_package_cd2:
    sap_cd_package_cd3:
    sap_cd_package_cd4:
    sap_cd_package_cd5:
    sap_cd_package_hdbclient:
    sap_ciInstanceNumber:
    app_instance_number:
    sap_ciDialogWPNumber:
    sap_ciBtcWPNumber:
    sap_installSAPHostAgent:
    sap_profile_dir:
    sap_scs_hostname:                  "{{ scs_server }}"
    sap_db_hostname:
    sap_ciVirtualHostname:
    sap_appVirtualHostname:
    tier:                              "{{ tier }}"
  tags:
    - skip_ansible_lint

- name:                                "SCS Install: install variables"
  ansible.builtin.debug:
    msg:                          
      - "INSTALLED:  {{ scs_installed.stat.exists }}"
      - "INIFILE:    {{ sap_inifile }}"
      - "PRODUCT ID: {{ bom.product_ids.scs }}"
      - "INSTANCE:   {{ scs_instance_number }}"
    verbosity:                         2


- name:                                "SCS Install"
  block:

# *====================================4=======================================8
# |  SAP SCS: Install                                                          |
# | 2230669 - System Provisioning Using a Parameter Input File                 |
# *====================================4=======================================8

    - name:                            "SCS Install: SAP SCS Install on {{ scs_virtual_hostname }}"
      ansible.builtin.command: |
                                       ./sapinst SAPINST_INPUT_PARAMETERS_URL=/usr/sap/install/downloads/{{ sap_inifile }}     \
                                                 SAPINST_EXECUTE_PRODUCT_ID={{ bom.product_ids.scs }}                          \
                                                 SAPINST_SKIP_DIALOGS=true                                                     \
                                                 SAPINST_START_GUISERVER=false
      args:
        chdir:                         "{{ target_media_location }}/SWPM"
        creates:                       /etc/sap_deployment_automation/sap_deployment_scs.txt
      environment:
        SAPSYSTEMNAME:                 "{{ db_sid | upper }}"
        TMPDIR:                        "{{ target_media_location }}"
      register:                        scs_installation
      failed_when:                     scs_installation.rc > 0
      tags:
        - skip_ansible_lint

    - name:                            "SCS Install: Installation results"
      ansible.builtin.debug:
        var:                           scs_installation
      when:                            scs_installation.rc > 0

    - name:                            "SCS Install: Installation results"
      ansible.builtin.debug:
        msg:                           "SCS Installation succeeded"
      when:                            scs_installation.rc == 0

    - name:                            "SCS Install: flag"
      ansible.builtin.file:
        path:                          /etc/sap_deployment_automation/sap_deployment_scs.txt
        state:                         touch
        mode:                          0755

  when:
    - "'scs' in supported_tiers"
    - not scs_installed.stat.exists

- name:                                "SCS Install status"
  ansible.builtin.debug:
    msg:                               "SCS is already installed"
  when:
    - "'scs' in supported_tiers"
    -  scs_installed.stat.exists

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
