# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Perform the Oracle Instance installation                    |
# |                  SAP: Register BOM                                         |
# |                  create .params directory                                  |
# |                  Export environment variables for Oracle Installation      |
# |                  Run the Oracle universal installer in silent mode.        |
# |                   SAP Note : 2660017 Oracle Software Installation on Unix  |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

- name:                                "4.1.2. ORACLE ASM Database Update - Validate ORACLE parameters"
  ansible.builtin.assert:
    that:
      - item_to_check.parameter is defined                    # Has the variable been defined
      - item_to_check.parameter | type_debug != 'NoneType'    # and given a value
      - item_to_check.parameter | trim | length > 1
    fail_msg:                      item_to_check.error
  loop:
    - { parameter: 'ora_release', error: 'Oracle deployments requires that ora_release is provided' }
    - { parameter: 'ora_version', error: 'Oracle deployments requires that ora_version is provided' }
  loop_control:
    loop_var: item_to_check

- name:                                "4.1.2. ORACLE ASM Database Update - Set DB SID"
  ansible.builtin.debug:
    msg:
                                       - "DB SID: {{ db_sid | upper }}"
                                       - "Oracle Version: {{ ora_version }}"
                                       - "Oracle Release: {{ ora_release }}"
                                       - "Oracle SBP Patch: {{ oracle_sbp_patch }}"

- name:                                "4.1.2. ORACLE ASM Database Update - Set Runtime Variables"
  ansible.builtin.set_fact:
    is_UEK6:                           "{{ ansible_kernel is version('5.5', '<') }}"
    CV_ASSUME_DISTID:                  "{% if ansible_kernel is version('5.5', '<') %} OEL7 {% else %} OL8 {% endif %}"

- name:                                "4.1.2. ORACLE ASM Database Update - Ensure Oracle is running"
  become:                              true
  become_user:                         "{{ oracle_user_name }}"
  ansible.builtin.shell: |
                                       setenv ORACLE_SID {{ current_sid | default(db_sid)| upper }}
                                       setenv ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
                                       $ORACLE_HOME/bin/sqlplus -S / as sysdba <<EOF
                                       ALTER DATABASE OPEN;
                                       EXIT;
                                       EOF
  register:                            dbstarted_results
  failed_when:                         false
  args:
    executable:                        /bin/csh

- name:                                "5.1. Database Load - ORACLE: Check if catsbp exists"
  ansible.builtin.stat:
    path:                               "/oracle/{{ db_sid | upper }}/{{ ora_version }}/sapbundle/catsbp"
  register:                            catsbp_stat

# Step 17
- name:                                "4.1.2. ORACLE ASM Database Update - Run the post-installation script catsbp"
  when:                                catsbp_stat.stat.exists
  block:

    - name:                            "4.1.2. ORACLE ASM Database Update - Run run the post-installation script catsbp"
      become:                          true
      become_user:                     "{{ oracle_user_name }}"
      ansible.builtin.shell: |
                                       setenv ORACLE_SID {{ current_sid | default(db_sid) | upper }}
                                       setenv ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
                                       $ORACLE_HOME/sapbundle/catsbp

      register:                        catsbp_results
      environment:
        CV_ASSUME_DISTID:              "{{ CV_ASSUME_DISTID }}"
        OHRDBMS:                       "/oracle/{{ db_sid | upper }}/{{ ora_version }}"
        IHRDBMS:                       "/oracle/{{ db_sid | upper }}/{{ ora_release }}"
        ORACLE_SID:                    "{{ db_sid | upper }}"
      args:
        executable:                    /bin/csh
        creates:                       "/etc/sap_deployment_automation/oracle/update_catsbp.txt"

    - name:                            "4.1.2. ORACLE ASM Database Update - Debug: GRID prepatch output"
      ansible.builtin.copy:
        dest:                          "/etc/sap_deployment_automation/oracle/catsbp.log"
        content:                       "{{ catsbp_results.stdout }}"
        mode:                          0777
      when:                            catsbp_results.stdout is defined

    - name:                            "4.1.2. ORACLE ASM Database Update - creates update_catsbp.txt after a successful post processing script execution"
      ansible.builtin.file:
        path:                          "/etc/sap_deployment_automation/oracle/update_catsbp.txt"
        state:                         touch
        mode:                          '0755'

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
