# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Perform the Oracle Instance installation                    |
# |                  SAP: Register BOM                                         |
# |                  create .params directory                                  |
# |                  Export environment variables for Oracle Installation      |
# |                  Run the Oracle universal installer in silent mode.        |
# |                   SAP Note : 2660017 Oracle Software Installation on Unix  |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

- name:                                "4.1.2. Oracle ASM Database Installation - Register BoM"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    task_prefix:                       "ORACLE GRID: "
    sa_enabled:                        true
  when:
                                       - bom is undefined

- name:                                "4.1.2. Oracle ASM Database Installation - Validate ORACLE parameters"
  ansible.builtin.assert:
    that:
      - item_to_check.parameter is defined                    # Has the variable been defined
      - item_to_check.parameter | type_debug != 'NoneType'    # and given a value
      - item_to_check.parameter | trim | length > 1
    fail_msg:                      item_to_check.error
  loop:
    - { parameter: 'bom.patch_information.ora_release', error: 'Oracle deployments requires that ora_release is provided' }
    - { parameter: 'bom.patch_information.ora_version', error: 'Oracle deployments requires that ora_version is provided' }
    - { parameter: 'bom.patch_information.oracle_sbp_patch', error: 'Oracle deployments requires that oracle_sbp_patch is provided' }
  loop_control:
    loop_var: item_to_check

- name:                                "4.1.2. Oracle ASM Database Installation - Set variables from BoM"
  ansible.builtin.set_fact:
    ora_release:                       "{{ bom.patch_information.ora_release }}"
    ora_version:                       "{{ bom.patch_information.ora_version }}"
    oracle_sbp_patch:                  "{{ bom.patch_information.oracle_sbp_patch }}"

- name:                                "4.1.2. Oracle ASM Database Installation - Set DB SID"
  ansible.builtin.debug:
    msg:
                                       - "DB SID: {{ sap_sid | upper }}"
                                       - "Oracle Version: {{ ora_version }}"
                                       - "Oracle Release: {{ ora_release }}"
                                       - "Oracle SBP Patch: {{ oracle_sbp_patch }}"

- name:                                "4.1.2. Oracle ASM Database Installation - Load the disk configuration settings"
  ansible.builtin.include_vars:        disks_config_asm.yml

- name:                                "4.1.2. Oracle ASM Database Installation - Create directories"
  ansible.builtin.file:
    path:                              "{{ item.path }}"
    state:                             "{{ item.state }}"
    recurse:                           "{{ item.recurse }}"
    mode:                              "{{ item.mode }}"
  loop:
    - { state: 'directory', mode: '0775', recurse: false, path: '/etc/sap_deployment_automation/' }
    - { state: 'directory', mode: '0755', recurse: false, path: '/etc/sap_deployment_automation/oracle' }
    - { state: 'directory', mode: '0755', recurse: false, path: "/etc/sap_deployment_automation/{{ sap_sid | upper }}" }
    - { state: 'directory', mode: '0755', recurse: true,  path: "{{ tmp_directory }}/{{ db_sid | upper }}/{{ ora_version }}" }

- name:                                "4.1.2. Oracle ASM Database Installation - Find Patch ID for Database Release Update"
  become:                              true
  become_user:                         root
  ansible.builtin.find:
    paths:                             "{{ target_media_location }}/SBP/GIRU19P"
    patterns:                          ["bundle.xml"]
    file_type:                         file
    recurse:                           true
  register:                            patch_grid_id_directory

- name:                                "4.1.2. Oracle ASM Database Installation - Find Patch ID for Database Release Update"
  ansible.builtin.fail:
    msg:                               "No Database Release Update found"
  when:                                patch_grid_id_directory.matched != 1

- name:                                "4.1.2. Oracle ASM Database Installation - OPatch ID"
  ansible.builtin.set_fact:
    patch_grid_path:                   "{{ patch_grid_id_directory.files[0].path | dirname }}"
  when:                                patch_grid_id_directory.matched == 1

- name:                                "4.1.2. Oracle ASM Database Installation - set ApplyRU and OPatchPath"
  ansible.builtin.set_fact:
    OPatchPath:                        "{{ target_media_location }}/SBP/OPATCH/OPatch"
    ApplyRU:                           "{{ patch_grid_path }}"
    OracleImage:                       "{{ target_media_location }}/oraserver/LINUX_X86_64/db_home/LINUX.X64_193000_db_home.zip"

- name:                                "4.1.2. Oracle ASM Database Installation - OPatch ID"
  ansible.builtin.debug:
    msg:

      - "Oracle Image: {{ target_media_location }}/oraserver/LINUX_X86_64/db_home/LINUX.X64_193000_db_home.zip"
      - "ApplyRU:      {{ ApplyRU }}"
      - "OPatchPath:   {{ OPatchPath }}"

- name:                                "4.1.2. Oracle ASM Database Installation - environment variables to the Bash profile"
  become:                              true
  become_user:                         "{{ oracle_user_name }}"
  ansible.builtin.blockinfile:
    path:                              /home/oracle/.bashrc
    insertafter:                       'fi '
    block: |
        # User Specific environment
        export ORACLE_HOME=/oracle/{{ db_sid | upper }}/{{ ora_version }}
        export ORACLE_SID={{ db_sid | upper }}
        export ORACLE_BASE=/oracle
        export LD_LIBRARY_PATH=$ORACLE_HOME/lib
        export TNS_ADMIN=$ORACLE_HOME/network/admin
        export DB_SID={{ db_sid | upper }}
        PATH="$PATH:$ORACLE_HOME/bin"
        export PATH

- name:                                "4.1.2. Oracle ASM Database Installation - create .cshrc"
  become:                              true
  become_user:                         "{{ oracle_user_name }}"
  ansible.builtin.blockinfile:
    create:                            true
    path:                              /home/oracle/.cshrc
    marker_begin:                      "-- BEGIN"
    marker_end:                        "-- END"
    block: |
        # User Specific environment
        setenv  ORACLE_HOME /oracle/{{ db_sid | upper }}/{{ ora_version }}
        setenv  ORACLE_SID  {{ db_sid | upper }}
        setenv  ORACLE_BASE /oracle
        setenv  LD_LIBRARY_PATH $ORACLE_HOME/lib
        setenv  TNS_ADMIN $ORACLE_HOME/network/admin
        setenv  DB_SID {{ db_sid | upper }}
        set path = ($path $ORACLE_HOME/bin)
    mode:                              '0755'

- name:                                "4.1.2. Oracle ASM Database Installation - environment variables to the Bash profile for grid"
  when:                                grid_user_name != oracle_user_name
  become:                              true
  become_user:                         "{{ grid_user_name }}"
  ansible.builtin.blockinfile:
    path:                              /home/grid/.bashrc
    insertafter:                       'fi '
    block: |
        # User Specific environment
        export ORACLE_HOME=/oracle/GRID/{{ ora_version }}
        export ORACLE_SID=+ASM
        export ORACLE_BASE=/oracle
        export LD_LIBRARY_PATH=$ORACLE_HOME/lib
        export TNS_ADMIN=$ORACLE_HOME/network/admin
        export DB_SID=+ASM
        PATH="$PATH:$ORACLE_HOME/bin"
        export PATH

- name:                                "4.1.2. Oracle ASM Database Installation - create .cshrc"
  when:                                grid_user_name != oracle_user_name
  become:                              true
  become_user:                         "{{ grid_user_name }}"
  ansible.builtin.blockinfile:
    create:                            true
    path:                              /home/grid/.cshrc
    marker_begin:                      "-- BEGIN"
    marker_end:                        "-- END"
    block: |
        # User Specific environment
        setenv  ORACLE_HOME /oracle/GRID/{{ ora_version }}
        setenv  ORACLE_SID  +ASM
        setenv  ORACLE_BASE /oracle
        setenv  LD_LIBRARY_PATH $ORACLE_HOME/lib
        setenv  TNS_ADMIN $ORACLE_HOME/network/admin
        setenv  DB_SID +ASM
        set path = ($path $ORACLE_HOME/bin)
    mode:                              '0755'


- name:                                "4.1.2. Oracle ASM Database Installation - check if installed"
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/oracle/oracle_installed.txt"
  register:                            oracle_installed

- name:                                "4.1.2. Oracle ASM Database Installation - check updated installation media exists"
  ansible.builtin.stat:
    path:                              "{{ target_media_location }}/SAP/SAP/RUNINSTALLER"
  register:                            oracle_media_installed


- name:                                "4.1.2. Oracle ASM Database Installation - check RUNINSTALLER exists"
  ansible.builtin.assert:
    that:
      - oracle_media_installed.stat.exists
    fail_msg:                          "Oracle ASM Database installation requires the updated RUNINSTALLER media to be available at {{ target_media_location }}/SAP/SAP/RUNINSTALLER"

# /*---------------------------------------------------------------------------8
# | Start of Oracle software installation using SAP RUNINSTALLER wrapper.      |
# | Before running Installer set DB_SID and CV_ASSUME_DISTID according to      |
# | SAP Note 2660017 Oracle Software Installation on Unix                      |
# |                                                                            |
# | Step 1 run the pre-installation check                                      |
# +------------------------------------4--------------------------------------*/
- name:                                "4.1.2. Oracle ASM Database Installation - Pre-Installation Check"
  when:
    - not oracle_installed.stat.exists
  block:

# /*---------------------------------------------------------------------------8
# | Start of Oracle software installation using SAP RUNINSTALLER wrapper.      |
# | Before running Installer set DB_SID and CV_ASSUME_DISTID according to      |
# | SAP Note 2660017 Oracle Software Installation on Unix                      |
# |                                                                            |
# | Step 2 run the installation check                                          |
# +------------------------------------4--------------------------------------*/
    - name:                            "4.1.2. Oracle ASM Database Installation - Execute RUNINSTALLER command"
      ansible.builtin.debug:
        msg:                           "Running {{ target_media_location }}/SAP/SAP/RUNINSTALLER -oracle_image {{ OracleImage }} -applyRU {{ ApplyRU }} -opatchLocation {{ OPatchPath }} -silent -ignorePrereqWarnings"

    - name:                            "4.1.2. Oracle ASM Database Installation - Execute RUNINSTALLER"
      become:                          true
      become_user:                     "{{ oracle_user_name }}"
      ansible.builtin.shell: |
                                       {{ target_media_location }}/SAP/SAP/RUNINSTALLER \
                                       -oracle_image {{ OracleImage }}                  \
                                       -applyRU {{ ApplyRU }}                           \
                                       -opatchLocation {{ OPatchPath }}                 \
                                       -silent -ignorePrereqWarnings
      register:                        orainstaller_results
      failed_when:                     orainstaller_results.rc >= 2              # installer returns rc=1 (exited with warning) by default when run is silent mode as the oratab file is created only after running the root.sh
      environment:
        DB_SID:                        "{{ db_sid | upper }}"
        CV_ASSUME_DISTID:              "{{ CV_ASSUME_DISTID }}"
      args:
        executable:                    /bin/csh
        creates:                       "/etc/sap_deployment_automation/oracle/oracle_installed.txt"

    - name:                            "4.1.2. Oracle ASM Database Installation - Debug: installer output"
      ansible.builtin.debug:
        var:                           orainstaller_results.stdout_lines
        verbosity:                     2

    - name:                            "4.1.2. Oracle ASM Database Installation - Debug installer output log"
      ansible.builtin.copy:
        dest:                          "/etc/sap_deployment_automation/oracle/oracle_install.log"
        content:                       "{{ orainstaller_results.stdout }}"
        mode:                          '0777'
      when:                            orainstaller_results.stdout is defined

    - name:                            "4.1.2. Oracle ASM Database Installation - Create oracle_installed.txt"
      ansible.builtin.file:
        path:                          "/etc/sap_deployment_automation/oracle/oracle_installed.txt"
        state:                         touch
        mode:                          '0755'
      when:                            orainstaller_results.rc <= 2

# /*---------------------------------------------------------------------------8
# | Start of Oracle software installation using SAP RUNINSTALLER wrapper.      |
# | Before running Installer set DB_SID and CV_ASSUME_DISTID according to      |
# | SAP Note 2660017 Oracle Software Installation on Unix                      |
# |                                                                            |
# | Step 3 Post processing                                                     |
# +------------------------------------4--------------------------------------*/

- name:                                "4.1.2. Oracle ASM Database Installation - Run orainstRoot.sh"
  become:                              true
  become_user:                         root
  ansible.builtin.shell:               /oracle/oraInventory/orainstRoot.sh
  register:                            orainstRoot_results
  args:
    executable:                        /bin/csh

- name:                                "4.1.2. Oracle ASM Database Installation - Debug: orainstRoot output"
  ansible.builtin.debug:
    var:                               orainstRoot_results.stdout_lines
    verbosity:                         2

- name:                                "4.1.2. Oracle ASM Database Installation - Debug installer output log"
  ansible.builtin.copy:
    dest:                              "/etc/sap_deployment_automation/oracle/orainstRoot.log"
    content:                           "{{ orainstRoot_results.stdout }}"
    mode:                              '0777'
  when:                                orainstRoot_results.stdout is defined

- name:                                "4.1.2. Oracle ASM Database Installation - Post Processing - Run root.sh"
  become:                              true
  become_user:                         root
  ansible.builtin.shell:               /oracle/{{ db_sid | upper }}/{{ ora_version }}/root.sh
  register:                            rootscript_results
  args:
    executable:                        /bin/csh

- name:                                "4.1.2. Oracle ASM Database Installation - Debug: rootscript output"
  ansible.builtin.debug:
    var:                               rootscript_results.stdout_lines
    verbosity:                         2

- name:                                "4.1.2. Oracle ASM Database Installation - Debug rootscript output log"
  ansible.builtin.copy:
    dest:                              "/etc/sap_deployment_automation/oracle/rootscript.log"
    content:                           "{{ rootscript_results.stdout }}"
    mode:                              '0777'
  when:                                rootscript_results.stdout is defined

- name:                                "4.1.2. Oracle ASM Database Installation - Permissions"
  ansible.builtin.file:
    path:                              /oracle/{{ db_sid | upper }}/{{ ora_version }}/bin/oracle
    state:                             file
    owner:                             oracle
    mode:                              '6751'

- name:                                "4.1.2. Oracle ASM Database Installation - Set sid variable"
  ansible.builtin.set_fact:
    this_sid:                          "{{ db_sid | upper }}"

- name:                                "4.1.2. Oracle ASM Database Installation - Set sid variable"
  ansible.builtin.set_fact:
    this_sid:                          "{{ db_sid | upper }}_STDBY"
  when:
    ansible_hostname == ora_secondary


- name:                                "4.1.2. Oracle ASM Database Installation - Install status"
  when:
    - oracle_installed.stat.exists
  block:

    - name:                            "4.1.2. Oracle ASM Database Installation - Install status"
      ansible.builtin.debug:
        msg:                           "Oracle ASM: is already installed"

    - name:                            "4.1.2. Oracle ASM Database Installation - return value"
      ansible.builtin.set_fact:
        oracle_already_installed:      true
...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
