# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Perform the Oracle Instance installation                    |
# |                  SAP: Register BOM                                         |
# |                  create .params directory                                  |
# |                  Export environment variables for Oracle Installation      |
# |                  Run the Oracle universal installer in silent mode.        |
# |                   SAP Note : 2660017 Oracle Software Installation on Unix  |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

- name:                                "4.1.2 Oracle ASM Database - Update - Register BoM"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    task_prefix:                       "ORACLE GRID: "
    sa_enabled:                        true
  when:
                                       - bom is undefined

- name:                                "4.1.2 Oracle ASM Database - Update - Validate ORACLE parameters"
  ansible.builtin.assert:
    that:
      - item_to_check.parameter is defined                    # Has the variable been defined
      - item_to_check.parameter | type_debug != 'NoneType'    # and given a value
      - item_to_check.parameter | trim | length > 1
    fail_msg:                      item_to_check.error
  loop:
    - { parameter: 'bom.patch_information.ora_release', error: 'Oracle deployments requires that ora_release is provided' }
    - { parameter: 'bom.patch_information.ora_version', error: 'Oracle deployments requires that ora_version is provided' }
    - { parameter: 'bom.patch_information.oracle_sbp_patch', error: 'Oracle deployments requires that oracle_sbp_patch is provided' }
  loop_control:
    loop_var: item_to_check

- name:                                "4.1.2 Oracle ASM Database - Update - Set variables from BoM"
  ansible.builtin.set_fact:
    ora_release:                       "{{ bom.patch_information.ora_release }}"
    ora_version:                       "{{ bom.patch_information.ora_version }}"
    oracle_sbp_patch:                  "{{ bom.patch_information.oracle_sbp_patch }}"

- name:                                "4.1.2 Oracle ASM Database - Update - Set DB SID"
  ansible.builtin.debug:
    msg:
                                       - "DB SID: {{ sap_sid | upper }}"
                                       - "Oracle Version: {{ ora_version }}"
                                       - "Oracle Release: {{ ora_release }}"
                                       - "Oracle SBP Patch: {{ oracle_sbp_patch }}"

- name:                                "4.1.2 Oracle ASM Database - Update - Set Runtime Variables"
  ansible.builtin.set_fact:
    is_UEK6:                           "{{ ansible_kernel is version('5.5', '<') }}"
    CV_ASSUME_DISTID:                  "{% if ansible_kernel is version('5.5', '<') %} OEL7 {% else %} OL8 {% endif %}"

# Step 4
- name:                                "4.1.2 Oracle ASM Database - Pre processing reset permissions"
  when:                                oradism_stat.stat.exists
  ansible.builtin.file:
    path:                              "/oracle/{{ db_sid | upper }}/{{ ora_version }}/bin/oradism"
    state:                             file
    mode:                              'u+rw'
    owner:                             "{{ oracle_user_name }}"
    group:                             oinstall

# Step 5
- name:                                "4.1.2 Oracle ASM Database - Post Processing - DB SBP Patching - progress"
  ansible.builtin.debug:
    msg:                               "Running SBP Patching, env ORACLE_HOME=$IHRDBMS  $IHRDBMS /MOPatch/mopatch.sh -v -s {{ target_media_location }}/SBP/{{ oracle_sbp_patch }}, please wait"

- name:                                "4.1.2 Oracle ASM Database - Post Processing - SBP Patching"
  become:                              true
  become_user:                         "{{ oracle_user_name }}"
  ansible.builtin.shell:               "env ORACLE_HOME=$IHRDBMS $IHRDBMS/MOPatch/mopatch.sh -v -s {{ target_media_location }}/SBP/{{ bom.patch_information.oracle_sbp_patch }} -F mopatch_patchgen"
  environment:
    CV_ASSUME_DISTID:                  "{{ CV_ASSUME_DISTID }}"
    IHRDBMS :                          "/oracle/{{ db_sid | upper }}/{{ ora_version }}"
  register:                            sbpscriptdb_results
  failed_when:                         sbpscriptdb_results.rc >= 2
  args:
    creates:                           "/etc/sap_deployment_automation/oracle/grid_mopatch_db_installed.txt"
    chdir:                             "{{ target_media_location }}/SBP"
    executable:                        /bin/csh

- name:                                "4.1.2 Oracle ASM Database - Post processing installer output"
  ansible.builtin.debug:
    var:                               sbpscriptdb_results.stdout_lines
    verbosity:                         2

- name:                                "4.1.2 Oracle ASM Database - Post processing installer output"
  ansible.builtin.copy:
    dest:                              "/etc/sap_deployment_automation/oracle/grid_mopatch_db.log"
    content:                           "{{ sbpscriptdb_results.stdout }}"
    mode:                              '0777'
  when:                                sbpscriptdb_results.stdout is defined

- name:                                "4.1.2 Oracle ASM Database - Create grid_mopatch_db_installed.txt"
  ansible.builtin.file:
    path:                              "/etc/sap_deployment_automation/oracle/grid_mopatch_db_installed.txt"
    state:                             touch
    mode:                              '0755'
    owner:                             "{{ oracle_user_name }}"
    group:                             oinstall

# Step 6
- name:                                "4.1.2 Oracle ASM Database - pre processing reset permissions"
  when:                                oradism_stat.stat.exists
  ansible.builtin.file:
    path:                              "/oracle/{{ db_sid | upper }}/{{ ora_version }}/bin/oradism"
    state:                             file
    mode:                              '4750'
    owner:                             "{{ oracle_user_name }}"
    group:                             oinstall

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
