<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[{{ pwd_os_root }}]]></root_password>
    <sapadm_password><![CDATA[{{ pwd_os_sapadm }}]]></sapadm_password>
    <master_password><![CDATA[{{pwd_master}}]]></master_password>
    <password><![CDATA[{{ pwd_os_sidadm }}]]></password>
    <system_user_password><![CDATA[{{ pwd_hdb_system }}]]></system_user_password>
    <lss_user_password><![CDATA[{{ pwd_lss_user }}]]></lss_user_password>
    <lss_backup_password><![CDATA[{{ pwd_lss_backup }}]]></lss_backup_password>
    <streaming_cluster_manager_password><![CDATA[{{ pwd_streaming_cluster_manager }}]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[{{ pwd_ase_user }}]]></ase_user_password>
    <org_manager_password><![CDATA[{{ pwd_org_manager }}]]></org_manager_password>
</Passwords>
