# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#

################
# Filename......: tnsnames.ora
# Created.......: created by SDAF for Primary
# Name..........:
# Date..........:
# @(#) $Id: //inst/inst_scripts/lmts_006_REL/tpls/ora/TNSNAMES.ORA#2 $
################
{{ db_sid }}.WORLD=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ora_primary }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid }})
       (GLOBAL_NAME = {{ db_sid }}.WORLD)
       (SERVICE_NAME = {{ db_sid }})
    )
  )
{{ db_sid }}=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ora_primary }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid }})
       (GLOBAL_NAME = {{ db_sid }}.WORLD)
       (SERVICE_NAME = {{ db_sid }})
    )
  )
{{ db_sid }}_STDBY.WORLD=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ora_secondary }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid }}_STDBY)
       (UR = A)
    )
  )
{{ db_sid }}_STDBY=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ora_secondary }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid }}_STDBY)
       (UR = A)
    )
  )
