# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                         OS Base Disk Configuration                         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---
# -------------------------------------+---------------------------------------8
#
# Task: 1.5.2     - os-disk-setup-multi-sid
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#
# Get all the unique disk types from sap-parameters
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#
- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Load the disk configuration settings"
  ansible.builtin.include_vars:        disks_config_ora_msid.yml

- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Print unique disks and volume group details"
  ansible.builtin.debug:
    msg: ' "{{ volume_groups }}" and "{{ logical_volume_groups }}"'
    verbosity:                         2

# CREATE VOLUME GROUPS BASED ON sap-parameters.yaml
# -------------------------------------+---------------------------------------8
#
- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Volume Group creation"
  community.general.lvg:
    vg:                                "{{ item.vg }}"
    pvs:                               "{{ item.pvs }}"
    pesize:                            4M
    state:                             present
  loop:                                "{{ volume_groups }}"
  register:                            volume_groups_created

- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Filter the volume group name from results"
  ansible.builtin.set_fact:
    volume_groups_created_list:        "{{ volume_groups_created | json_query('results[*].item.vg') }}"

# CREATE LOGICAL VOLUMES BASED ON VGCREATEDLIST
# -------------------------------------+---------------------------------------8
#
- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Logical Volume creation"
  community.general.lvol:
    lv:                                "{{ item.lv }}"
    vg:                                "{{ item.vg }}"
    size:                              "{{ item.size }}"
    opts:                              "{{ lvol_opts_from_lv_item }}"
    active:                            true
    state:                             present
    shrink:                            false
    resizefs:                          false
  loop:                                "{{ logical_volume_groups }}"
  register:                            logical_volumes_created
  when:
    - item.tier == "sapos"
    - item.node_tier == "oracle-multi-sid"
    - item.vg in volume_groups_created_list

- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Filter the logical volumes created results"
  ansible.builtin.set_fact:
    logical_volumes_created_list_tmp:  "{{ logical_volumes_created.results | rejectattr('skipped', 'defined') | list }}"

- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Filter the logical volumes created results 2"
  ansible.builtin.set_fact:
    logical_volumes_created_list:      "{{ logical_volumes_created_list_tmp | map(attribute='item.lv') | list }}"

- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - File system creation"
  community.general.filesystem:
    dev:                               "{{ dev_path_from_lv_item }}"
    fstype:                            "{{ item.fstype }}"
    opts:                              "{{ item.fsopts | default('') }}"
  loop:                                "{{ logical_volume_groups }}"
  register :                           file_systems_created
  when:
    - item.tier in ["all", tier ]
    - item.node_tier in ["all", node_tier]
    - item.fstype is defined
    - item.lv in logical_volumes_created_list

# Debug for testing
- name:                                "1.5.2 Disk Setup - Oracle (sharedHome) - Debug Print details"
  ansible.builtin.debug:
    msg:
      - "Created Volume Groups:       {{ volume_groups_created_list }}"
      - "Created Logical Volumes:     {{ logical_volumes_created_list }}"
      - "Created File systems:        {{ file_systems_created }}"
    verbosity:                         2
# Debug testing end of line

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
