# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# Returns bom object
- name:                                "1.3.3 Repositories from BOM -  Register BoM"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    task_prefix:                       "BOM based repositories: "
    sa_enabled:                        true
  when:
                                       - bom is undefined

- name:                                "1.3.3 Repositories from BOM - Add the repositories with repourl"
  when:
                                       - bom is defined
                                       - item.repourl is defined
                                       - ( item.type is defined          and (item.type | lower) == 'rpm' )
                                       - ( item.archive is defined       and (item.archive | trim | length) > 0 )
                                       - ( item.distributions is defined and ((distribution_id | lower) in item.distributions) )
  become:                              true
  become_user:                         root
  ansible.builtin.yum_repository:
    name:                              "{{ target_media_location }}/RPM/{{ item.archive }}"
    state:                             "present"
    gpgcheck:                          false
    baseurl:                           "{{ item.repourl }}"
    description:                       "Repository for {{ item.archive }}"
  loop:                                "{{ bom.materials.media | flatten(levels=1) }}"
  register:                            repo_result_bom_add_repos

- name:                                "1.3.3 Repositories from BOM - Show the packages"
  when:
                                       - bom is defined
                                       - ( item.type is defined          and (item.type | lower) == 'rpm' )
                                       - ( item.archive is defined       and (item.archive | trim | length) > 0 )
  ansible.builtin.debug:
    msg:
      - "Package to be installed:        {{ target_media_location }}/RPM/{{ item.archive }}"
      - "({{ distribution_id }} | lower) "
      - "Distributions:                  {{ item.distributions }}"

  loop:                                "{{ bom.materials.media | flatten(levels=1) }}"


- name:                                "1.3.3 Repositories from BOM - Add the packages with no repourl"
  when:
                                       - bom is defined
                                       - ( item.type is defined          and (item.type | lower) == 'rpm' )
                                       - ( item.archive is defined       and (item.archive | trim | length) > 0 )
                                       - ( item.distributions is defined and ((distribution_id | lower) in item.distributions) )
  become:                              true
  become_user:                         root
  ansible.builtin.dnf:
    name:                              "{{ target_media_location }}/RPM/{{ item.archive }}"
    state:                             "present"
    disable_gpg_check:                 true
  loop:                                "{{ bom.materials.media | flatten(levels=1) }}"
  register:                            repo_result_bom_add_packages

- name:                                "1.3.3 Repositories from BOM - Add the repositories result"
  ansible.builtin.debug:
    msg:
      - "Add repositories result: {{ repo_result_bom_add_repos }}"
      - "Add packages result:     {{ repo_result_bom_add_packages }}"
    verbosity:                         2
