# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# Returns bom object
- name:                                "Oracle ASM: Register BoM"
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    task_prefix:                       "Oracle ASM: "
    sa_enabled:                        true
  when:
                                       - bom is undefined

- name:                                "Oracle ASM: Add the repositories"
  become:                              true
  become_user:                         root
  ansible.builtin.yum:
    name:                              "{{ target_media_location }}/download_basket/{{ item.archive }}"
    state:                             "present"
    disable_gpg_check:                 true
  loop:                                "{{ bom.materials.media | flatten(levels=1) }}"
  when:
    - bom is defined
    - ( item.type is defined       and (item.type | lower) == 'rpm' )
    - ( item.archive is defined    and (item.archive | trim | length) > 0 )
