# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

- name:                                "1.3.1 Repository - REDHAT - Import repository list"
  ansible.builtin.include_vars:        repos.yaml

# Analyze the repo list for this distribution selecting only those
# packages assigned to the active tier or 'all'.

- name:                                "1.3.1 Repository - REDHAT - Determine repos appropriate for tier"
  ansible.builtin.set_fact:
    repos_for_tier:                    "{{ repos[distribution_full_id] |
                                             selectattr('tier', 'in', ['all', tier]) |
                                             list }}"

# Print list of matching repos if verbosity it 1 or greater
- name:                                "1.3.1 Repository - REDHAT - Print matching repos"
  ansible.builtin.debug:
    var:                               "{{ repos_for_tier }}"
    verbosity:                         2
  when:
    - repos_for_tier is defined
    - repos_for_tier | length > 0

- name:                                "1.3.1 Repository - REDHAT - Add the repositories {{ ansible_os_family }}"
  ansible.builtin.yum_repository:
    name:                              "{{ item.repo }}"
    state:                             "{{ item.state }}"
    baseurl:                           "{{ item.url }}"
  loop:                                "{{ repos_for_tier }}"

  register:                            repo_result
  ignore_errors:                       true

- name:                                "1.3.1 Repository - REDHAT - Add the repositories result"
  ansible.builtin.debug:
    var:                               repo_result
    verbosity:                         2

- name:                                "1.3.1 Repository - REDHAT - Add the High Availability repositories for OracleLinux"
  ansible.builtin.dnf:
    enablerepo:                        ol8_UEKR7
    disable_gpg_check:                 true
  changed_when:                        false
  when:
    - distribution_id in ['oraclelinux8']

- name:                                "1.3.1 Repository - REDHAT - Add the High Availability repositories for OracleLinux"
  ansible.builtin.dnf:
    enablerepo:                        ol9_UEKR7
    disable_gpg_check:                 true
  changed_when:                        false
  when:
    - distribution_id in ['oraclelinux9']

- name:                                "1.3.1 Repository - REDHAT - Add the High Availability repositories for RHEL"
  ansible.builtin.dnf:
    enablerepo:                        rhel-9-for-x86_64-highavailability-rpms
    disable_gpg_check:                 true
  changed_when:                        false
  when:
    - distribution_id in ['redhat9']
    - node_tier == 'ha'

- name:                                "1.3.1 Repository - REDHAT - Add the High Availability repositories for RHEL"
  ansible.builtin.dnf:
    enablerepo:                        rhel-8-for-x86_64-highavailability-rpms
    disable_gpg_check:                 true
  changed_when:                        false
  when:
    - distribution_id in ['redhat8']
    - node_tier == 'ha'
