**Control Plane Deployment**

The Deployer has been deployed to resource group **${resource_group_name}** in subscription **${subscription_id}**.

You can access the resource group directly in the Azure Portal using the following link: [${resource_group_name}](${url})


**Resources**


| Name                           | Names                                                 |
| :----------------------------- | :---------------------------------------------------- |
| Configuration Web App          | [${app_service_name}](${app_service_url})             |
| Key Vault                      | [${key_vault_name}](${key_vault_url})                 |
| Application Configuration      | [${app_configuration_name}](${app_configuration_url}) |






