####################################################################################################################################################################################
#                                                                                                                                                                                  #
# Installation service 'SAP NetWeaver 7.5 > MS SQL Server > Installation >
# Application Server ABAP > High-Availability System > First Cluster Node', product id 'NW_FirstClusterNode_ABAP:NW750.MSS.ABAPHA' #
#                                                                                                                                                                                  #
####################################################################################################################################################################################

# Master password
NW_GetMasterPassword.masterPwd                                        = {{ main_password }}

# Windows only: The drive to use
NW_GetSidNoProfiles.sapdrive                                          = {{ sap_drive }}

# Unix only: The SAP mount directory path. Default value is '/sapmnt'.
# NW_GetSidNoProfiles.sapmnt = /sapmnt

# The SAP system ID <SAPSID> of the system to be installed
NW_GetSidNoProfiles.sid                                               = {{ sap_sid | upper }}

# The instance number of the (A)SCS instance.  Leave this value empty if you want to use the default instance number or if you want to specify two different numbers for ASCS and SCS instance.
NW_SCS_Instance.instanceNumber                                        = {{ scs_instance_number }}

# Dual stack only: The SCS instance number. Leave empty for default.
# NW_SCS_Instance.scsInstanceNumber =

# The (A)SCS message server port. Leave empty for default.
# NW_SCS_Instance.scsMSPort =

# You can specify a virtual host name for the ASCS instance. Leave empty for default.
NW_SCS_Instance.scsVirtualHostname                                    = {{ sap_scs_hostname }}


# The FQDN of the system
NW_getFQDN.FQDN                                                       = {{ sap_fqdn }}

# SAP INTERNAL USE ONLY
# NW_getFQDN.resolve = true

# Specify whether you want to set FQDN for the system.
# NW_getFQDN.setFQDN = true

# The ASP device name where the SAP system will be in installed. The property is IBM i only.
# Values from 1 to 256 can be specified. The default is 1, the System ASP.
# OS4.DestinationASP =

# The folder containing all archives that have been downloaded from http://support.sap.com/swdc and are supposed to be used in this procedure
archives.downloadBasket                                               = {{ target_media_location }}\download_basket

# Password of the sidadm user.
db2.sidAdmPassword                                                    = {{ main_password }}

# Windows only: The domain of the SAP Host Agent user
# hostAgent.domain =

# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword                                              = {{ main_password }}


# Windows only: The password of the 'SAPServiceSID' user
nwUsers.sapServiceSIDPassword                                         = {{ sid_service_password }}

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword                                                = {{ domain_user_password }}

NW_GetSidFromCluster.fileShare                                        = {{ cluster_share }}

# The hostname to use
NW_GetSidFromCluster.networkName                                      = {{ sap_scs_hostname }}

# Choose "CSD"  if you are using the cluster shared drive or Choose "FS" if you are using the File Share.
NW_GetSidFromCluster.shareDecision                                    = {{ win_cluster_share_type }}

# The drive to use for shared instances. Has to be a clustered drive assigned to the cluster group.
NW_GetSidFromCluster.sharedDrive                                      = {{ sap_sid | upper }}SharedDisk

# The SAP System ID of the system to install
NW_GetSidFromCluster.sid                                              = {{ sap_sid | upper }}

# The instance number of the (A)SCS instance.  Leave this value empty if you want to use the default instance number or if you want to specify two different numbers for ASCS and SCS instance.
NW_SCS_Instance.instanceNumber                                        = {{ scs_instance_number }}

# Dual stack only: The SCS instance number. Leave empty for default.
# NW_SCS_Instance.scsInstanceNumber =

# The (A)SCS message server port. Leave empty for default.
# NW_SCS_Instance.scsMSPort =

# You can specify a virtual host name for the ASCS instance. Leave empty for default.
NW_SCS_Instance.scsVirtualHostname                                   = {{ sap_scs_hostname }}

# Password of the sidadm user.
db2.sidAdmPassword                                                   = {{ main_password }}

# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword                                             = {{ main_password }}

# The instance number of the ERS instance. Leave empty for default.
nw_instance_ers.ersInstanceNumber                                    = {{ ers_instance_number }}

# Host name of the ERS instance. It can be either the physical host name or -  in case of  high-availability system installation, - one of the virtual host names.
nw_instance_ers.ersVirtualHostname                                   = {{ ers_virtual_hostname }}

# Restart (A)SCS instance during ERS installation. Default value 'true'. Possible values 'true' or 'false'. Leave empty for default.
# nw_instance_ers.restartSCS = true
