# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Perform the SAP DB Instance installation                    |
# |                  SAP: Register BOM                                         |
# |                  create .params directory                                  |
# |                  deploy db install template                                |
# |                  deploy hdblcm password file                               |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

- name:                                "SAP HANA: Create run flag directory"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation
    state:                             directory
    mode:                              0755

- name:                                "SAP HANA: Install reset"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/sap_deployment_hdb.txt
    state:                             absent
  when: reinstall

- name:                                "SAP HANA: check if installed"
  ansible.builtin.stat:
    path:                              /etc/sap_deployment_automation/sap_deployment_hdb.txt
  register:                            hana_installed

- name:                                "HANA Install"
  block:

# +------------------------------------4--------------------------------------*/
    - name:                            Set dir_params fact
      ansible.builtin.set_fact:
        dir_params:                    "{{ target_media_location }}/.params"

    - name:                            Show dir_params
      ansible.builtin.debug:
        var:                           dir_params

#   0x) Create hidden directory for parameter files
    - name:                            "SAP HANA: Create hidden directory"
      ansible.builtin.file:
        path:                          "{{ item.path }}"
        state:                         directory
        mode:                          '{{ item.mode }}'
      loop:
        - { state: 'directory', mode: '0755', path: '{{ target_media_location }}' }
        - { state: 'directory', mode: '0755', path: '{{ dir_params }}' }

    #   SAP HANA: debug hdblcm password file
    - name:                            "SAP HANA: debug hdblcm password file"
      ansible.builtin.debug:
        msg:
          - "FILE: {{ dir_params }}/hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_passwords.xml"
          - "PWD:  {{ main_password }}"
        verbosity:                     2

#   SAP HANA: deploy hdblcm password file
    - name:                            "SAP HANA: deploy hdblcm password file"
      ansible.builtin.template:
        src:                           HANA_2_00_055_v1_install.rsp.xml.j2
        dest:                          "{{ dir_params }}/hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_passwords.xml"
        mode:                          0644
        force:                         true

      # Template parameter mapping
      vars:
        pwd_os_root:                   "***"                                       # Not used at this time
        pwd_os_sapadm:                 "{{ main_password }}"
        pwd_master:                    "{{ main_password }}"
        pwd_os_sidadm:                 "{{ main_password }}"
        pwd_hdb_system:                "{{ main_password }}"
        pwd_lss_user:                  "***"                                       # Not used at this time
        pwd_lss_backup:                "***"                                       # Not used at this time
        pwd_streaming_cluster_manager: "***"                                       # Not used at this time
        pwd_ase_user:                  "***"                                       # Not used at this time
        pwd_org_manager:               "***"                                       # Not used at this time

#   SAP HANA: deploy hdblcm install response file
    - name:                            "SAP HANA: deploy hdblcm install response file"
      ansible.builtin.template:
        src:                           HANA_2_00_055_v1_install.rsp.j2
        dest:                          "{{ dir_params }}/hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_install.rsp"
        mode:                          0644
        force:                         true
  # Template parameter mapping
      vars:
        _rsp_component_root:           "../COMPONENTS"
        _rsp_components:               "all"
        _rsp_sapmnt:                   "/hana/shared"                              # Default Value
        _rsp_hostname:                 "{{ ansible_hostname }}"            # TODO: needs to be tested with HA and scale out
        _rsp_sid:                      "{{ db_sid|upper }}"
        _rsp_number:                   "{{ hdb_instance_number }}"
        _rsp_system_usage:             "custom"
        main_password:                 " {{ main_password }}"

    - name:                            "SAP HANA: Execute hdblcm on {{ ansible_hostname }}"
      ansible.builtin.command:         ./hdblcm --batch --action=install  --configfile='{{ dir_params }}/hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_install.rsp'
      args:
        chdir:                         /usr/sap/install/CD_HDBSERVER/SAP_HANA_DATABASE
        creates:                       /etc/sap_deployment_automation/sap_deployment_hdb.txt
      register:                        hana_installation
      failed_when:                     hana_installation.rc > 0

    - name:                            "Installation results"
      ansible.builtin.debug:
        var:                           hana_installation
        verbosity:                     2

    - name:                            "Installation results"
      ansible.builtin.debug:
        var:                           hana_installation
      when:                            hana_installation.rc > 0

    - name:                            "REMOVE install password file "
      ansible.builtin.file:
        path:                          "{{ dir_params }}/hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_passwords.xml"
        state:                         absent

    - name:                            "REMOVE install response file"
      ansible.builtin.file:
        path:                          "{{ dir_params }}/hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_install.rsp"
        state:                         absent

    - name:                            "HANA Install: flag"
      ansible.builtin.file:
        path:                          /etc/sap_deployment_automation/sap_deployment_hdb.txt
        state:                         touch
        mode:                          0755

  when:
    - not hana_installed.stat.exists

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
