# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                Perform the SAP DB Instance installation                    |
# |                  SAP: Register BOM                                         |
# |                  create .params directory                                  |
# |                  deploy db install template                                |
# |                  deploy hdblcm password file                               |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---

# +------------------------------------4--------------------------------------*/
- name:                                "SAP HANA: Set BOM facts"
  ansible.builtin.set_fact:
    sap_inifile:                       "hdbserver_{{ ansible_hostname }}_{{ sap_sid }}_install.rsp"
    sap_inifile_template:              "HANA_2_00_install.rsp.j2"
    hana_host:                         "{% if db_high_availability %}{{ ansible_hostname }}{% else %}{{ virtual_host }}{% endif %}"
    dir_params:                        "{{ tmp_directory }}/.params"

#   0x) Create hidden directory for parameter files
- name:                                "SAP HANA: Create directories"
  ansible.builtin.file:
    path:                              "{{ item.path }}"
    state:                             directory
    mode:                              '{{ item.mode }}'
  loop:
    - { mode: '0755', path: '{{ dir_params }}' }
    - { mode: '0755', path: '{{ tmp_directory }}/{{ db_sid | upper }}' }
    - { mode: '0755', path: '/etc/sap_deployment_automation/{{ db_sid | upper }}' }


- name:                                "SAP HANA: Install reset"
  ansible.builtin.file:
    path:                              "/etc/sap_deployment_automation/{{ db_sid | upper }}/sap_deployment_hdb.txt"
    state:                             absent
  when: reinstall

- name:                                "SAP HANA: check if installed"
  ansible.builtin.stat:
    path:                              "/etc/sap_deployment_automation/{{ db_sid | upper }}/sap_deployment_hdb.txt"
  register:                            hana_installed

- name:                                "SAP HANA: check media exists"
  ansible.builtin.stat:
    path:                              "{{ target_media_location }}/CD_HDBSERVER/SAP_HANA_DATABASE/hdblcm"
  register:                            hdblcm_found

- name:                                "ErrorHandling"
  ansible.builtin.fail:
    msg:                               "INSTALL:0001:Unable to find hdblcm, please check that the installation media is mounted"
  when: not hdblcm_found.stat.exists

- name:                                "HANA Install"
  block:

    - name:                            "SAP HANA: remove install response file if exists"
      ansible.builtin.file:
        path:                          "{{ dir_params }}/{{ sap_inifile }}"
        state:                         absent

    - name:                            "SAP HANA: Include roles-sap/3.3.1-bom-utility role"
      ansible.builtin.include_role:
        name:                          roles-sap/3.3.1-bom-utility
        tasks_from:                    bom-template
  # Template parameter mapping
      vars:
        bom_name:                      "{{ bom_base_name }}"
        always_upload_jinja_templates: false
        task_prefix:                   "SAP HANA: "
        _rsp_component_root:           "../COMPONENTS"
        _rsp_components:               "{{ hana_components }}"
        _rsp_sapmnt:                   "/hana/shared"                              # Default Value
        _rsp_hostname:                 "{{ hana_host }}"
        _rsp_sid:                      "{{ db_sid | upper }}"
        _rsp_number:                   "{{ db_instance_number }}"
        _rsp_system_usage:             "custom"
        param_directory:               "{{ dir_params }}"

    - name:                            "SAP HANA: Progress"
      ansible.builtin.debug:
        msg:                           "Start HANA Installation"

    - name:                            "SAP HANA: Execute hdblcm on {{ (hana_host) }}"
      ansible.builtin.shell: |
                                       umask {{ custom_umask | default('022') }};
                                       chmod 755 /usr/sap;
                                       ./hdblcm --batch --action=install --hostname {{ hana_host }} --configfile='{{ dir_params }}/{{ sap_inifile }}'
      args:
        chdir:                         "{{ target_media_location }}/CD_HDBSERVER/SAP_HANA_DATABASE"
        creates:                       "/etc/sap_deployment_automation/{{ db_sid | upper }}/sap_deployment_hdb.txt"
      environment:
        TMPDIR:                        "{{ tmp_directory }}/{{ db_sid | upper }}"
      register:                        hana_installation
      failed_when:                     hana_installation.rc > 0

    - name:                            "SAP HANA: Installation results"
      ansible.builtin.debug:
        msg:
          - "HANA Installation failed"
          - "HDBLCM output: {{ hana_installation }}"
      when:
        - hana_installation.rc is defined
        - hana_installation.rc > 0

    - name:                            "Errorhandling: SAP HANA"
      ansible.builtin.debug:
        msg:                           "INSTALL:{{ hana_installation }}"
      when:
        - hana_installation.rc is defined
        - hana_installation.rc > 0

    - name:                            "SAP HANA: Installation results"
      ansible.builtin.debug:
        msg:                           "HANA Installation succeeded"
      when:
        - hana_installation.rc is defined
        - hana_installation.rc == 0

    - name:                            "SAP HANA: remove install response file"
      ansible.builtin.file:
        path:                          "{{ dir_params }}/{{ sap_inifile }}"
        state:                         absent

    - name:                            "SAP HANA: Create backup folder"
      ansible.builtin.file:
        path:                          "/hana/backup"
        state:                         directory
        group:                         sapsys
        owner:                         "{{ db_sid | lower }}adm"
        mode:                          0755

    - name:                            "SAP HANA: HANA Install: flag"
      ansible.builtin.file:
        path:                          "/etc/sap_deployment_automation/{{ db_sid | upper }}/sap_deployment_hdb.txt"
        state:                         touch
        mode:                          0755
      when:
        - hana_installation.rc is defined
        - hana_installation.rc == 0

  when:
    - not hana_installed.stat.exists

- name:                                "HANA Install status"
  block:

    - name:                            "HANA Install status"
      ansible.builtin.debug:
        msg:                           "HANA is already installed"

    - name:                            "HANA: - return value"
      ansible.builtin.set_fact:
        hana_already_installed:         true

    - name:                            "SAP HANA: Create backup folder"
      ansible.builtin.file:
        path:                          "/hana/backup"
        state:                         directory
        group:                         sapsys
        owner:                         "{{ db_sid | lower }}adm"
        mode:                          0755
  when:
    - hana_installed.stat.exists

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
