# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#
#   2482103 - Installation with SWPM in unattended mode using parameter input file fails
#   2393060 - SAPinst Framework 749 Central Note


archives.downloadBasket                                              = {{ target_media_location }}/download_basket

nwUsers.sapadmUID                                                    = {{ sapadm_uid }}
nwUsers.sapsysGID                                                    = {{ sapsys_gid }}
nwUsers.sidAdmUID                                                    = {{ sidadm_uid }}

NW_Delete_Sapinst_Users.removeUsers                                  = true
NW_GetMasterPassword.masterPwd                                       = {{ main_password }}
NW_GetSidNoProfiles.sid                                              = {{ sap_sid }}

NW_SCS_Instance.ascsInstallGateway                                   = {{ set_ascsInstallGateway }}
NW_SCS_Instance.ascsInstallWebDispatcher                             = {{ set_ascsInstallWebDispatcher }}
NW_SCS_Instance.instanceNumber                                       = {{ scs_instance_number }}
NW_SCS_Instance.scsVirtualHostname                                   = {{ sap_scs_hostname }}

NW_adaptProfile.skipSecurityProfileSettings                          = true
NW_getFQDN.FQDN                                                      = {{ sap_fqdn }}
