# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                         Key Vault helpers                                  |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---
# -------------------------------------+---------------------------------------8
#
# Task: 0.2     - kv-secrets
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#
# <Comment Header>
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#

- name:                                "BoM Secrets: Retrieve Deployer Keyvault details"  
  block:

    - name:                            Check required variables are present and not empty
      ansible.builtin.assert:
        that:
          - "kv_name is defined"                    # Has the variable been defined
          - "kv_name | type_debug != 'NoneType'"    # and given a value
          - "kv_name | string | length != 0 "       # Detect null values
        fail_msg:                      "Please define the kv_name parameter"

    - name:                            Get Deployer Keyvault name from keyvault
      ansible.builtin.command: >-
                                       az keyvault secret show
                                         --vault-name {{ kv_name }}
                                         --name {{ deployer_kv_name_secret }}
      changed_when:                    false
      register:                        deployer_kv_name_secret
      when:                            bom_processing is not defined

    - name:                            Save Deployer Keyvault name
      ansible.builtin.set_fact:
        deployer_kv_name: >-
                                       {{ (deployer_kv_name_secret.stdout | from_json).value }}
  when: deployer_kv_name is not defined

- name:                                Show Key Vault
  ansible.builtin.debug:
    var:                               deployer_kv_name
  when:
    - tier == "bom"

- name:                                Import S user tasks
  ansible.builtin.import_tasks:        "s_user.yaml"
  when:
    - tier == "bom"

- name:                                Import Fencing secrets
  ansible.builtin.import_tasks:        "fencing.yaml"
  when:
    - tier == "fencing"

...
# /*---------------------------------------------------------------------------8
# |                                   END                                     |
# +------------------------------------4--------------------------------------*/
