# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                         Key Vault helpers                                  |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---
# -------------------------------------+---------------------------------------8
#
# Task: 0.2     - kv-secrets
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#
# <Comment Header>
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#

- name:                                "0.2 Key Vault: - Retrieve Deployer Keyvault details"
  block:

    - name:                            "0.2 Key Vault: - Check required variables are present and not empty"
      ansible.builtin.assert:
        that:
          - "kv_name is defined"                    # Has the variable been defined
          - "kv_name | type_debug != 'NoneType'"    # and given a value
          - "kv_name | string | length != 0 "       # Detect null values
        fail_msg:                      "Please define the kv_name parameter"

    - name:                            "0.2 Key Vault: - Get Deployer key vault name from workload zone key vault"
      ansible.builtin.command: >-
                                       az keyvault secret show
                                         --vault-name {{ kv_name }}
                                         --name {{ deployer_kv_name_secret }}
      changed_when:                    false
      register:                        deployer_kv_name_secret
      when:                            bom_processing is not defined

    - name:                            "0.2 Key Vault: - Save Deployer key vault name"
      ansible.builtin.set_fact:
        deployer_kv_name: >-
                                       {{ (deployer_kv_name_secret.stdout | from_json).value }}
  rescue:
    - name:                            "0.2 Key Vault: - Rescue - perform az login"
      ansible.builtin.command: >-
                                       az login --identity --allow-no-subscriptions --output none
      changed_when:                    false

    - name:                            "0.2 Key Vault: - Get Deployer key vault name from workload zone key vault"
      ansible.builtin.command: >-
                                       az keyvault secret show
                                         --vault-name {{ kv_name }}
                                         --name {{ deployer_kv_name_secret }}
      changed_when:                    false
      register:                        deployer_kv_name_secret
      when:                            bom_processing is not defined

    - name:                            "0.2 Key Vault: - Save Deployer key vault name"
      ansible.builtin.set_fact:
        deployer_kv_name: >-
                                       {{ (deployer_kv_name_secret.stdout | from_json).value }}

  when: deployer_kv_name is not defined

- name:                                "0.2 Key Vault: - Show Deployer key vault name"
  ansible.builtin.debug:
    var:                               deployer_kv_name
  when:
    - tier == "bom"

- name:                                "0.2 Key Vault: - Import S User tasks"
  ansible.builtin.import_tasks:        "s_user.yaml"
  when:
    - tier == "bom"

- name:                                "0.2 Key Vault: - Import Fencing secrets"
  ansible.builtin.import_tasks:        "fencing.yaml"
  when:
    - tier == "fencing"
    - (scs_high_availability or db_high_availability)
    - not use_msi_for_clusters

...
# /*---------------------------------------------------------------------------8
# |                                   END                                     |
# +------------------------------------4--------------------------------------*/
