# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# /*----------------------------------------------------------------------------8
# |                                                                            |
# |            Role for ensuring the swap space is configured correctly         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---
# -------------------------------------+---------------------------------------8
#
# Task: 1.1     - swap space setup
#
# -------------------------------------+---------------------------------------8


- name:                                "1.1 Swap - Ensure /mnt/resource directory exists"
  ansible.builtin.file:
    path:                              "/mnt/resource"
    state:                             directory
    mode:                              "0755"
  notify:
    - Restart waagent

# - name:                                "1.1 Swap - Update WAAgent on {{ ansible_os_family }}"
#   ansible.builtin.dnf:
#     name:                              WALinuxAgent
#     state:                             latest

#   when:
#     - ansible_os_family == 'RedHat'
#   tags:
#     - skip_ansible_lint

# - name:                                "1.1 Swap - Update WAAgent on {{ ansible_os_family }}"
#   community.general.zypper:
#     name:                              WALinuxAgent
#     state:                             latest
#   environment:
#     ZYPP_LOCK_TIMEOUT:                 "60"
#   when:
#     - distribution_id == 'sles_sap15'
#   tags:
#     - skip_ansible_lint

- name:                                "1.1 Swap - Restart WAAgent on {{ distro_name }}"
  ansible.builtin.service:
    name:                              waagent
    state:                             restarted

# Check the current swap size
- name:                                "1.1 Swap - Check swap size"
  ansible.builtin.shell:               set -o pipefail && cat /proc/meminfo | grep SwapTotal
  register:                            swap_space

- name:                                "1.1 Swap - Show SWAP space from /proc/meminfo"
  ansible.builtin.debug:
    msg:                               "SWAP size from procinfo: {{ swap_space }}"
    verbosity:                         2

- name:                                "1.1 Swap - Store SWAP space value"
  ansible.builtin.set_fact:
    swap_value:                        "{{ swap_space.stdout_lines[0] | regex_search('([0-9]+)') }}"

- name:                                "1.1 Swap - Swap space in Integer"
  ansible.builtin.set_fact:
    swap_size:                         "{{ swap_value | int }}"

- name:                                "1.1 Swap - Show SWAP size"
  ansible.builtin.debug:
    msg:                               "Swap size: {{ swap_size }}"
    verbosity:                         2

- name:                                "1.1 Swap - Check for (waagent_conf)"
  ansible.builtin.stat:
    path:                              /etc/waagent.conf
  register:                            waagent_conf

- name:                                "1.1 Swap - Check for (waagent.conf.rpmsave)"
  become:                              true
  become_user:                         root
  ansible.builtin.stat:
    path:                              /etc/waagent.conf.rpmsave
  register:                            waagent_conf_save

- name:                                "1.1 Swap: Copy the conf file"
  become:                              true
  become_user:                         root
  ansible.builtin.copy:
    remote_src:                        true
    src:                               /etc/waagent.conf.rpmsave
    dest:                              /etc/waagent.conf
    mode:                              preserve
  when:
    - not waagent_conf.stat.exists
    - waagent_conf_save.stat.exists
  register:                            waagent_conf_copy


- name:                                "1.1 Swap - Force systemd to reread configuration {{ distro_name }}"
  ansible.builtin.service:
    name:                              systemd
    state:                             reloaded
  when:
    - waagent_conf_copy is defined
    - waagent_conf_copy.changed

- name:                                "1.1 Swap - Restart WAAgent on {{ distro_name }}"
  ansible.builtin.service:
    name:                              waagent
    state:                             restarted
  when:
    - waagent_conf_copy is defined
    - waagent_conf_copy.changed

- name:                                "1.1 Swap - Ensure waagent file is configured with correct parameters"
  ansible.builtin.lineinfile:
    dest:                              /etc/waagent.conf
    state:                             "{{ item.state }}"
    regexp:                            "{{ item.regexp }}"
    line:                              "{{ item.line }}"
  loop:
    # Default values on install
    #     ResourceDisk.Format             = y
    #     ResourceDisk.Filesystem         = ext4
    #     ResourceDisk.MountPoint         = /mnt/resource
    #     ResourceDisk.EnableSwap         = n
    #     ResourceDisk.SwapSizeMB         = 0
    #     ResourceDisk.MountOptions       = None
    - { state: 'present',  regexp: 'ResourceDisk.Format=',               line: 'ResourceDisk.Format=y'                                      }
    - { state: 'present',  regexp: 'ResourceDisk.EnableSwap=',           line: 'ResourceDisk.EnableSwap=y'                                  }
    - { state: 'present',  regexp: 'ResourceDisk.SwapSizeMB=',           line: 'ResourceDisk.SwapSizeMB={{ swap_size_mb | default(2052) }}' }
    - { state: 'present',  regexp: 'ResourceDisk.MountPoint=',           line: 'ResourceDisk.MountPoint=/mnt'                               }
    - { state: 'present',  regexp: 'AutoUpdate.Enabled=',                line: 'AutoUpdate.Enabled=y'                                       }
    - { state: 'present',  regexp: 'AutoUpdate.UpdateToLatestVersion=',  line: 'AutoUpdate.UpdateToLatestVersion=y'                         }
    - { state: 'present',  regexp: 'Extensions.WaitForCloudInit=',       line: 'Extensions.WaitForCloudInit=y'                              }
  register:                            wagent_configuration
  vars:
    swap_size_mb:                      "{{ (sap_swap | selectattr('tier', 'search', node_tier) | list | first).swap_size_mb }}"
  when:
    - swap_size == '0'

- name:                                "1.1 Swap - Reboot"
  when:
    - wagent_configuration.changed
  block:

    - name:                            "1.1 Swap - Reboot"
      become:                          true
      ansible.builtin.reboot:
        reboot_timeout:                300
        post_reboot_delay:             10
      failed_when:                     false

    - name:                            "1.1 Swap - Clear the failed state of hosts"
      ansible.builtin.meta:            clear_host_errors

  # Wait for Connection after reboot
    - name:                            "1.1 Swap - Wait for system to become reachable"
      ansible.builtin.wait_for_connection:
        delay:                         10
        timeout:                       300

...
