@{
    ViewData["Title"] = "Home";
}

<div class="wrapper">

    <div class="text-center" style="padding: 20px">
        <h1>Deploy SAP on Azure</h1>
    </div>

    <div class="wrapper grouping">
        <h2> Getting started </h2>
        <p>
            Click on the <b>Landscape</b>, <b>System</b>, or <b>Files</b> tab to begin creation.
        </p>
        <h2>Creating</h2>
        <p>
            Click the <b>Create New</b> button and fill out the parameters or file to your desire.
        </p>
        <h2>Editing</h2>
        <p>
            In the <b>Edit</b> page you can update existing landscapes, systems, and files, or choose to save as a new item.
        </p>
        <h2>Details</h2>
        <p>
            Click on <b>Details</b> to see more information about your workload zone, system, or file.    
        </p>
        <h2>Deploying</h2>
        <p>
            Clicking <b>Deploy</b> will kick off a pipeline to officially create the workload zone or system specified.
        </p>
        <h2>Files</h2>
        <p>
            Click on <b>Create</b> to make a new file from scratch, <b>Upload</b> to import an existing tfvars file, or browse to use an existing <b>Template</b>. <br />
        </p>
        <h2>Converting</h2>
        <p>
            Clicking <b>Convert</b> will turn the specified file into a landscape or system object, which can then be deployed.
        </p>
    </div>

</div>
