@{
    ViewData["Title"] = "Home";
}

<div class="wrapper">

    <div class="text-center" style="padding: 20px">
        <h1>Deploy SAP on Azure</h1>
    </div>

    <div class="wrapper grouping">
        <h2> Getting started </h2>
        <p>
            This application can be used to perform the infrastructure configuration for the Workload zone(s) and the SAP systems.
            <p><img src="./images/SDAF.png" alt="SDAF"</p>
    
            Click on the <b>Workload zones</b> or <b>Systems</b> tab to start.
        </p>
        <h2>Creating a new configuration item</h2>
        <p>
            Click the <b>Create New</b> button and enter the parameters. You can toggle the display using the 'Basic', 'Advanced' or 'Expert' checkboxes.
        </p>
        <h2>Editing an existing configuration item</h2>
        <p>
            Click on <b>Edit</b> to update existing workload zones, systems, or files.
        </p>
        <h2>Details</h2>
        <p>
            Click on <b>Details</b> to see more information about your workload zone, system, or file.    
        </p>
        <h2>Defaults</h2>
        <p>
            Click on the star next to an object to set it as the default. <br />
            When creating new objects, if you would like to auto populate values from the default you have set, click the "Use default" checkbox. <br />
            You can also set an object as the default from the edit or create page. <br />
            There can only be one default workload zone and one default system at a time. <br />
            When an object is selected to be the default, there are no required parameters. Note that if you remove this object as the default later, <br />
            missing required parameters will make this object invalid for deployment until further edited.
        </p>
        <h2>Deploying</h2>
        <p>
            Clicking <b>Deploy</b> will kick off a pipeline to officially create the workload zone or system specified.
        </p>
        <h2>Files</h2>
        <p>
            Click on <b>Create</b> to make a new file from scratch, <b>Upload</b> to import an existing tfvars file, or browse to use an existing <b>Template</b>. <br />
        </p>
        <h2>Converting</h2>
        <p>
            Clicking <b>Convert</b> will turn the specified file into a workload zone or system object, which can then be deployed.
        </p>
        <h2>Environments</h2>
        <p>
            Click on the <b>Environments</b> tab to view your current variable groups in Azure devops. <br />
            This tab will not appear if you performed a deployment via the Azure CLI. <br />
            You can view and edit the parameters of your existing variable groups here, or create a new one from scratch. <br />
            Not all parameters will be displayed. Any parameters not displayed will not be overwritten.
        </p>
    </div>

</div>
