@{
    ViewData["Title"] = "Privacy policy";
}
<h1>@ViewData["Title"]</h1>
<div class="wrapper">
    <h2>Click <a href="https://privacy.microsoft.com/en-US/privacystatement">here</a> to view Microsoft's privacy policy</h2>
</div>
