#                                                                                                                                                                                               #
# Installation service 'SAP NetWeaver 7.5 > Oracle > Installation > Application Server ABAP > Distributed System > Primary Application Server Instance', product id 'NW_ABAP_CI:NW750.ORA.ABAP' #
#                                                                                                                                                                                               #
#################################################################################################################################################################################################



# Location of Export CD
SAPINST.CD.PACKAGE.ORACLI                                            = {{ target_media_location }}/oraclient
SAPINST.CD.PACKAGE.CD1                                               = {{ target_media_location }}/EXPORT/DATA_UNITS/EXP1
SAPINST.CD.PACKAGE.CD2                                               = {{ target_media_location }}/EXPORT/DATA_UNITS/EXP2
SAPINST.CD.PACKAGE.CD3                                               = {{ target_media_location }}/EXPORT/DATA_UNITS/EXP3


archives.downloadBasket                                              = {{ target_media_location }}/download_basket

nwUsers.sapadmUID                                                    = {{ sapadm_uid }}
nwUsers.sapsysGID                                                    = {{ sapsys_gid }}
nwUsers.sidAdmUID                                                    = {{ sid_to_be_deployed.sidadm_uid }}
nwUsers.sidadmPassword                                               = {{ main_password }}

NW_Delete_Sapinst_Users.removeUsers                                  = true
NW_GetMasterPassword.masterPwd                                       = {{ main_password }}
NW_GetSidNoProfiles.sid                                              = {{ sid_to_be_deployed.sid | upper }}
NW_getUnicode.isUnicode                                              = true
NW_SCS_Instance.ascsInstallGateway                                   = true
NW_SCS_Instance.ascsInstallWebDispatcher                             = false
NW_SCS_Instance.instanceNumber                                       = {{ sid_to_be_deployed.pas_inst_no }}
NW_SCS_Instance.scsVirtualHostname                                   = {{ sap_scs_hostname }}

NW_adaptProfile.skipSecurityProfileSettings                          = true
NW_getFQDN.FQDN                                                      = {{ sap_fqdn }}

NW_DDIC_Password.needDDICPasswords                                   = false
NW_GetMasterPassword.masterPwd                                       = {{ main_password }}
NW_checkMsgServer.abapMSPort                                         = 36{{ sid_to_be_deployed.ascs_inst_no }}
NW_getDBInfoGeneric.dbhost                                           = {{ sap_db_hostname }}
NW_getDBInfoGeneric.dbsid                                            = {{ sid_to_be_deployed.sid  | upper }}
NW_getLoadType.loadType                                              = SAP
NW_readProfileDir.profileDir                                         = /sapmnt/{{ sid_to_be_deployed.sid | upper }}/profile
ora.multitenant.pdbsid                                               = {{ sid_to_be_deployed.sid  | upper }}
ora.whatInstallation                                                 = isSHOH
# ora.whatIsASM                                                      = false
storageBasedCopy.ora.clientVersion                                   = 19
storageBasedCopy.ora.serverVersion                                   = 19
storageBasedCopy.ora.ABAPSchema                                      = SAPSR3
storageBasedCopy.ora.listenerName                                    = LISTENER
storageBasedCopy.ora.listenerPort                                    = 1521
#NW_readProfileDir.profileDir                                        = /sapmnt/{{ sap_sid | upper }}/profile

NW_CI_Instance.ascsVirtualHostname                                    = {{ sap_scs_hostname }}
NW_CI_Instance.ciInstanceNumber                                       = {{ sid_to_be_deployed.ascs_inst_no }}
NW_CI_Instance.ciMSPort                                               = 36{{ scs_instance_number }}
NW_CI_Instance.ciVirtualHostname                                      = {{ sap_ciVirtualHostname }}
NW_CI_Instance.scsVirtualHostname                                     = {{ sap_scs_hostname }}

NW_System.installSAPHostAgent                                         = {{ sap_installSAPHostAgent }}

NW_WPConfiguration.ciDialogWPNumber                                   = {{ sap_ciDialogWPNumber}}
NW_WPConfiguration.ciBtcWPNumber                                      = {{ sap_ciBtcWPNumber }}

