# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                SAP: Register BOM                                           |
# |         SAP DBLOAD: deploy DBLOAD Parameter file install template          |
# |         SAP DBLOAD: Install                                                |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

---
- name:                                Set dbload facts
  ansible.builtin.set_fact:
    sap_inifile:                       "{{ bom_base_name }}-dbload-{{ ansible_hostname }}.params"
    sap_inifile_template:              "{{ bom_base_name }}-dbload-inifile-param.j2"

- name:                                "Create run flag directory"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation
    state:                             directory
    mode:                              0755

- name:                                "SAP DBLOAD reset"
  ansible.builtin.file:
    path:                              /etc/sap_deployment_automation/sap_deployment_dbload.txt
    state:                             absent
  when:                                reinstall

- name:                                "SAP DBLOAD: check if installed"
  ansible.builtin.stat:
    path:                              /etc/sap_deployment_automation/sap_deployment_dbload.txt
  register:                            dbload_installed

- name:                                Set the SCS Server name list
  ansible.builtin.set_fact:
    scs_server_temp:                   "{{ scs_server_temp | default([]) + [item] }}"
  with_items:
    - "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_SCS') }}"
    - "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_DB') }}"

- name:                                Set the SCS Server name
  ansible.builtin.set_fact:
    scs_server:                        "{% if scs_high_availability %}{{ sap_sid | lower }}scs{{ scs_instance_number }}cl1{% else %}{{ scs_server_temp | first }}{% endif %}"

- name:                                Show the SCS Server name
  ansible.builtin.debug:
    var:                               scs_server

- name:                                Include 3.3.1-bom-utility role for registering the BoM
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-register
  vars:
    bom_name:                          "{{ bom_base_name }}"
    tier:                              "{{ tier }}"

- name:                                Include 3.3.1-bom-utility role
  ansible.builtin.include_role:
    name:                              roles-sap/3.3.1-bom-utility
    tasks_from:                        bom-template
  vars:
    sap_cd_package_hdbclient:          "{{ target_media_location }}/CD_HDBCLIENT/SAP_HANA_CLIENT"
    sap_cd_package_cd1:                "{{ target_media_location }}/CD_EXPORT"
    sap_cd_package_cd2:
    sap_cd_package_cd3:
    sap_cd_package_cd4:
    sap_cd_package_cd5:
    sap_ciInstanceNumber:          
    app_instance_number:
    sap_ciDialogWPNumber:
    sap_ciBtcWPNumber:
    sap_installSAPHostAgent:
    sap_profile_dir:                   /sapmnt/{{ sap_sid|upper }}/profile
    sap_scs_hostname:                  "{{ scs_server }}"
    sap_db_hostname:                   "{{ query('inventory_hostnames', '{{ sap_sid|upper }}_DB')  | first }}"
    sap_ciVirtualHostname:
    sap_appVirtualHostname:
    tier:                              "{{ tier }}"
  tags:
    - skip_ansible_lint


- name:                                "DBLOAD Install"
  block:

# *====================================4=======================================8
#   SAP DBLOAD: Install
# 2230669 - System Provisioning Using a Parameter Input File
#
# *====================================4=======================================8


    - name:                            SAP DBLOAD variables
      ansible.builtin.debug:
        msg:
          - "{{ sap_inifile }}"
          - "{{ bom.product_ids.dbl }}"
        verbosity:                     2

    - name:                            "SAP DBLOAD"
      ansible.builtin.shell: |
                                       ./sapinst SAPINST_INPUT_PARAMETERS_URL=/usr/sap/install/downloads/{{ sap_inifile }}     \
                                                 SAPINST_EXECUTE_PRODUCT_ID={{ bom.product_ids.dbl }}                          \
                                                 SAPINST_SKIP_DIALOGS=true                                                     \
                                                 SAPINST_START_GUISERVER=false
      args:
        chdir:                         /usr/sap/install/SWPM
        creates:                       /etc/sap_deployment_automation/sap_deployment_dbload.txt
      environment:
        TMPDIR:                        /usr/sap/install
        SAPSYSTEMNAME:                 "{{ db_sid | upper }}"

      register:                        dbload
      failed_when:                     dbload.rc > 0
      tags:
        - skip_ansible_lint

    - name:                            "SAP DBLOAD flag"
      ansible.builtin.file:
        path:                          /etc/sap_deployment_automation/sap_deployment_dbload.txt
        state:                         touch
        mode:                          0755

  when:
    - not dbload_installed.stat.exists

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
