CREATE CONFIGURATION  {{ db_sid | db_sidpper }}_dg_config AS PRIMARY DATABASE IS {{ db_sid | db_sidpper }} CONNECT IDENTIFIER IS {{ db_sid | db_sidpper }};
ADD DATABASE {{ db_sid | db_sidpper }}_STDBY AS CONNECT IDENTIFIER IS {{ db_sid | db_sidpper }}_STDBY MAINTAINED AS PHYSICAL;
ENABLE CONFIGURATION
exit