EDIT DATABASE {{ db_sid | db_sidpper }} SET PROPERTY LogXptMode='SYNC';
EDIT DATABASE {{ db_sid | db_sidpper }}_STDBY SET PROPERTY LogXptMode='SYNC';
EDIT DATABASE {{ db_sid | db_sidpper }} SET PROPERTY FastStartFailoverTarget ='{{ db_sid | db_sidpper }}_STDBY';
EDIT DATABASE {{ db_sid | db_sidpper }}_STDBY SET PROPERTY FastStartFailoverTarget ='{{ db_sid | db_sidpper }}';
EDIT CONFIGURATION SET PROTECTION MODE AS MAXAVAILABILITY;



