alter database rename file 'broken0' to '/oracle/{{ db_sid | upper }}/mirrlogA/log_g11m2.dbf';
alter database rename file 'broken1' to '/oracle/{{ db_sid | upper }}/origlogA/log_g11m1.dbf';
alter database rename file 'broken2' to '/oracle/{{ db_sid | upper }}/mirrlogB/log_g12m2.dbf';
alter database rename file 'broken3' to '/oracle/{{ db_sid | upper }}/origlogB/log_g12m1.dbf';
alter database rename file 'broken4' to '/oracle/{{ db_sid | upper }}/mirrlogA/log_g13m2.dbf';
alter database rename file 'broken5' to '/oracle/{{ db_sid | upper }}/origlogA/log_g13m1.dbf';
alter database rename file 'broken6' to '/oracle/{{ db_sid | upper }}/mirrlogB/log_g14m2.dbf';
alter database rename file 'broken7' to '/oracle/{{ db_sid | upper }}/origlogB/log_g14m1.dbf';
alter database rename file 'broken8' to '/oracle/{{ db_sid | upper }}/oraarch/standbylog/srl1.dbf';
alter database rename file 'broken9' to '/oracle/{{ db_sid | upper }}/oraarch/standbylog/srl2.dbf';
alter database rename file 'broken10' to '/oracle/{{ db_sid | upper }}/oraarch/standbylog/srl3.dbf';
alter database rename file 'broken11' to '/oracle/{{ db_sid | upper }}/oraarch/standbylog/srl4.dbf';
alter database clear logfile group 1;
alter database clear logfile group 2;
alter database clear logfile group 3;
alter database clear logfile group 4;
alter database clear logfile group 5;
alter database clear logfile group 6;
alter database clear logfile group 7;
alter database clear logfile group 8;
exit;