# /*---------------------------------------------------------------------------8
# |                                                                            |
# |                         OS Base Disk Configuration                         |
# |                                                                            |
# +------------------------------------4--------------------------------------*/
---
# -------------------------------------+---------------------------------------8
#
# Task: 1.5     - os-disk-setup
#
# -------------------------------------+---------------------------------------8

# -------------------------------------+---------------------------------------8
#
# <Comment Header>
#
# -------------------------------------+---------------------------------------8

# ----------------------------------------
# BEGIN
# ----------------------------------------

# ----------------------------------------
# END
# ----------------------------------------

# -------------------------------------+---------------------------------------8
#

- name:                                Check if the shared disk exists
  ansible.builtin.set_fact:
    shareddisk:                        "{{ disks | selectattr('host', 'defined') |
      selectattr('host', 'equalto', inventory_hostname) |
      selectattr('type', 'equalto', 'shared') |
      map(attribute='type') | sort | unique |
      list | length }}"

- name:                                Load the disk configuration settings
  ansible.builtin.include_vars:        disks_config.yml

- name:                                Append sapmnt
  ansible.builtin.set_fact:
    logical_volumes_temp:              "{{ logical_volumes_local + logical_volumes_sapmnt }}"
  when: sap_mnt is not defined

- name:                                Append install
  ansible.builtin.set_fact:
    logical_volumes:                   "{{ logical_volumes_temp + logical_volumes_install }}"
  when: usr_sap_install_mountpoint is not defined


- name:                                "Print unique disks"
  ansible.builtin.debug:
    var:                               disktypes
    verbosity:                         2

- name:                                "Volume group details"
  ansible.builtin.debug:
    var:                               volume_groups
    verbosity:                         2

# CREATE VOLUME GROUPS BASED ON sap-parameters.yaml
# -------------------------------------+---------------------------------------8
#
- name:                                "Volume Group creation"
  ansible.builtin.lvg:
    vg:                                "{{ item.vg }}"
    pvs:                               "{{ item.pvs }}"
    pesize:                            4M
    state:                             present
  loop:                                "{{ volume_groups }}"
  register:                            vgscreated
  when:
    - tier == "sapos"


- name:                                "Filter the vg name from vgscreated results"
  ansible.builtin.set_fact:
    vgcreatedlist:                     "{{ vgscreated | json_query('results[*].item.vg') }}"
  when:
    - tier == "sapos"

# Debug for testing
- name:                                "Print vgcreated details"
  ansible.builtin.debug:
    var:                               vgscreated.results
    verbosity:                         2
  when:
    - tier == "sapos"
    - vgscreated is defined

- name:                                "Print vgcreatedlist details"
  ansible.builtin.debug:
    var:                               vgcreatedlist
    verbosity:                         2
  when:
    - tier == "sapos"

# CREATE LOGICAL VOLUMES BASED ON VGCREATEDLIST
# -------------------------------------+---------------------------------------8
#
- name:                                "Logical Volume creation"
  ansible.builtin.lvol:
    lv:                                "{{ item.lv }}"
    vg:                                "{{ item.vg }}"
    size:                              "{{ item.size }}"
    opts:                              "{{ lvol_opts_from_lv_item }}"
    active:                            true
    state:                             present
    shrink:                            true
    resizefs:                          true
  loop:                                "{{ logical_volumes }}"
  register:                            lvscreated
  when:
    - tier == "sapos"
    - item.node_tier in ["all", node_tier]
    - item.vg in vgcreatedlist

# Debug for testing
- name:                                "Print lvscreated details"
  ansible.builtin.debug:
    var:                               lvscreated
    verbosity:                         2
  when:
    - tier == "sapos"


- name:                                "Filter the logical volumes created results"
  ansible.builtin.set_fact:
    lvcreatedlist_tmp:                 "{{ lvscreated.results | rejectattr('skipped', 'defined') | list }}"
  when:
    - tier == "sapos"

# Debug for testing
- name:                                "Print vgcreated filtered details"
  ansible.builtin.debug:
    var:                               lvcreatedlist_tmp
    verbosity:                         2
  when:
    - tier == "sapos"

- name:                                "Filter the logical volumes created results1"
  ansible.builtin.set_fact:
    lvcreatedlist:                     "{{ lvcreatedlist_tmp | map(attribute='item.lv') | list }}"
  when:
    - tier == "sapos"

# Debug for testing
- name:                                "Print lvcreatedlist details"
  ansible.builtin.debug:
    var:                               lvcreatedlist
    verbosity:                         2
  when:
    - tier == "sapos"

- name:                                "Filesystem creation"
  ansible.builtin.filesystem:
    dev:                               "{{ dev_path_from_lv_item }}"
    fstype:                            "{{ item.fstype }}"
    opts:                              "{{ item.fsopts | default('') }}"
  loop:                                "{{ logical_volumes }}"
  register :                           filesystemscreated
  when:
    - item.tier in ["all", tier ]
    - item.node_tier in ["all", node_tier]
    - item.fstype is defined
    - item.lv in lvcreatedlist

# Debug for testing
- name:                                "Print values to be passed for filesystem creation"
  ansible.builtin.debug:
    var:                               filesystemscreated
    verbosity:                         2
  when:
    - tier == "sapos"

...
# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
