---
# /*---------------------------------------------------------------------------8
# |                                                                            |
# |               This pipeline deploys the SAP Infrastructure                 |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

name: SAP Infrastructure Deployment $(sap_system_folder)

parameters:
  - name:                              sap_system
    displayName:                       "SAP System configuration name, use the following syntax: ENV-LOCA-VNET-SID"
    type:                              string
    default:                           DEV-WEEU-SAP01-X00

  - name:                              environment
    displayName:                       Workload Environment (DEV, QUA, PRD, ...)
    type:                              string
    default:                           DEV

trigger:                               none

pool:
  name:                                $(Agent)
  vmImage:                             ubuntu-latest

variables:
  - group:                             "SDAF-General"
  - group:                             SDAF-${{ parameters.environment }}
  - name:                              sap_system_folder
    value:                             ${{ parameters.sap_system }}
  - name:                              sap_system_configuration
    value:                             ${{ parameters.sap_system }}.tfvars
  - name:                              tf_url
    value:                             https://releases.hashicorp.com/terraform/$(tf_version)/terraform_$(tf_version)_linux_amd64.zip

stages:
  - stage:                             Deploy_SAP_infrastructure
    displayName:                       Deploy SAP infrastructure
    jobs:
      - job:                           Deploy_SAP_infrastructure
        displayName:                   Deploy SAP infrastructure
        workspace:
          clean:                       all
        steps:
          - task: PostBuildCleanup@3
          - checkout:                  self
            persistCredentials:        true
          - script: |
              #!/bin/bash
              echo "##vso[build.updatebuildnumber]Deploying the SAP System defined in $(sap_system_folder)"
              green="\e[1;32m" ; reset="\e[0m" ; boldred="\e[1;31m"
              echo -e "$green--- Update .sap_deployment_automation/config as DEPLOYMENT_REPO_PATH can change on devops agent ---$reset"

                export DEPLOYMENT_REPO_PATH=$(Build.Repository.LocalPath)
                export                 HOME=${DEPLOYMENT_REPO_PATH}/$(Deployment_Configuration_Path)
                export          ENVIRONMENT=$(echo $(sap_system_folder) | awk -F'-' '{print $1}' | xargs) ; echo Environment $ENVIRONMENT
                export             LOCATION=$(echo $(sap_system_folder) | awk -F'-' '{print $2}' | xargs) ; echo Location    $LOCATION

                cd $HOME; mkdir -p .sap_deployment_automation

              echo -e "$green--- Set DEPLOYMENT_REPO_PATH variable and ---$reset"
                echo DEPLOYMENT_REPO_PATH=$DEPLOYMENT_REPO_PATH > .sap_deployment_automation/config
              echo -e "$green--- Validations ---$reset"

                if [ ! -f $HOME/SYSTEM/$(sap_system_folder)/$(sap_system_configuration) ]; then
                  echo -e "$boldred--- $(sap_system_configuration) was not found ---$reset"
                  echo "##vso[task.logissue type=error]File $(sap_system_configuration) was not found."
                  exit 2
                fi

                environment_file_name=$HOME/.sap_deployment_automation/$ENVIRONMENT$LOCATION

                if [ ! -f $environment_file_name ]; then
                  echo -e "$boldred--- $ENVIRONMENT$LOCATION was not found ---$reset"
                  echo "##vso[task.logissue type=error]Workload zone configuration file $ENVIRONMENT$LOCATION was not found."
                  exit 2
                fi

                if [ ! -n $(ARM_SUBSCRIPTION_ID) ]; then
                  echo "##vso[task.logissue type=error]Variable ARM_SUBSCRIPTION_ID was not defined."
                  exit 2
                fi

                if [ ! -n $(ARM_CLIENT_ID) ]; then
                  echo "##vso[task.logissue type=error]Variable ARM_CLIENT_ID was not defined."
                  exit 2
                fi

                if [ ! -n $(ARM_CLIENT_SECRET) ]; then
                  echo "##vso[task.logissue type=error]Variable ARM_CLIENT_SECRET was not defined."
                  exit 2
                fi

                if [ ! -n $(ARM_TENANT_ID) ]; then
                  echo "##vso[task.logissue type=error]Variable ARM_TENANT_ID was not defined."
                  exit 2
                fi

                SID=$(echo $(sap_system_folder) | cut -d'-' -f4 | xargs)

                if [ ! -n ${SID} ]; then
                  echo "##vso[task.logissue type=error]SID was not defined in the parameter file."
                  exit 2
                fi
              echo -e "$green--- Install Terraform ---$reset"
                wget -q $(tf_url)
                return_code=$?
                if [ 0 != $return_code ]; then
                  echo "##vso[task.logissue type=error]Unable to download Terraform version $(tf_version)."
                  exit 2
                fi
                unzip -qq terraform_$(tf_version)_linux_amd64.zip ; sudo mv terraform /bin/
                rm -f terraform_$(tf_version)_linux_amd64.zip
              echo -e "$green--- az login ---$reset"
                az login --service-principal --username $(ARM_CLIENT_ID) --password $(ARM_CLIENT_SECRET) --tenant $(ARM_TENANT_ID)
                return_code=$?
                if [ 0 != $return_code ]; then
                  echo -e "$boldred--- Login failed ---$reset"
                  echo "##vso[task.logissue type=error]az login failed."
                  exit $return_code
                fi
                az account set --subscription $(ARM_SUBSCRIPTION_ID)
              echo -e "$green--- Pull the latest content from DevOps ---$reset"
                git config --global user.email "$(Build.RequestedForEmail)"
                git config --global user.name "$(Build.RequestedFor)"
                git checkout -q $(Branch)
                git pull
              echo -e "$green--- --- Convert config file to UX format ---$reset"

                sudo apt-get -qq install dos2unix
                dos2unix -q SYSTEM/$(sap_system_folder)/$(sap_system_configuration)

              echo -e "$green--- Run the installer script that deploys the SAP System ---$reset"
                cd $HOME/SYSTEM/$(sap_system_folder)
                export    STATE_SUBSCRIPTION=$(cat "${environment_file_name}"  | grep STATE_SUBSCRIPTION    | awk -F'=' '{print $2}' | xargs) ; echo 'Terraform statefile subscription' $STATE_SUBSCRIPTION
                export  deployer_tfstate_key=$(cat "${environment_file_name}"  | grep deployer_tfstate_key  | awk -F'=' '{print $2}' | xargs) ; echo 'deployer_tfstate_key' $deployer_tfstate_key
                export landscape_tfstate_key=$(cat "${environment_file_name}"  | grep landscape_tfstate_key | awk -F'=' '{print $2}' | xargs) ; echo 'landscape_tfstate_key' $landscape_tfstate_key
                export       REMOTE_STATE_SA=$(cat "${environment_file_name}"  | grep REMOTE_STATE_SA       | awk -F'=' '{print $2}' | xargs) ; echo 'Terraform state file storage account' $REMOTE_STATE_SA
                export              keyvault=$(cat "${environment_file_name}"  | grep keyvault=    -m1      | awk -F'=' '{print $2}' | xargs) ; echo 'Deployer Key Vault' ${keyvault}
                export      workloadkeyvault=$(cat "${environment_file_name}"  | grep workloadkeyvault      | awk -F'=' '{print $2}' | xargs) ; echo 'Workload Key Vault' ${workloadkeyvault}

                az account set --subscription "${STATE_SUBSCRIPTION}"
                ip_added=0

                if [[ "Azure Pipelines" == "$(Agent)" ]]; then
                  this_ip=$(curl -s ipinfo.io/ip) >/dev/null 2>&1
                  echo -e "$green--- Set IP ${this_ip} ---$reset"
                  az keyvault network-rule add --name ${keyvault} --ip-address ${this_ip} --only-show-errors 
                  ip_added=1
                fi

                az account set --subscription $(ARM_SUBSCRIPTION_ID)

                if [[ "Azure Pipelines" == "$(Agent)" ]]; then
                  this_ip=$(curl -s ipinfo.io/ip) >/dev/null 2>&1
                  echo -e "$green--- Set IP ${this_ip} ---$reset"
                  az keyvault network-rule add --name ${workloadkeyvault} --ip-address ${this_ip} --only-show-errors 
                fi

                ${DEPLOYMENT_REPO_PATH}/deploy/scripts/installer.sh --parameterfile $(sap_system_configuration) --type sap_system \
                 --state_subscription ${STATE_SUBSCRIPTION} --storageaccountname ${REMOTE_STATE_SA}                               \
                 --deployer_tfstate_key ${deployer_tfstate_key} --landscape_tfstate_key ${landscape_tfstate_key}                  \
                 --ado --auto-approve

                return_code=$?
                if [ 0 != $return_code ]; then
                  echo "##vso[task.logissue type=error]Return code from installer $return_code."
                  if [ -f ${environment_file_name}.err ]; then
                    error_message=$(cat ${environment_file_name}.err)
                    echo "##vso[task.logissue type=error]Error message: $error_message."
                  fi
                fi

                az account set --subscription "${STATE_SUBSCRIPTION}"
                if [[ 1 -eq $ip_added ]]; then

                  if [[ "Azure Pipelines" == "$(Agent)" ]]; then
                    this_ip=$(curl -s ipinfo.io/ip) >/dev/null 2>&1
                    az keyvault network-rule remove --name ${keyvault} --ip-address ${this_ip} --no-wait
                  fi
                fi

                az account set --subscription $(ARM_SUBSCRIPTION_ID)
                if [[ 1 -eq $ip_added ]]; then

                  if [[ "Azure Pipelines" == "$(Agent)" ]]; then
                    this_ip=$(curl -s ipinfo.io/ip) >/dev/null 2>&1
                    az keyvault network-rule remove --name ${workloadkeyvault} --ip-address ${this_ip} --no-wait
                  fi
                fi

                # Pull changes if there are other deployment jobs
                
                cd $HOME/SYSTEM/$(sap_system_folder)
                git pull

              echo -e "$green--- Add & update files in the DevOps Repository ---$reset"

                added=0

                if [ -f $.terraform/terraform.tfstate ]; then
                  git add -f .terraform/terraform.tfstate
                  added=1
                fi

                if [ -f sap-parameters.yaml ]; then
                  git add sap-parameters.yaml
                  added=1
                fi

                if [ -f ${SID}_hosts.yaml ]; then
                  git add -f ${SID}_hosts.yaml
                  added=1
                fi

                if [ -f ${SID}.md ]; then
                  git add    ${SID}.md
                  added=1
                fi

                if [ -f ${SID}_resource_names.json ]; then
                  git add    ${SID}_resource_names.json
                  added=1
                fi
                
                if [ -f $(sap_system_configuration) ]; then
                  git add    $(sap_system_configuration)
                  added=1
                fi
                
                if [ 1 == $added ]; then
                  git commit -m "Added updates from devops deployment $(Build.DefinitionName) [skip ci]" 
                  git -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" push 
                fi
                if [ -f ${SID}.md ]; then
                  echo "##vso[task.uploadsummary]$HOME/SYSTEM/$(sap_system_folder)/${SID}.md" 
                fi
              exit $return_code

            displayName:               Deploy_SAP_infrastructure
            env:
              ARM_SUBSCRIPTION_ID:     $(ARM_SUBSCRIPTION_ID)
              ARM_CLIENT_ID:           $(ARM_CLIENT_ID)
              ARM_CLIENT_SECRET:       $(ARM_CLIENT_SECRET)
              ARM_TENANT_ID:           $(ARM_TENANT_ID)
              SYSTEM_ACCESSTOKEN:      $(System.AccessToken)
            failOnStderr:              false
...
