
name: BOM Download

schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight build
  branches:
    include:
    - private-preview
parameters:

# - name: bom_base_name
#   displayName: BOM Base Name
#   type: string
#   default: S41909SPS03_v0006ms
#   values:
#    - S41909SPS03_v0006ms
#    - BW4HANA2021SPS01_v0001ms
#    - HANA_2_00_055_v0005ms
#    - NW750SPS20_v0002ms

- name: deployer_kvname
  displayName: Deployer KeyVault
  type: string
  default: PERMWEEUDEP00user56F 

variables:
- group: 'BOM Validation'
  

- name: kv
  value: ${{ parameters.deployer_kvname }}

trigger:
  branches:
    include:
    - main
    - private-preview
  paths:
    include:
    - deploy/ansible/BOM-catalog/*.yaml


pool:
  name: PERM-WEEU-POOL


stages:
- stage: Prepare
  jobs:
  - job: Prepare
    steps:
    - checkout: self
      clean: true
- stage: Check_S41909SPS03
  jobs:
  - job: S41909SPS03
    timeoutInMinutes: 0
    steps:
    - checkout: none
    - task: Ansible@0
      displayName: 'Run the BOM downloader for $(BOM)'
      inputs:
        ansibleInterface: 'agentMachine'
        playbookPathOnAgentMachine: $(Pipeline.Workspace)'/s/deploy/ansible/playbook_bom_downloader.yaml'
        inventoriesAgentMachine: 'noInventory'
        failOnStdErr: false
        args: '-e "bom_base_name=S41909SPS03_v0007ms" -e "deployer_kv_name=$(kv)" -e "kv_name=$(kv)" -e "s_user=$(S-Username)" -e "s_password=$(S-Password)" -e "sapbits_access_key=$(sapbits-access-key)" -e "sapbits_location_base_path=$(sapbits-location-base-path)" -e "sapbits_sas_token=$(sapbits-sas-token)" -e "check_storage_account=true" '

- stage: Check_BW4HANA2021SPS01_v0001ms
  jobs:
  - job: BW4HANA2021SPS01_v0001ms
    timeoutInMinutes: 0
    steps:
    - checkout: none
    - task: Ansible@0
      displayName: 'Run the BOM downloader for $(BOM)'
      inputs:
        ansibleInterface: 'agentMachine'
        playbookPathOnAgentMachine: $(Pipeline.Workspace)'/s/deploy/ansible/playbook_bom_downloader.yaml'
        inventoriesAgentMachine: 'noInventory'
        failOnStdErr: false
        args: '-e "bom_base_name=BW4HANA2021SPS01_v0002ms" -e "deployer_kv_name=$(kv)" -e "kv_name=$(kv)" -e "s_user=$(S-Username)" -e "s_password=$(S-Password)" -e "sapbits_access_key=$(sapbits-access-key)" -e "sapbits_location_base_path=$(sapbits-location-base-path)" -e "sapbits_sas_token=$(sapbits-sas-token)"-e "check_storage_account=false" '

- stage: Check_NW750SPS20_v0002ms
  jobs:
  - job: NW750SPS20_v0002ms
    timeoutInMinutes: 0
    steps:
    - checkout: none
    - task: Ansible@0
      displayName: 'Run the BOM downloader for $(BOM)'
      inputs:
        ansibleInterface: 'agentMachine'
        playbookPathOnAgentMachine: $(Pipeline.Workspace)'/s/deploy/ansible/playbook_bom_downloader.yaml'
        inventoriesAgentMachine: 'noInventory'
        failOnStdErr: false
        args: '-e "bom_base_name=NW750SPS20_v0003ms" -e "deployer_kv_name=$(kv)" -e "kv_name=$(kv)" -e "s_user=$(S-Username)" -e "s_password=$(S-Password)" -e "sapbits_access_key=$(sapbits-access-key)" -e "sapbits_location_base_path=$(sapbits-location-base-path)" -e "sapbits_sas_token=$(sapbits-sas-token)" -e "check_storage_account=false" '

