# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
# /*---------------------------------------------------------------------------8
# |                                                                            |
# |               Task: 1.4       - Package Installation for OS                |
# |                                                                            |
# +------------------------------------4--------------------------------------*/

# SUSE 12 Activate public cloud extension
- name:                                "1.4 Packages - SUSE12 - Activate public cloud extension"
  when:
    - ansible_distribution_major_version == "12"
    - tier == 'os'
  block:
    - name:                            "1.4 Packages - SUSE12 - Activate public cloud extension ({{ ansible_distribution_major_version }})"
      ansible.builtin.command: |
                                       SUSEConnect -p sle-module-public-cloud/12/x86_64
      register:                        cloud_extension
  rescue:
    - name:                            "1.4 Packages - SUSE12 - Wait 10 secs before retrying"
      ansible.builtin.wait_for:
        timeout:                       10
    - name:                            "1.4 Packages - SUSE12 - Activate public cloud extension ({{ ansible_distribution_major_version }})"
      ansible.builtin.command: |
                                       SUSEConnect -p sle-module-public-cloud/12/x86_64
      register:                        cloud_extension

# SUSE 15 Activate public cloud extension
- name:                                "1.4 Packages - SUSE15 - Activate public cloud extension"
  when:
    - ansible_distribution_major_version == "15"
    - tier == 'os'
  block:
    - name:                            "1.4 Packages - SUSE15 - Activate public cloud extension ({{ ansible_distribution_major_version }})"
      ansible.builtin.command: |
                                       SUSEConnect -p sle-module-public-cloud/{{ ansible_distribution_version }}/x86_64
      register:                        cloud_extension
      environment:
        ZYPP_LOCK_TIMEOUT:              "60"

  rescue:
    - name:                            "1.4 Packages - SUSE15 - Wait 10 secs before retrying"
      ansible.builtin.wait_for:
        timeout:                       10
    - name:                            "1.4 Packages - SUSE15 - Activate public cloud extension ({{ ansible_distribution_major_version }})"
      ansible.builtin.command: |
                                       SUSEConnect -p sle-module-public-cloud/{{ ansible_distribution_version }}/x86_64
      register:                        cloud_extension

# /*----------------------------------------------------------------------------8
# |                                    END                                      |
# +------------------------------------4---------------------------------------*/
