---
name: trivy

on:
  pull_request:
    types: [ 'opened', 'reopened', 'synchronize' ]
  merge_group:
  workflow_dispatch:


permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  build:
    name: 'trivy scan'
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

    - name: Run Trivy vulnerability scanner (file system)
      uses: aquasecurity/trivy-action@76071ef0d7ec797419534a183b498b4d6366cf37 # 0.31.0
      with:
        scan-type: 'fs'
        ignore-unfixed: true
        scan-ref: .
        format: 'sarif'
        scanners: 'vuln,secret,config'
        output: report-fs.sarif

    - name: Upload Trivy report (fs) GitHub Security
      uses: github/codeql-action/upload-sarif@76621b61decf072c1cee8dd1ce2d2a82d33c17ed # v3.29.8
      with:
        sarif_file: report-fs.sarif
        category: 'fs'
